<div class="footer section-space100" style="background-image: url('../assets/images/smefooter2.png'); 
        background-repeat: no-repeat;
        background-size: cover;background-color: white;
        font-size:14px;
        font-weight: 500; ">
  <!-- footer -->
  <div class="container">
  <div class="row" style="color: #fff; padding-top: 41px;">
                    <div class="col-lg-3 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
                      <img src="/assets/smeround.svg" id="footlogo"  style="zoom:0.3; margin-bottom: 25px; height:200px;" alt="smebazaar">

                        <p class="mt-4" style="text-align: justify;">SME Bazaar aims to provide the market place for SME Loans, Rating Advisory , Compliance and  Technology services to facilitate SME/MSME business and  to build a sustainable eco system for the business.</p>
                        <!--end icon-->
                    </div><!--end col-->
                    
                    
                    
            

                    
                
                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0" style="margin-top:40px !important; padding-left: 50px;">
                      <h4 id="footerlink" class="text-light footer-head">Address</h4>
                      <p id="footerlink"> SME BAZAAR
                     49,Vaidyaraman street
                     <br>
                      T.Nagar, Chennai,
                      <br>
                      Tamil Nadu 600017.</p>
                   

                      
                  </div><!--end col-->


         
             
                    
                    <div class="col-lg-3 col-md-3 col-3 mt-sm-0  pt-sm-0" id="footermobi1" style="padding-top: 50px !important; ">
                      <h4 class="text-light footer-head">Quick Links</h4>
                      <ul class="list-unstyled footer-list mt-4" class="link">
                          <li><a routerLink="/" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Home</a></li>
                          <li><a routerLink="/funding" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Funding</a></li>
                          <li><a routerLink="/rating" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Rating</a></li>
                          <li><a routerLink="/compliance" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Compliance</a></li>
                          <li><a routerLink="/technologies" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> Technology </a></li>
                      </ul>
                  </div><!--end col-->
                  
                  <div class="col-lg-3 col-md-3 col-3  mt-sm-0 pt-sm-0" style="margin: auto; padding-top: 60px !important;" id="footermobi">
                    <h4 class="text-light footer-head" >Contact Us</h4>
                    <p id="footerlink">SME BAZAAR</p> 
                    <p id="footerlink">+91 70108 40802</p>
                    <p id="footerlink" style="color:white">Email:<br><a >info@smebazaar.co.in</a></p>
                    <p routerLink="/privacypolicy" style="color:white"> <a routerLink="/privacypolicy" class="text-foot" style="color:#fff"><i class="mdi mdi-chevron-right mr-1"></i> Privacy Policy <br></a> <a routerLink="/termsandconditions" class="text-foot" style="color: #fff;"><i class="mdi mdi-chevron-right mr-1"></i>Terms & Conditions</a></p>
                    <ul class="list-unstyled social-icon social mb-0 mt-4">
                        <li class="list-inline-item"><a href="https://www.facebook.com/onstepapp/" target="blank" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/company/onstep"  target="blank" class="rounded"><i class="mdi mdi-linkedin" title="linkedin"></i></a></li>
                        <!-- <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li> -->
                    </ul>
                    
                </div> 
            </div><!--end row-->
  
</div>
</div>
