<div class="homeWrapper" style="height: 100.7%; background-image: url('/assets/bg.png'); background-color: rgba(235, 224, 224, 0.24) !important; border-radius: 0px !important;overflow: hidden; margin-top:-20px !important">  
  <div class="side2" *ngIf="backgroundimage=='poultry'"   [ngClass]="backgroundimage">

  </div>
    <div *ngIf="backgroundimage=='bakery'"  class="side2" [ngClass]="backgroundimage" >

  </div> 
    <div *ngIf="backgroundimage=='hotel'"   class="side2" [ngClass]="backgroundimage">

  </div> 
     <div *ngIf="backgroundimage=='factory1'"   class="side2" [ngClass]="backgroundimage">

  </div>
  <!-- hero-wrapper -->
  <br>
<br>
<br>


<!-- <div style="position: absolute; bottom: 0px;left:0px; background-color: blue; height: 382.5px; zoom: 0.6; opacity: 0.1;" > 

  <lottie-animation-view
[options]="rocket"
[width]="1125"
[height]="382.5  "
>
</lottie-animation-view>  
</div>
 -->


              <div class="innerpart">
                  <div class="container">
                      <div class="row">
                          <div class="col-12">
                              <h2 style="font-weight:800; color: black !important;">SME bazaar  <span class="d-block " style=" color: black !important;">A COMPLETE MARKETPLACE FOR SME & MSME</span></h2>
                          </div>  
                          <div class="col-12" style="margin-top: -80px;;">
                              <h2 style="font-weight:800; color: black !important;">
                                <span class="d-block " style="font-size: 22px; color:  black !important;">
                           
                                       <span style="color: #5f69ef; font-size: 22px;  display: inline-block ; "    >
                                         
                                        <teximate *ngIf="backgroundimage=='poultry'" #teximate [text]="'Hassle-free funding for your business.'" [enter]="enterAnimation"></teximate>
                                        <teximate *ngIf="backgroundimage=='bakery'" #teximate [text]="'All your rating needs under one roof.'" [enter]="enterAnimation"></teximate>
                                        <teximate *ngIf="backgroundimage=='hotel'" #teximate [text]="'Compliance to minimize the risk in your business.'" [enter]="enterAnimation"></teximate>
                                        <teximate *ngIf="backgroundimage=='factory1'" #teximate [text]="'Leverage the power of technology to take-off your business.'" [enter]="enterAnimation"></teximate>
                                    </span>  
                                    </span></h2>
                          </div>   
                                
                          <!-- <div class="col-12" style="margin-top: -80px;;">
                              <h2 style="font-weight:800; color: black !important;">
                                <span class="d-block " style="font-size: 22px; color:  black !important;">
                                     HE GOT
                                      <span style="color: #5f69ef; font-size: 22px;">
                                         
                                        <ng-container *ngIf="change==true">LOAN </ng-container>
                                        <ng-container *ngIf="change==false">LOAN </ng-container>
                                    </span> 
                                      FOR HIS
                                       <span style="color: #5f69ef; font-size: 22px;  display: inline-block ; "    >
                                         
                                        <teximate *ngIf="backgroundimage=='poultry'" #teximate [text]="'POULTRY'" [enter]="enterAnimation"></teximate>
                                        <teximate *ngIf="backgroundimage=='bakery'" #teximate [text]="'GARMENTS'" [enter]="enterAnimation"></teximate>
                                        <teximate *ngIf="backgroundimage=='hotel'" #teximate [text]="'HOTEL'" [enter]="enterAnimation"></teximate>
                                        <teximate *ngIf="backgroundimage=='factory1'" #teximate [text]="'PAPER CUP FACTORY'" [enter]="enterAnimation"></teximate>
                                    </span>  
                                    </span></h2>
                          </div>  -->
                          
                          <div  class="col-12">
                          <a (click)="selectit('funding')" style="width: 180px; height: 180px !important; font-weight:800;" class="carBox carplan text-center">
                            <img src="assets/fundingicon.svg" style="height: 60px; position: absolute !important; left: 10px; top:20px;" /> 
                             &nbsp;  <span class="color:red; position: absolute !important; top: -100px !important ">Funding</span> 
                            <button id="submitCarDetails"  style="font-size: 10px; color:white; position: absolute;  opacity: 1 !important; margin-top: 55px !important; margin-left: -82px !important; background-color: #6262f6 !important;"   class="btn buyPolicy mt-6 mb-4 mx-auto text-center">Apply Now&nbsp;</button>
                          </a>
                              <a (click)="selectit('rating')"  style="width: 180px; height: 180px !important; font-weight:800"  class="healthBox healthplan text-center">
                                <img src="assets/ratingicon.svg" style="height: 60px; position: absolute !important; left: 10px; top:20px;" /> 
                                &nbsp;  <span class="position: absolute; top: 0px !important ">Rating</span> 
                                  <button id="submitCarDetails"  style="font-size: 10px; color:white; position: absolute;  opacity: 1 !important; margin-top: 55px !important; margin-left: -62px !important;  background-color: #6262f6 !important;"   class="btn buyPolicy mt-6 mb-4 mx-auto text-center">Apply Now&nbsp;</button>
                              </a>
                              <a (click)="selectit('compliance')"style="width: 180px; height: 180px !important; font-weight:800"    class="bikeBox twplan text-center">
                                <img src="assets/compicon.svg" style="height: 60px; position: absolute !important; left: 10px; top:20px;" /> 

                                &nbsp;  <span class="position: absolute; top: 0px !important ">Compliance</span> 
                                  <button id="submitCarDetails"  style="font-size: 10px;  color:white; position: absolute;  opacity: 1 !important; margin-top: 55px !important; margin-left: -82px !important;  background-color: #6262f6 !important;"   class="btn buyPolicy mt-6 mb-4 mx-auto text-center">Apply Now&nbsp;</button>
                              </a>
                              <!-- <a href="javascript:void(0);" class="travelBox travelplan">&nbsp;  <span>Technology</span></a> -->
                                  

                              <!-- <div style="margin-left: -30px;">

                                <a (click)="selectit('funding')" style="width: 180px; height: 180px !important; font-weight:800;" class="carBox carplan text-center"> <img src="assets/money-bag.svg" style="height: 120px; position: absolute !important; left: -40px; top:-20px;" /> &nbsp;  <span class="color:red; position: absolute !important; top: -100px !important ">SME Loans</span> 
                                    <button id="submitCarDetails"  style="font-size: 10px; color:white; position: absolute;  opacity: 1 !important; margin-top: 55px !important; margin-left: -82px !important; background-image: linear-gradient(90deg, #3a4855, #3a4855);"   class="btn buyPolicy mt-6 mb-4 mx-auto text-center">Apply Now&nbsp;</button>
                                </a>
                                    <a (click)="selectit('rating')"  style="width: 180px; height: 180px !important; font-weight:800"  class="healthBox healthplan text-center"><img src="assets/award.svg " style="height: 120px; position: absolute !important; left: -40px; top:-20px;" />  &nbsp;  <span class="position: absolute; top: 0px !important ">Rating</span> 
                                        <button id="submitCarDetails"  style="font-size: 10px; color:white; position: absolute;  opacity: 1 !important; margin-top: 55px !important; margin-left: -62px !important; background-image: linear-gradient(90deg, #3a4855, #3a4855);"   class="btn buyPolicy mt-6 mb-4 mx-auto text-center">Apply Now&nbsp;</button>
                                    </a>
                                    <a (click)="selectit('compliance')"style="width: 180px; height: 180px !important; font-weight:800"    class="bikeBox twplan text-center"> <img src="assets/money-bag.svg" style="height: 120px; position: absolute !important; left: -40px; top:-20px;" />   &nbsp;  <span class="position: absolute; top: 0px !important ">Compliance</span> 
                                        <button id="submitCarDetails"  style="font-size: 10px;  color:white; position: absolute;  opacity: 1 !important; margin-top: 55px !important; margin-left: -82px !important; background-image: linear-gradient(90deg, #3a4855, #3a4855);"   class="btn buyPolicy mt-6 mb-4 mx-auto text-center">Apply Now&nbsp;</button>
                                    </a>
                                        
                                  </div> -->
                                  
                             
                              <!-- <img src="assets/images/open.png" style="height: 600px; bottom: -30px;  right:150px;position: absolute;">  -->
                              <img *ngIf="backgroundimage=='bakery'" src="assets/man1.png" style="pointer-events: none; height: 600px; bottom: -90px;  right:-70px;position: absolute;"> 
                              <img *ngIf="backgroundimage=='poultry'" src="assets/man2.png" style="pointer-events: none;height: 600px; bottom: -90px;  right:-70px;position: absolute;"> 
                              <img *ngIf="backgroundimage=='hotel'" src="assets/man4.png" style="pointer-events: none;  height: 600px; bottom: -90px;  right:-40px;position: absolute;"> 
                              <img *ngIf="backgroundimage=='factory1'" src="assets/man3.png" style="pointer-events: none; height: 600px; bottom: -90px;  right:60px;position: absolute;"> 
                              <!-- <img src="assets/images/cook.png" style="height: 600px; bottom: 30px;  left:50%; position: absolute;">  -->
                              <!-- OTP Section -->
                              <img class="sliderbutton" (click)="next()" src="assets/images/next.svg" style="height: 30px; bottom: 80px;  left:45%;position: absolute;"> 
                              <img class="sliderbutton" (click)="goback()" src="assets/images/back.svg" style="height: 30px; bottom: 80px;  left:40%;position: absolute;"> 


                              <div class="formSection d-none"  [ngClass]="{'d-none':clicked == '1'}"           id="verifyOTP"  >
                                
                                
                             
                                <div name="verifyOTPForm" id="verifyOTPForm"     *ngIf="selected=='technology'">
                                  <div class="row">
                                      <div class="col-12" >
                                          <!-- <h3 class="text-center">Save upto <strong>60%</strong> on Tw Insurance</h3> -->

                                      <a (click)="clicked='1'" class="back btn closeOtpPopUp"><i class="fa fa-arrow-left mr-1"></i>     </a>
                                      </div>
                                        <div class="col-12 text-center" >
                                          <!-- <h3 class="text-center">Save upto <strong>60%</strong> on Tw Insurance</h3> -->

                                      </div>
                                      
                                          <div class="col-8 text-center"  data-aos="fade-right">
                                              <h4 class="mb-3">Technology</h4>

                                              <p>Give Wings To your Business.
                                                  <br>
                                                   Leverage the power of technology to grow your business to 10X times.
                                                  <br>
                                                  <br>
                                                  <strong id="otpSentMobile">&#8226; &nbsp;CRM Tools </strong>
                                                  <br>

                                                  <strong id="otpSentMobile">&#8226; &nbsp;Server Space </strong>
                                                  <br>

                                                  <strong id="otpSentMobile">&#8226; &nbsp; Web & Mobile App Development</strong>
                                                  
                                                  </p>
                                                   <!--a href="javascript:void(0);" class="btn links py-0 px-4 mb-2 border-right hideDontRemember">Don't remember car no.?</a-->
                                              <button id="submitCarDetails"  (click)="popups.opensignup()"  class="btn buyPolicy mt-6 mb-4 mx-auto text-center" style="background-color: #6262f6 !important;" >Join Now&nbsp;</button>
                                              <a routerLink="/technologies" class="btn links py-0 px-4 mb-2 hideDontRemember">or Want to learn more?</a>
                                          </div> 
                                           <div class="col-4 text-center">
                                              <img src="assets/images/technology.png"  data-aos="fade-left" style="margin-top: 50px; margin-left: -50px; height: 190px;;" alt="" class="img-fluid">

                                                  
                                                <br>
              
                                                
                                                
                                          </div>
                                          <div class="col-12  text-center">
                                             

                                            </div>
                                  </div>

                                  </div>
                              
                                <div name="verifyOTPForm" id="verifyOTPForm"     *ngIf="selected=='compliance'">
                                  <div class="row">
                                      <div class="col-12" >
                                          <!-- <h3 class="text-center">Save upto <strong>60%</strong> on Tw Insurance</h3> -->

                                      <a (click)="clicked='1'" class="back btn closeOtpPopUp"><i class="fa fa-arrow-left mr-1"></i>     </a>
                                      </div>
                                        <div class="col-12 text-center" >
                                          <!-- <h3 class="text-center">Save upto <strong>60%</strong> on Tw Insurance</h3> -->

                                      </div>
                                      
                                          <div class="col-8 text-center"  data-aos="fade-right">
                                              <h4 class="mb-3">End to End Compliance for SME</h4>

                                              <p>The Regulatory and Compliance Program Services provided by SME Bazaar assist organizations in adapting to a changing regulatory environment.

                                                  <br>
                                                  <br>
                                                   <strong id="otpSentMobile">&#8226; &nbsp; Financial Advisory </strong>
                                                   <br>

                                                   <strong id="otpSentMobile">&#8226; &nbsp;Audit </strong>
                                                   <br>

                                                   <strong id="otpSentMobile">&#8226; &nbsp;Risk</strong>
                                                  
                                                  </p>
                                                   <!--a href="javascript:void(0);" class="btn links py-0 px-4 mb-2 border-right hideDontRemember">Don't remember car no.?</a-->
                                              <button id="submitCarDetails"  (click)="popups.opensignup()"  class="btn buyPolicy mt-6 mb-4 mx-auto text-center" style="background-color: #6262f6 !important;" >Join Now&nbsp;</button>
                                              <a routerLink="/compliance" class="btn links py-0 px-4 mb-2 hideDontRemember">or Want to learn more?</a>
                                          </div> 
                                           <div class="col-4 text-center">
                                              <img src="/assets/images/compliance.png"  data-aos="fade-left" style="margin-top: 50px; margin-left: -50px; height: 190px;;" alt="" class="img-fluid">

                                                  
                                                <br>
              
                                                
                                                
                                          </div>
                                          <div class="col-12  text-center">
                                             

                                            </div>
                                  </div>

                                  </div>

                                <div name="verifyOTPForm" id="verifyOTPForm"     *ngIf="selected=='rating'">
                                  
                                  <div class="row">
                                      <div class="col-12" >
                                          <!-- <h3 class="text-center">Save upto <strong>60%</strong> on Tw Insurance</h3> -->

                                      <a (click)="clicked='1'" class="back btn closeOtpPopUp"><i class="fa fa-arrow-left mr-1"></i>     </a>
                                      </div>
                                        <div class="col-12 text-center" >
                                          <!-- <h3 class="text-center">Save upto <strong>60%</strong> on Tw Insurance</h3> -->

                                      </div>
                                      
                                          <div class="col-8 text-center"  data-aos="fade-right">
                                              <h4 class="mb-3">Level of creditworthiness of an SME entity</h4>

                                              <p>SME rating refers to a rating which the company assigns to an entire range of debt instruments and financial entities.
                                                  <br>
                                                  <br>
                                                   <strong id="otpSentMobile">&#8226; &nbsp;Corporate Rating</strong>
                                                   <br>


                                                   <strong id="otpSentMobile">&#8226; &nbsp; Financial Rating</strong>
                                                   <br>

                                                  
                                                  </p>
                                                   <!--a href="javascript:void(0);" class="btn links py-0 px-4 mb-2 border-right hideDontRemember">Don't remember car no.?</a-->
                                              <button id="submitCarDetails"  (click)="popups.opensignup()" class="btn buyPolicy mt-6 mb-4 mx-auto text-center" style="background-color: #6262f6 !important;" >Join Now&nbsp;</button>
                                              <a routerLink="/rating" class="btn links py-0 px-4 mb-2 hideDontRemember">or Want to learn more?</a>
                                          </div> 
                                           <div class="col-4 text-center">
                                              <img src="../../../assets/images/ratings.png"  data-aos="fade-left" style="margin-top: 50px; margin-left: -50px; height: 190px;;" alt="" class="img-fluid">

                                                  
                                                <br>
              
                                                
                                                
                                          </div>
                                          <div class="col-12  text-center">
                                             

                                            </div>
                                  </div>

                                  </div>

                                <div name="verifyOTPForm" id="verifyOTPForm"     *ngIf="selected=='funding'">
                                  <div class="row">
                                      <div class="col-12" >
                                          <!-- <h3 class="text-center">Save upto <strong>60%</strong> on Tw Insurance</h3> -->

                                      <a (click)="clicked='1'" class="back btn closeOtpPopUp"><i class="fa fa-arrow-left mr-1"></i>     </a>
                                      </div>
                                        <div class="col-12 text-center" >
                                          <!-- <h3 class="text-center">Save upto <strong>60%</strong> on Tw Insurance</h3> -->

                                      </div>
                                      
                                          <div class="col-8 text-center"  data-aos="fade-right">
                                              <h4 class="mb-3">Funding to take off your business</h4>

                                              <p>Helping your business to reach its full potential. <br> We will help you every step of your way.
                                                  <br>
                                                  <br>
                                                   <strong id="otpSentMobile">&#8226; &nbsp; Unsecured Loans</strong>
                                                   <br>

                                                   <strong id="otpSentMobile">&#8226; &nbsp; Secured Loans</strong>
                                                   <br>

                                                   <strong id="otpSentMobile">&#8226; &nbsp; Trade Finance</strong>
                                                  
                                                  </p>
                                                   <!--a href="javascript:void(0);" class="btn links py-0 px-4 mb-2 border-right hideDontRemember">Don't remember car no.?</a-->
                                              <button id="submitCarDetails" (click)="popups.opensignup()" class="btn buyPolicy mt-6 mb-4 mx-auto text-center" style="background-color: #6262f6 !important;" >Join Now&nbsp;</button>
                                              <a routerLink="/funding" class="btn links py-0 px-4 mb-2 hideDontRemember">or Want to learn more?</a>
                                          </div> 
                                           <div class="col-4 text-center">
                                              <img src="/assets/images/fundingbg.png"  data-aos="fade-left" style="margin-top: 30px; margin-left: -50px; height: 200px;;" alt="" class="img-fluid">

                                                  
                                                <br>
              
                                                
                                                
                                          </div>
                                          <div class="col-12  text-center">
                                             

                                            </div>
                                  </div>

                                  </div>

                                  
                                  <form name="verifyOTPForm" id="verifyOTPForm"     *ngIf="otp=='getotp'">
                                      <input type="hidden" name="_csrfToken" value="a8cf6d94242d8ffe5cfa475ddb1ffe4ce1c508057878dafb2d405e04ab581cf98ed922df0eb8ab80806ca770c7aae1667de65259a268ca2a54b074f1d0de8415">
                                  <input type="hidden" name="sentOTP" id="sentOTP" value="">
                                                  
                                      <div class="row">
                                          <div class="col-12" >
                                          <a (click)="clicked='1'" class="back btn closeOtpPopUp"><i class="fa fa-arrow-left mr-1"></i>     </a>
                                          </div>
                                          
                                              <div class="col-12 text-center">
                                                  <h4 class="mb-3">Enter Mobile Number</h4>
                                                  <p>We will <span id="otpMsg">send </span> OTP to this number.</p>
          
                                                  <div class="inputGroup mt-2 w-25">     
                                                      <input class="inputEffect" type="text" name="receivedOTP" id="receivedOTP" maxlength="4" value="" required="" autocomplete="nope">
                                                      <label>Mobile Number </label>
                                                      <span class="error d-none">Enter valid mobile number.</span>
                                                  </div>
                                                  <button id="verifyOTPButton" class="btn buyPolicy mt-4 mx-auto">Get OTP </button>
                                                  <!-- <a href="javascript:void(0);" class="btn links mt-4 px-4 border-right" id="updateMobileButton"><i class="fa fa-mobile mr-1"></i> Change Mobile </a>
                                                  <a href="javascript:void(0);" class="btn links mt-4 px-4" id="resendOTP"><i class="fa fa-repeat mr-1"></i> Resend OTP </a> -->
                                              </div>
                                      </div>
                                  </form>

                                  <form name="verifyOTPForm" id="verifyOTPForm"     *ngIf="0">
                                      <input type="hidden" name="_csrfToken" value="a8cf6d94242d8ffe5cfa475ddb1ffe4ce1c508057878dafb2d405e04ab581cf98ed922df0eb8ab80806ca770c7aae1667de65259a268ca2a54b074f1d0de8415">
                                  <input type="hidden" name="sentOTP" id="sentOTP" value="">
                                                  
                                      <div class="row">
                                          <div class="col-12" >
                                          <a (click)="clicked='1'" class="back btn closeOtpPopUp"><i class="fa fa-arrow-left mr-1"></i>     </a>
                                          </div>
                                          
                                              <div class="col-12 text-center">
                                                  <h4 class="mb-3">Enter OTP</h4>
                                                  <p>Successfully <span id="otpMsg">sent </span> OTP on +91-<strong id="otpSentMobile">8295876075</strong></p>
          
                                                  <div class="inputGroup mt-2 w-25">     
                                                      <input class="inputEffect" type="text" name="receivedOTP" id="receivedOTP" maxlength="4" value="" required="" autocomplete="nope">
                                                      <label>Enter OTP </label>
                                                      <span class="error d-none">Enter Correct OTP.</span>
                                                  </div>
                                                  <button id="verifyOTPButton" class="btn buyPolicy mt-4 mx-auto">Verify </button>
                                                  <a href="javascript:void(0);" class="btn links mt-4 px-4 border-right" id="updateMobileButton"><i class="fa fa-mobile mr-1"></i> Change Mobile </a>
                                                  <a href="javascript:void(0);" class="btn links mt-4 px-4" id="resendOTP"><i class="fa fa-repeat mr-1"></i> Resend OTP </a>
                                              </div>
                                      </div>
                                  </form>
                              </div>
                              
                        
                           
                          
          
                          
          
                             
          
                        
                           
                              <div class="clearfix"></div>
                              <!-- <ul class="alsobuy">
                                  <li><a href="javascript:void(0);">Group Mediclaim</a></li>
                                  <li><a href="javascript:void(0);">Corporate Insurance </a></li>
                                  <li><a href="javascript:void(0);">Cancer Insurance </a></li>
                                  <li><a href="javascript:void(0);">ULIPs </a></li>
                              </ul> -->
                              
                              <div class="irdai">
                                  <!-- <span class="icon rounded-circle mr-4" ></span> -->
<br>
<br>
<br>
<br>
<br>
                                  <div style="width: 400px !important;" *ngIf="0">

                                      <div class="example-card">
                                        <div><br>
                                          <p style="
                                    color: #38526d;
                                    font-size: 16px;
                                    font-weight: 600;
                                    
                                    line-height: 18px;"> Business Loans </p>
                                          <p style="
                                     font-weight: 500;
                                     ">
                                            Get the best interest rates from the most trusted lenders. We'll help you find the best
                                            loan for you.
                                          </p>
                                        </div>
                                      </div>
                                    </div>
                                  <div class="info mt-3 pt-2">
                                    
                                        <style>
                                          .example-card {
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 0 30px 6px #eceff5;
  margin-bottom: 2%;
  background-color: #fff;

}

</style>
                                      <!-- <p>Licensed by</p>
                                      <h6>IRDAI/WBA 18/14 <small> (Valid till: 25 Feb 2021)</small></h6>
                                      <p><strong>CIN:</strong> U66000DL2011PTC214078</p> -->
                                  </div>
                              </div>
                                  
                              <div class="getapp d-none">
                                  <!-- <p class="mb-3">Get The App on</p>
                                  <img src="https://qbstatic.com/desktop/images/getapp.svg" alt="appicon"> -->
                              </div>
                              
                              <div class="getapp">
                                  <!-- <p class="mb-3">Get The App on</p>
                                  <a href="https://apps.apple.com/in/app/easypolicy/id1483045458" target="_blank" class="iosicon"></a> -->
                              </div>
                                  
                          </div>
                          </div>
                          
                      </div>
                  </div>
              </div>