
<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<div class="track" style="margin-left: 20%; margin-top: 10%;">
<mat-vertical-stepper [linear]="isLinear" #stepper >
 
 
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Case Id Generation</ng-template>
      <p>You are now done.</p>
      <div>
        <!-- <button mat-button matStepperPrevious>Back</button> -->
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Verify Documentation</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Loan Credited</ng-template>
    <p>You are now done.</p>
    <div>
      <!-- <button mat-button matStepperPrevious>Back</button> -->
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
</div>
<br>
<br>
<br>
<br>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">80%</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">65%</div>
            </div>
        </div>
    </div>
</div> -->
<br>
<br>
<br>
<br>
<br>

<div class="container">
	<div class="row">
        <div class="col-sm-3">
    		<div class="tile-progress tile-primary">
    			<div class="tile-header">
    				<h3>Check Our</h3>
    				<span>Loan sanction</span>
    			</div>
    			<div class="tile-progressbar">
    				<span data-fill="65.5%" style="width: 25.5%;"></span>
    			</div>
    			<div class="tile-footer">
    				<h4>
    					<span class="pct-counter">25.5</span>% Possible
    				</h4>
    				<span>For Your Loan Sanction</span>
    			</div>
    		</div>
        </div>
        </div>
        </div>


    
        
        
        

<!-- <input class="percentage" name="percentage" type="number" min="0" max="100" />%
<button type="button" class="draw">Draw Circle</button>
<button type="button" class="reset">Reset</button> -->
<!-- <meter value="1"></meter> -->
 <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear"> 
    {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
  </button>
  <mat-horizontal-stepper [linear]="isLinear" >
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>  -->