.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .track{
    width: 50%;
    min-height: 460px;
    margin-left:18% ;
    margin-bottom: 5%;
    box-shadow:  0 0 30px 6px #eceff5;
    background-color: #fff;
    border-radius: 12px;
    /* max-width: 550px; */
    position: relative;
    display: inline-block;
    padding: 3%;
   
  }


  .progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}




.tile-progress {
    background-color: #303641;
    color: #fff;
    }
    .tile-progress {
    background: #00a65b;
    color: #fff;
    margin-bottom: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    }
    .tile-progress .tile-header {
    padding: 15px 20px;
    padding-bottom: 40px;
    }
    .tile-progress .tile-progressbar {
    height: 2px;
    background: rgba(0,0,0,0.18);
    margin: 0;
    }
    .tile-progress .tile-progressbar span {
    background: #fff;
    }
    .tile-progress .tile-progressbar span {
    display: block;
    background: #fff;
    width: 0;
    height: 100%;
    -webkit-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    -moz-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    -o-transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    transition: all 1.5s cubic-bezier(0.230,1.000,0.320,1.000);
    }
    .tile-progress .tile-footer {
    padding: 20px;
    text-align: right;
    background: rgba(0,0,0,0.1);
    -webkit-border-radius: 0 0 3px 3px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 0 0 3px 3px;
    -moz-background-clip: padding;
    border-radius: 0 0 3px 3px;
    background-clip: padding-box;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    }




    .guage-holder {
        width: 220px;
        margin: 50px auto 0;
        position: relative;
        text-align: center;
      }
      
      .circle-mask {
        width: 220px;
        height: 106px;
        padding: 5px 10px 0;
        border-bottom: 1px solid #ccc;
        position: relative;
        text-align: center;
        overflow: hidden;
      }
      
      .circle, .circle-inner {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 10px solid #ccc;
        position: relative;
      }
      
      .circle-inner {
        position: absolute;
        top: -10px;
        left: -10px;
        border: 10px solid transparent;
        border-bottom: 10px solid #ec567b;
        border-left: 10px solid #ec567b;
        transition: .3s ease-in-out;
        transform: rotate(-45deg);
      }
      
      .circle-inner:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: white;
        border: 4px solid #ec567b;
        left: 14px;
        top: 14px;
      }
      
      .percentage {
        margin: 20px 0;
        font-weight: bold;
        color: #ed557b;
        font-size: 15px;
      }
      
      .text-box {
        width: 60px;
        height: 30px;
        text-align: center;
        padding: 0 10px;
        font-size: 15px;
        color: #666;
      }
      
      .gauge-copy {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        position: absolute;
        background: #b4dbc0;
        top: 50%;
        left: 50%;
        transition: .3s ease-in-out;
        transform: translate(-50%, -50%) rotate(0deg);
        margin: 8px 0 0;
      }
      
      .gauge-copy:after {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #f3ffbd;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      
      .gauge-copy:before {
        content: "";
        position: absolute;
        border: 7px solid transparent;
        border-right: 70px solid #b4dbc0;
        left: -75px;
        top: 8px;
        width: 0;
        height: 0;
      }


      


      .set-size {
        font-size: 10em;
   }
    .charts-container:after {
        clear: both;
        content: '';
        display: table;
   }
    .pie-wrapper {
        height: 1em;
        width: 1em;
        float: left;
        margin: 15px;
        position: relative;
   }
    .pie-wrapper:nth-child(3n + 1) {
        clear: both;
   }
    .pie-wrapper .pie {
        height: 100%;
        width: 100%;
        clip: rect(0, 1em, 1em, 0.5em);
        left: 0;
        position: absolute;
        top: 0;
   }
    .pie-wrapper .pie .half-circle {
        height: 100%;
        width: 100%;
        border: 0.1em solid #3498db;
        border-radius: 50%;
        clip: rect(0, 0.5em, 1em, 0);
        left: 0;
        position: absolute;
        top: 0;
   }
    .pie-wrapper .label {
        background: #34495e;
        border-radius: 50%;
        bottom: 0.4em;
        color: #ecf0f1;
        cursor: default;
        display: block;
        font-size: 0.25em;
        left: 0.4em;
        line-height: 2.8em;
        position: absolute;
        right: 0.4em;
        text-align: center;
        top: 0.4em;
   }
    .pie-wrapper .label .smaller {
        color: #bdc3c7;
        font-size: 0.45em;
        padding-bottom: 20px;
        vertical-align: super;
   }
    .pie-wrapper .shadow {
        height: 100%;
        width: 100%;
        border: 0.1em solid #bdc3c7;
        border-radius: 50%;
   }
    .pie-wrapper.style-2 .label {
        background: none;
        color: #7f8c8d;
   }
    .pie-wrapper.style-2 .label .smaller {
        color: #bdc3c7;
   }
    .pie-wrapper.progress-30 .pie .half-circle {
        border-color: #3498db;
   }
    .pie-wrapper.progress-30 .pie .left-side {
        transform: rotate(408deg);
   }
    .pie-wrapper.progress-30 .pie .right-side {
        display: block;
   }
    .pie-wrapper.progress-60 .pie {
        clip: rect(auto, auto, auto, auto);
   }
    .pie-wrapper.progress-60 .pie .half-circle {
        border-color: #9b59b6;
   }
    .pie-wrapper.progress-60 .pie .left-side {
        transform: rotate(216deg);
   }
    .pie-wrapper.progress-60 .pie .right-side {
        transform: rotate(180deg);
   }
    .pie-wrapper.progress-90 .pie {
        clip: rect(auto, auto, auto, auto);
   }
    .pie-wrapper.progress-90 .pie .half-circle {
        border-color: #e67e22;
   }
    .pie-wrapper.progress-90 .pie .left-side {
        transform: rotate(324deg);
   }
    .pie-wrapper.progress-90 .pie .right-side {
        transform: rotate(180deg);
   }
    .pie-wrapper.progress-45 .pie .half-circle {
        border-color: #1abc9c;
   }
    .pie-wrapper.progress-45 .pie .left-side {
        transform: rotate(162deg);
   }
    .pie-wrapper.progress-45 .pie .right-side {
        display: none;
   }
    .pie-wrapper.progress-75 .pie {
        clip: rect(auto, auto, auto, auto);
   }
    .pie-wrapper.progress-75 .pie .half-circle {
        border-color: #8e44ad;
   }
    .pie-wrapper.progress-75 .pie .left-side {
        transform: rotate(270deg);
   }
    .pie-wrapper.progress-75 .pie .right-side {
        transform: rotate(180deg);
   }
    .pie-wrapper.progress-95 .pie {
        clip: rect(auto, auto, auto, auto);
   }
    .pie-wrapper.progress-95 .pie .half-circle {
        border-color: #e74c3c;
   }
    .pie-wrapper.progress-95 .pie .left-side {
        transform: rotate(342deg);
   }
    .pie-wrapper.progress-95 .pie .right-side {
        transform: rotate(180deg);
   }
    .pie-wrapper--solid {
        border-radius: 50%;
        overflow: hidden;
   }
    .pie-wrapper--solid:before {
        border-radius: 0 100% 100% 0 / 50%;
        content: '';
        display: block;
        height: 100%;
        margin-left: 50%;
        transform-origin: left;
   }
    .pie-wrapper--solid .label {
        background: transparent;
   }
    .pie-wrapper--solid.progress-65 {
        background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
   }
    .pie-wrapper--solid.progress-65:before {
        background: #e67e22;
        transform: rotate(126deg);
   }
    .pie-wrapper--solid.progress-25 {
        background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
   }
    .pie-wrapper--solid.progress-25:before {
        background: #34495e;
        transform: rotate(-270deg);
   }
    .pie-wrapper--solid.progress-88 {
        background: linear-gradient(to right, #3498db 50%, #34495e 50%);
   }
    .pie-wrapper--solid.progress-88:before {
        background: #3498db;
        transform: rotate(43.2deg);
   }
    