<ng-container *ngIf="global.loaded==1">
  <app-header *ngIf="!global.ismobile"></app-header>
  <app-mobileheader *ngIf="global.ismobile"></app-mobileheader>
</ng-container>
<div style="padding:15%;padding-top:8%">
  <h3><b>Terms &amp; Conditions</b></h3>
  <hr>
  <p><b>All information provided to the user, through this website, is only for the purpose of providing relevant
      information to the user. The user is bound by the following terms &amp; conditions provided by JITAMITRA BUSINESS
      SOLUTIONS PRIVATE LTD(JBSPL); which owns the website "smebazaar.co.in" :</b></p>
      <ol>
        <li>The website provides information to the user for his own consumption, and the user is willing to collect for his
    own interest and &nbsp; benefit, more information about JBSPL and its services.</li><li> The user has willingly, and out of
    his free will, provided the details entered in the website.</li><li> The user has authorized smebazaar.co.in, its
    partner institutions to call/SMS the user with respect to his/her application. This &nbsp;&nbsp;consent overrides DNC/NDNC.</li><li>
    The user is governed by the "Privacy Policy" of JBSPL, available in the website. The user is presumed to have
    read, understood &nbsp;&nbsp;and accepted the privacy policy/disclaimer clauses provided in website.</li><li> This website is not
    exhaustive, and does not guarantee or warranty to be complete or upto date.</li><li> The user shall be responsible for
    maintaining confidentiality of login/passwords given through this website.</li><li> JBSPL reserves the right to suspend
    or terminate or restrict access to any user to any portion of this website.</li><li> The user has agreed to use this
    website in a lawful manner.</li><li> JBSPL assumes that the user has provided information that is genuine and passes on
    the information to the banks/Nbfc, in &nbsp;&nbsp;full faith and confidence.</li><li> JBSPL is a neutral marketplace and the
    products thus displayed in the website by JBSPL does not suggest or recommend the &nbsp;&nbsp;user to purchase any of these
    products, and the user is at free will to use or not use any of these products.</li><li> The products displayed in the
    website, is only indicative, and subject to changes at any point in time without prior intimation&nbsp;&nbsp; to the user.</li><li>
    The user has no rights to use or copy any trademarks, logos, domain names and other distinctive features provided
    in the website by JBSPL</li><li> JBSPL does not guarantee the user that these credit facilities displayed or applied
    by him through this website, would be sanctioned or disbursed, and accepts no responsibility or liability in case
    the credit facilities selected by the user is declined by the Banks/Nbfc.</li><li> smebazaar.co.in or&nbsp; JBSPL
    makes no endorsement for any brand of banks/Nbfc displayed in the website, and does not warranty any links from this
    website to other websites, entities.</li><li> JBSPL expressly disclaims and will not be liable for any omission or
    consequence thereof by the user, acted upon through the information provided in the website.</li><li>JBSPL is not
    liable for any interpretation of any information contained in this website, by the user, either express or
    implied.</li><li>The user on clicking the agree/submit button is assumed to have read these terms &amp; conditions
    and is willing to abide by these terms and conditions.</li><li>The above terms and conditions may be modified at the
    discretion of JBSPL, and the users would be governed by the terms and conditions effective at that point in time,
    i.e. at the time of usage of this website by the user.</li><li>In case, the user feels that at any point in time, he
    is not agreeable to the above terms and conditions or any of the information provided by the website, he/she is at
    his free will to exit the website at any time of his convenience. smebazaar.co.in/JBSPL does not restrict the user's
    right to do so.</li><li>For any queries/support/complaints, please write to us at info@smebazaar.co.in</li>
  </ol>
</div>
<app-footer></app-footer>