<app-header></app-header>

<div class="homecard"   style="width:100%; height:100%;" >

  <swiper class="swiper-container" style="height:100%; width: 100%" [config]="config" (indexChange)="1" fxFlex="auto">
    <div  class="swiper-slide"> <div class="smeslide" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
      <app-intro4></app-intro4>
     </div>
    </div>  
      <div  class="swiper-slide"> <div class="smeslide" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
      <app-contentforhome> </app-contentforhome>
     </div>
    </div>
   
  
 
    
   
  </swiper>
   </div>