<ng-container *ngIf="global.loaded==1">
  <app-header *ngIf="!global.ismobile"></app-header>
  <app-mobileheader *ngIf="global.ismobile"></app-mobileheader>
  <div class="container" >

      <div class="row">
  
        <div class="col-md-12 mt40">
  
          <div class="page-breadcrumb">
  <app-filter > </app-filter> 
</div>
</div>
</div>
</div>
<app-footer></app-footer>
