
<div class="header-transparent navbar-fixed-top"   #pageMenu [ngClass]="{'white':stickyNavMenu}"  >
    <style>
.white{
background-color: white;
box-shadow: 0 0 30px 6px #eceff5;
}

.logosmall{
   height:60px !important; 
   margin-top: -5px !important;
}
.navup{
    margin-top: -20px !important;
}


        </style>
    <div class="container"   [ngClass]="{'navup':stickyNavMenu}" >
        <div class="row">
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12" style="margin-left: -60px;">
                <!-- logo -->
                <div class="logo" style="padding-bottom: 10px;">
                    <a routerLink="/home"   ><img src="/assets/smeround.svg"  [ngClass]="{'logosmall':stickyNavMenu}" style="height:100px; width: 100px; margin-top: -20px;"  alt="smebazaar"></a>
                </div>  
                <!-- <div  *ngIf="logo=='2'" class="logo" style="padding-bottom: 10px;">
                    <a (click)="logo='3'" ><img src="/assets/smelogo2.svg"  [ngClass]="{'logosmall':stickyNavMenu}" style="height:200px; width: 530px; margin-top: -80px; margin-left:-80px; left:0% !important"  alt="smebazaar"></a>
                </div>
                 
                   <div  *ngIf="logo=='3'" class="logo" style="padding-bottom: 10px;">
                    <a (click)="logo='4'" ><img src="/assets/smelogo3.svg"  [ngClass]="{'logosmall':stickyNavMenu}" style="height:100px; width: 100px; margin-top: -40px;"  alt="smebazaar"></a>
                </div>  
                               <div  *ngIf="logo=='4'" class="logo" style="padding-bottom: 10px;">
                    <a (click)="logo='5'" ><img src="/assets/smelogo4.svg"  [ngClass]="{'logosmall':stickyNavMenu}" style="height:100px; width: 100px; margin-top: -33px;"  alt="smebazaar"></a>
                </div>  
                <div  *ngIf="logo=='5'" class="logo" style="padding-bottom: 10px;">
                    <a (click)="logo='1'" ><img src="/assets/smelogo5.svg"  [ngClass]="{'logosmall':stickyNavMenu}" style="height:100px; width: 100px; margin-top: -30px;"  alt="smebazaar"></a>
                </div>   -->
            
            
            </div>
            <!-- logo -->
            <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
                <div id="navigation" style="position: fixed; margin-left: -90px;">
                    <!-- navigation start-->
                    <ul>
                        <li class="active" ><span class="submenu-button"></span><a  [ngClass]="whitecolor"  routerLink="/home"class="animsition-link">Home</a>

                        </li>
                        <li ><span class="submenu-button"></span><a routerLink="/funding"  [ngClass]="whitecolor" class="animsition-link"> Funding</a>

                        </li>
                        <li ><span class="submenu-button"></span><a routerLink="/rating"  [ngClass]="whitecolor" class="animsition-link">Ratings
                                </a>

                        </li>
                        <li ><span class="submenu-button"></span><a  [ngClass]="whitecolor" routerLink="/compliance"
                                class="animsition-link">Compliance</a>

                        </li>
                        <li ><span class="submenu-button"></span><a  [ngClass]="whitecolor" routerLink="/tools"
                                class="animsition-link">Tools</a>

                        </li>
                        <li><span class="submenu-button"></span><a [ngClass]="whitecolor"  (click)="global.scrolltoabout()"
                            class="animsition-link" style="cursor: pointer;">About Us</a> 

                    </li>   
                                         <li><span class="submenu-button"></span><a [ngClass]="whitecolor"  (click)="global.scrolltowhy()"
                            class="animsition-link" style="cursor: pointer;">Why SME BAZAAR</a> 

                    </li>
                        <!-- <li><span class="submenu-button"></span><a routerLink="/login"
                                class="animsition-link">Login</a>
  
                        </li> -->
                    </ul>
                </div>
                <!-- /.navigation start-->
            </div>
            <a href="http://facebook.com"  [ngClass]="{'tocolor':!stickyNavMenu && thishome=='yes' }" style="position: fixed; right: 250px; margin-top: 10px;" ><img  style="height: 15px" src="/assets/facebook.svg" /></a>
            <a href="http://twitter.com"   [ngClass]="{'tocolor':!stickyNavMenu && thishome=='yes' }" style="position: fixed; right: 225px; margin-top: 10px;" ><img  style="height: 15px"  src="/assets/twitter.svg" /></a>
            <a href="http://linkedin.com"   [ngClass]="{'tocolor':!stickyNavMenu && thishome=='yes' }" style="position: fixed; right: 195px; margin-top: 10px;" ><img  style="height: 15px"  src="/assets/linkedin.svg" /></a>

            <button class="btn-splatter" style="position: fixed; right: 30px; margin-top: 10px;" (click)="popups.opensignup()"> Apply Now  </button>

        </div>
    </div>
</div>