<ion-toolbar transparent>
  <ion-buttons slot="start" (click)="cancel()" >
    &nbsp; &nbsp; <img style="height:20px" src="assets/back.svg">
  </ion-buttons>
  <ion-title>SME Bazaar</ion-title>
</ion-toolbar>

<ion-card-header> 
 <ng-container *ngIf="type=='funding'">

  <img style="height:190px; float:right" src="http://smebazaar.onstep.in/assets/images/funding.svg">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-card-subtitle>SME LOANS</ion-card-subtitle>
  <ion-card-title>Funding to take off your business
  </ion-card-title> 
<br>

<br>

<br>
  <p>
    Helping your business to reach its full potential.
We will help you every step of your way.
  </p>
<p> 
    <br>
  <strong>• &nbsp; Unsecured Loans</strong><br>
  <strong>• &nbsp; Secured Loans</strong><br>
  <strong>• &nbsp; Trade Finance</strong></p>
</ng-container>
<ng-container *ngIf="type=='ratings'">

  <img style="height:190px; float:right" src="http://smebazaar.onstep.in/assets/images/ratin.png">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-card-subtitle>SME RATINGS</ion-card-subtitle>
  <ion-card-title>Level of creditworthiness of an SME entity
  </ion-card-title> 
<br>

<br>

<br>
  <p>
    SME rating refers to a rating which the company assigns to an entire range of debt instruments and financial entities.
  </p>
<p> 
    <br>
  <strong>• &nbsp; Corporate Ratings</strong><br>
  <strong>• &nbsp; Financial Ratings</strong><br>
  <strong>• &nbsp; Other Ratings</strong></p>
</ng-container>
<ng-container *ngIf="type=='compliance'">

  <img style="height:140px; float:right" src="http://smebazaar.onstep.in/assets/images/comp.png">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-card-subtitle>SME COMPLIANCE</ion-card-subtitle>
  <ion-card-title>Compliance is mandatory, even for SMEs
  </ion-card-title> 
<br>

<br>

<br>
  <p>
    The Regulatory and Compliance Program Services provided by SME Bazaar assist organizations in adapting to a changing regulatory environment.
  </p>
<p> 
    <br>
  <strong>• &nbsp; Audit</strong><br>
  <strong>• &nbsp; Financial Advisory</strong><br>
  <strong>• &nbsp; Risk</strong><br>
  <strong>• &nbsp; Tax</strong></p>
</ng-container>
<ng-container *ngIf="type=='technology'">

  <img style="height:190px; float:right" src="../../assets/images/technology.png">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ion-card-subtitle>SME TECHNOLOGY</ion-card-subtitle>
  <ion-card-title>Give Wings To your Business
  </ion-card-title> 
<br>

<br>

<br>
  <p>
    Leverage the power of technology to grow your business to 10X times.


  </p>
<p> 
    <br>
  <strong>• &nbsp;   CRM Tools  </strong><br>
  <strong>• &nbsp; Server Space</strong><br>
  <strong>• &nbsp; Web & Mobile App Development</strong></p>
</ng-container>
</ion-card-header>

<ion-footer style="position: fixed; bottom: 0px;">
  <ion-toolbar transparent  (click)="popups.opensignup()" >
  <!-- <ion-buttons >
   <span style="font-weight:700"   > Join now</span>  &nbsp; &nbsp; <img style="height:20px" src="assets/next.svg">&nbsp;&nbsp;&nbsp;&nbsp;
  </ion-buttons> -->
  <ion-title>
    
    <span style="font-weight:700"   > Join now</span>  &nbsp; &nbsp; <img style="height:20px;" src="assets/next.svg">&nbsp;&nbsp;&nbsp;&nbsp;

  </ion-title>

</ion-toolbar>


</ion-footer>