<div class="bg-white section-space80" style="
min-height: 100% !important;
overflow: hidden; background:white;
background-repeat: no-repeat;
background-size: cover; background-position: 0px 0px;">
  <div class="container" >
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb100 text-center section-title">
          <!-- section title start-->
          <h1>Funding</h1>
          <!-- <p>Providing right insurance cover by providing unbiased quotes and product comparison.</p> -->
        </div>
        <!-- /.section title start-->
      </div>
    </div>   
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

        <div class="example-card"  >
          <img class="example-header-image" style="width:65px;height:65px" src="assets/images/loan_icon_2.png">
          <div><br>
           <p style=" margin-top:10px;
          color: #4d6f94;
          font-size: 20px;
          text-align: center;
          font-weight: 500;
          
          line-height: 16px;"> Unsecured Loans </p>
            <p style="
            font-weight: 400;
            color:#3c5670;
            text-align: center;
            ">
              Unsecured loans are approved without the need for collateral. Lenders do not have the right to take physical assets if borrowers stop making payments on unsecured loans.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

        <div class="example-card"  >
          <img class="example-header-image" style="width:65px;height:65px" src="assets/images/loan_icon_3.png">
          <div><br>
            <p style=" margin-top:10px;
            color: #4d6f94;
            font-size: 20px;
            text-align: center;
            font-weight: 500;
            
            line-height: 16px;"> Secured Loans </p>
            <p  style="
            font-weight: 400;
            color:#3c5670;
            text-align: center;
            ">
             In secured loan, the borrower pledges some property as collateral for the loan, which then becomes a secured debt owed to the creditor who gives the loan.This idea is a basic one.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

        <div class="example-card"  >
          <img class="example-header-image" style="width:65px;height:65px" src="assets/images/loan_icon_1.png">
          <div>
            <br>
            <p style=" margin-top:10px;
            color: #4d6f94;
            font-size: 20px;
            text-align: center;
            font-weight: 500;
            
            line-height: 16px;"> Export Finance </p>
            <p style="
            font-weight: 400;
            color:#3c5670;
            text-align: center;
            ">
              Export finance signifies both domestic and international trade transactions. A trade transaction requires a seller of goods and services as well as a buyer. Pre-shipment is disbursed in Rupees.
            </p>
          </div>
        </div>
      </div>
      


    </div>

    <div class="row" style="margin-bottom: -5%;">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center">
        <!-- <a href="#" class="btn btn-default">Apply Now</a> </div> -->
      </div>
    </div>
  </div>
</div>