<br>
<br>
<br>
<ion-content style="height:95%; "> 

      <ion-card-header>
        <ion-card-subtitle>Best SME loans in India</ion-card-subtitle>
        <!-- <ion-card-title>Card Title</ion-card-title> -->
      </ion-card-header>

      <ion-list>
         
          <ion-item-divider sticky color="xd" style="background-color: white">
              <ion-label>
                Loans

              </ion-label>
            <!-- <ion-button style="background-color: white; color:black"  size="small" fill="outline">Filter </ion-button>  -->
            <ion-button class="mybutton" style="background-color: rgba(115, 104, 122, 0.63) !important; color:black !important;"  style="zoom:0.7" slot="end" color="0primary"> <i  style="zoom:1.2" class="fa fa-filter"></i> &nbsp; Filter </ion-button>

            <style>
            .mybutton {
             background-color: rgba(115, 104, 122, 0.63) !important; 
             
            }
            </style>
            </ion-item-divider>
  <ng-container *ngFor="let x of [0,1,2,3,4,5,7,8,9]"> 
          <ion-item  lines="none">
            <ion-avatar slot="start">
              <img src="https://www.bankbazaar.com/images/mobile-app/small-logo/yes_bank.png">
            </ion-avatar>
            <ion-label>
             
              
              <ion-row>
                  <ion-col size="12">
                      <h2>Comercial loan</h2>

                  </ion-col>
                 
                  <ion-col size="6">
                   10% - 16% 
                   <h3>Interest</h3>

                  </ion-col>
                 
                  <ion-col size="6">
                   10% - 16% 
                   <h3>Proccesing fee</h3>

                  </ion-col>
                 
                  <ion-col size="6">
                   10 lac - 30 lac 
                  <!-- <ion-button size="small">Small</ion-button> -->
                  <!-- <ion-badge color="dark">11</ion-badge> -->


                  </ion-col>
                  <ion-col size="4">
                   
                  <ion-button style="zoom:0.7" color="0primary">Apply now</ion-button>

                  </ion-col>
                 
              
                </ion-row>
              <!-- <h3>I'm a big deal</h3>
              <p>Listen, I've had a pretty messed up day...</p> -->
            </ion-label>
            
          </ion-item>
          <!-- <ion-list-header class="ion-text-center" color="dark" style="background-color: brown; height:10px; text-align: center">
             More details
            </ion-list-header> -->
            <!-- <div style="height: 2px; background-color:white; width: 100%;"> 
            
                        </div> -->
            <div style="height: 20px; background-color:rgba(156, 156, 184, 0.726); width: 100%;"> 
              <ion-row>
               
               
                <ion-col size="6">
                  <p style="font-size: 12px; color: white; margin-top:-5px; font-weight: 500; ">  No paper works </p>  

                 <h3>Interest</h3>

                </ion-col>
               
                <ion-col size="6">
                  <p style="font-size: 12px; color: white; text-align: right; margin-top:-5px; font-weight: 500;  ">  More details &nbsp;  <i style="margin-top: -15px !important; zoom:1.2" class="fa fa-sort-desc"></i>  &nbsp;</p>  
                 <h3>Proccesing fee</h3>

                </ion-col>
               
             
            
              </ion-row>

           
                    </div>
          </ng-container>
      </ion-list>

</ion-content>
