<ng-container *ngIf="global.loaded==1">
  <app-header *ngIf="!global.ismobile"></app-header>
  <app-mobileheader *ngIf="global.ismobile"></app-mobileheader>
</ng-container>
<div style="padding:15%;padding-top:8%">
  <div class="fl-rich-text">
    <p>
      <!-- wp:paragraph -->
    </p>
    <p><strong>PRIVACY POLICY :</strong></p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p>This privacy policy of smebazaar.co.in tells you that JITAMITRA BUSINESS SOLUTIONS PRIVATE LTD(JBSPL), the Firm
      which owns the brand smebazaar.co.in, collects and uses all information collected through the website in a lawful
      manner. The users are hereby advised to read this privacy policy before using this website, or submitting personal
      and sensitive data or information. The information thus entered by the user would be kept confidential and assured
      that it will be protected by us. The user by logging on and using the website is deemed to have accepted this
      privacy policy. This privacy policy is subject to revision from time to time, and the revised policy would be
      updated in the website. The users are advised to review the privacy policy whenever you visit the site-
      smebazaar.co.in.</p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p><strong>A. Contact Clause</strong></p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p>The user, by sharing his/her contact number at our website, is authorizing JBSPL, its partner banks, NBFCs and
      its representatives to get in touch with the user, receive promotional calls and offer products and services
      available in this website. This clause overrides the fact that you are registered under DNC/NDNC service, and that
      the user authorizes such calls from its partner banks, NBFCs, Financial institutions.</p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p><strong>B. Data Collection or Information gathering</strong></p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p>JBSPL, its employees and agents are authorized to collect relevant information, for the purpose of facilities
      requested by the user in the website, which may also include personal and sensitive information, and assist
      you/guide you in all possible requests from the user's end.<br> <strong>The data/information thus obtained may be
        in the form of :</strong><br> ✔ All personal related details such as name, address-both residential and
      official, date of birth, PAN, mobile and landline number, and proofs related to all the above.<br> ✔All financial
      information about the user’s business, employment, income and assets, and proofs related to all of these.<br> ✔All
      information related to income tax returns, bank statements, payslips, proof of any form of income.<br> ✔Any other
      information which may be required by JBSPL to determine the eligibility to avail the products or services
      mentioned in the website.<br> ✔Any relevant information which the banks/NBFCs may require or call for, for the
      purpose of availing products or services, or for statutory compliances under law..</p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p><strong>C. Sharing of Information</strong><br> <strong>JBSPL&nbsp;would share such information obtained for the
        following purposes :</strong><br> ✔With Banks/NBFCs or third parties/agents for the purpose of availing the
      products or services requested by the user.<br> ✔To protect the user from any fraudulent/unauthorized
      transactions.<br> ✔Required for any statutory compliance by the law and order, court order or government agencies
      or income tax department.<br> ✔The user can at any point of time, withdraw being a member of the smebazaar family,
      by sending a mail to info@smebazaar.co.in, and the information collected would be kept confidential.<br> ✔The user
      can be rest assured that all information thus collected would be kept confidential and used only for business
      transactions, legal and compliances.</p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p><strong>D. Related websites</strong></p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p>smebazaar.co.in may have links with websites of Banks/NBFCs and other parties, where their privacy policies may
      differ from ours. In case, the user access those websites through our website and provides information to them,
      then the user would be governed by the privacy polices/terms and conditions of that website. Hence, users are
      requested to go through their privacy policy clauses before submitting their information in that website.</p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p><strong>E. Information Security clause</strong></p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p>The user's information would be kept safe and secure by us. Our systems are protected by firewalls, SSL
      encryption and authenticated for the security purposes for our website. The information obtained shall be
      maintained and complied as per the laws prevailing in India.</p>
    <p>
      <!-- /wp:paragraph -->
    </p>
    <p>
      <!-- wp:paragraph -->
    </p>
    <p>However, JBSPL or smebazaar absolves itself and its representatives, employees or directors from any unauthorized
      transactions through our website by the user or third party, omissions/ errors beyond our reasonable control.
      JBSPL or smebazaar would not be responsible for any breach of security. In case, such breach of security is known
      to us, we shall intimate the user, within reasonable time to take appropriate time, and the best of our ability
      try to take action to rectify the same.</p>
    <p>
      <!-- /wp:paragraph -->
    </p>
  </div>
</div>
<app-footer></app-footer>
