
  <div class="listing" style="background-color: #fff !important;padding-top: 5%;"  >
   
      <div class="container">
        <div class="row">
           
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
       
      <div class="pdb40 compare-table" style="display: inline-block; width: 100%;">
         
                      <div class="bg-white table-responsive" style=" border-radius: 20px;box-shadow: 0 0 30px 6px #eceff5;">
                          <table class="table" >
                              <thead  *ngIf="global.filter!='1'">
                                  <tr>
                                      <th style="width:31%;" class="card-tag">Bank</th>
                                      <th style="width:28%;" class="card-name">Interest Rate Range</th>
                                      <th style="width:25%;" class="anuual-fees">Processing Fee Range</th>
                                      <!-- <th style="width:30%;" class="reward-rate">Loan Amount</th> -->
                                      <th  style="width:20%;" class="action">Action</th>
                                  </tr>
                              </thead>
                              <tbody *ngIf="global.filter!='1'"> 
                                <tr *ngFor="let x of list">
                                  
                                    <td><img src="http://13.126.161.129/smebackend{{x.image}}" alt=""  class="img-fluid" >
                                        <!-- <div class="icon rate-done mb10"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star "></i></div> -->
                                    
                                    </td>

                                    <td>
                                        <span class="text-dark compare-card-title">
                                            {{x.interestrange}}</span>
                                        <br>
                                    </td>
                                <td class="text-dark text-bold">{{x.feerange}}</td>
                                    <!-- <td class="text-dark text-bold">{{x.loanamount}}</td> -->
                                    <td class="text-center">
                                        <a href="#" class="btn btn-default btn-sm mb5">Apply Now</a>
                                        <!-- <br><small>on bank's secure application</small> -->
                                        <!-- <div class="mt10"><a class="btn-link" id="example-one" data-text-swap="Hide Details" data-text-original="Expand Details" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Expand Details </a></div> -->
                                    </td>
                                </tr>
                                  <!-- <tr>
                                      <td colspan="12" class="expandable-info">
                                          <div class="collapse expandable-collapse" id="collapseExample">
                                              <div class="row">
                                                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                      <div class="card border-0">
                                                          <div class="card-body">
                                                              <h4 class="mb20">Card Information</h4>
                                                              <ul class="bullet bullet-check-circle list-unstyled">
                                                                  <li>$150 credit for spending $500 in first 3 months</li>
                                                                  <li>3% back at gas stations</li>
                                                                  <li>2% back at grocery stores</li>
                                                                  <li>1% back on regular purchases</li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                      <div class="card border-0">
                                                          <div class="card-body">
                                                              <h4 class="mb20">What We Like</h4>
                                                              <ul class="bullet bullet-check-circle list-unstyled">
                                                                  <li>1% APR on regular purchases for first 12 months</li>
                                                                  <li>1% APR on balance transfers for first 12 months</li>
                                                                  <li>11% bonus when redeeming rewards into a Bank of Borrow checking or savings account</li>
                                                                  <li>No annual fee</li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                      <div class="card border-0">
                                                          <div class="card-body">
                                                              <h4 class="mb20">What to Consider</h4>
                                                              <ul class="bullet bullet-check-circle list-unstyled">
                                                                  <li>Regular APR: 13.99% - 23.99%, variable</li>
                                                                  <li>Balance Transfer APR: 13.99% - 23.99%, variable</li>
                                                                  <li>Cash Advance APR: 16.99% - 25.99%, variable</li>
                                                                  <li>Penalty APR: 29.99%, variable</li>
                                                                  <li>3% foreign transaction fee</li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-xl-12">
                                                      <div class="mt30">
                                                          <h4 class="mb5">Related Information</h4>
                                                          <p>See additional details for <a  >BankBorrow</a> Cash Rewards for Borrow Moneyback</p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </td>
                                  </tr> -->
                              </tbody>
                            
                          </table>
                      </div>
                  </div>
             
        
      </div>
    </div>
      </div>
    </div>
  <!-- <app-footer></app-footer> -->
      
  