<app-header *ngIf="!global.ismobile"></app-header>
  <app-mobileheader *ngIf="global.ismobile"></app-mobileheader>


  <div class="card-hero-section" style="overflow: hidden; background:white;background-image:url('../../../assets/images/headerbg.svg');background-position: 300px 0;
  background-repeat: no-repeat;
  background-size: cover;">
      <div class="container">
        <div class="row" style="margin-top:10%;margin-bottom:6%;">
          <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- hero-caption -->
            <div class="card-hero-block">
              <h1 class="text" style="color:#3c5670;font-size: 32px;font-weight: 600;letter-spacing: 0.1em;margin-bottom: 8%;"> Financial  Tools
              </h1>
              <!-- <p class="text" style="color:#3c5670; font-weight: 400;">SME rating refers to a rating which the company assigns to an entire
                range of debt instruments and financial entities.</p> -->
                <div routerLink="/ifsc" class="ay-box ay-one row aos-init aos-animate " 
                data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px; cursor: pointer;
            border-radius: 20px;background: white;
            opacity: 1;
            box-shadow: 0 0 30px 6px #eceff5;
            margin-bottom: 2%;  width: 350px;  margin-bottom: 30px; margin-left: 13px; ">
                <div class="col-4" style="   padding: 0px;">
                  <img src="assets/ifsc.svg" style="height: 30px; margin-left: 25px;" alt="smebazaar">
        
                </div>
                <div class="col-8 ">
                  <h3 style="color: #3c4d6b;">
                    IFSC Finder</h3>
                 
                </div>
        
              </div>
              <div routerLink="/calculator" style="cursor: move;" class="ay-box ay-one row aos-init aos-animate " 
                data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;cursor: pointer;
            border-radius: 20px;background: white;
            opacity: 1;
            box-shadow: 0 0 30px 6px #eceff5;
            margin-bottom: 2%;  width: 350px;  margin-bottom: 30px; margin-left: 13px; ">
                <div class="col-4" style="   padding: 0px;">
                  <img src="assets/cal.svg" style="height: 30px; margin-left: 25px; " alt="smebazaar">
        
                </div>
                <div class="col-8 ">
                  <h3 style="color: #3c4d6b;">
                    EMI Calculator</h3>
                 
                </div>
        
              </div>
                <!-- <ul class="text" style="color:#3c5670">
                  <li>&nbsp;&nbsp;IFSC Finder</li>
                  <li>&nbsp;&nbsp;EMI Calculator</li>
                </ul> -->
              <div class="mt30">
  
  
  
                <!-- <a class="btn btn-default" style="background-color: #6262f6 !important; color: white; margin-left: 19px;"  (click)="popups.opensignup()">Apply Now</a> -->
  
  
              </div>
            </div>
            <!-- /.hero-caption -->
          </div>
          <div id="ratimg" data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right">
            <div class="mt10" style="margin-top: -20%">
              <img src="../../../assets/calculator.svg" style="zoom:0.3" alt="smebazaar" class="img-fluid">
            </div>
          </div>
  
  
  
  
        </div>
      </div>
  
    </div>