<ng-container *ngIf="global.loaded==1">
  <app-header *ngIf="!global.ismobile"></app-header>
  <app-mobileheader *ngIf="global.ismobile"></app-mobileheader>

  <div class="card-hero-section" style="overflow: hidden; background:white;background-image:url('../../../assets/images/headerbg.svg');background-position: 300px 0;
             background-repeat: no-repeat;
                 background-size: cover;
                 padding-bottom: 0px !important;">
    <div class="container">
      <div class="row" style="margin-top:7%;">
        <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <!-- hero-caption -->
          <div class="card-hero-block">
            <h1 class="text" style="color:#3c5670;font-size: 32px;font-weight: 600;letter-spacing: 0.1em;">Funding to
              take
              off your business</h1>
            <p class="text" style="color:#3c5670">Helping your business to reach its full potential.We will help you
              every
              step of your way.</p>
            <div class="row">
              <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <ul class="text" style="color:#3c5670">
                  <li (click)="flag='1'" style="cursor: pointer;">&nbsp;&nbsp;Business Loan</li>
                  <li (click)="flag='2'" style="cursor: pointer;">&nbsp;&nbsp;Mortgage Loan</li>
                  <li (click)="flag='3'" style="cursor: pointer;">&nbsp;&nbsp;Working Capital</li>
                  <li (click)="flag='4'" style="cursor: pointer;">&nbsp;&nbsp;Loan Against Card Sale</li>

                </ul>
              </div>
              <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <ul class="text" style="color:#3c5670">
                  <li (click)="flag='5'" style="cursor: pointer;">&nbsp;&nbsp;Sales Bill Discounting</li>
                  <li (click)="flag='6'" style="cursor: pointer;">&nbsp;&nbsp;Purchase Bill Discounting</li>

                  <li (click)="flag='7'" style="cursor: pointer;">&nbsp;&nbsp;Export Factoring</li>
                </ul>
              </div>
            </div>


            <a class="btn btn-default" style="background-color: #6262f6 !important; color: white; margin-left: 19px;"
              (click)="popups.opensignup()">Apply Now</a>


          </div>
        </div>
        <!-- /.hero-caption -->

        <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right">
          <div class="mt10" style="zoom:0.6;">
            <img src="../../../assets/images/fundingbg.png" style="zoom:2.0;" alt="smebazaar" class="img-fluid" width="40%">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-hero-section" style="overflow: hidden; background:white;background-image:url('../../../assets/images/rag9.svg');background-position: 300px 0;
             background-repeat: no-repeat;
                 background-size: cover;">
    <div class="container">


      <h1 style="text-align: center;">What we offer</h1>
      <p style="text-align: center; margin-bottom: 60px;color: #3c5670;"> Grow Your Business With Us.We focus only on
        customer needs.</p>
      <div class="whysmeratingmob">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

            <div class="example-card" data-aos="zoom-in-up">
              <img class="example-header-image" style="width:65px;height:65px" src="../../../assets/images/unsec.png">
              <div><br>
                <p style="
        margin-top:10px;
        color: #38526d;
        font-size: 18px;
        font-weight: 500;
        
        line-height: 20px;"> Unsecured Loans </p>
                <p style="
         font-weight: 400;
         color:#3c5670;
         ">
                  Unsecured loans are approved without the need for collateral. Lenders approve the loan, on the basis of financial statements of the business.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

            <div class="example-card" data-aos="zoom-in-up">
              <img class="example-header-image" style="width:65px;height:65px" src="../../../assets/images/secured.png">
              <div><br>
                <p style="
        margin-top:10px;
        color: #38526d;
        font-size: 20px;
        font-weight: 500;
        
        line-height: 18px;"> Secured Loans </p>
                <p style="
         font-weight: 400;
         color:#3c5670;
         ">
                  In secured loan, the borrower pledges the property as collateral for the loan, which then becomes a secured debt owed to the creditor.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

            <div class="example-card" data-aos="zoom-in-up">
              <img class="example-header-image" style="width:65px;height:65px" src="../../../assets/images/export.png">
              <div><br>
                <p style=" margin-top:10px; color: #38526d; font-size: 20px; font-weight: 500; line-height: 18px;">
                  Export Finance</p>
                <p style="
         font-weight: 400;
         color:#3c5670;
         ">
                 Export finance signifies international trade transactions. It requires a seller of goods and services as well as buyer from abroad.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=whysmerating>
        <div class="row">

          <!-- /.hero-caption -->

          <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right">
            <div class="mt10" style="zoom:0.5;margin-top: -10%;">
              <img id="productsmob" src="../../../assets/images/businessloan.png"
                style="zoom:2;margin-right: 66px;margin-top: 5%;" alt="smebazaar" class="img-fluid">
            </div>
          </div>
          <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 5%;">
            <!-- hero-caption -->
            <div id="productsmob" class="card-hero-block">
              <p class="text" style="color:#38526d  ;font-size: 20px;font-weight: 500;">Unsecured Loans
              </p>
              <p class="text" style="color:#3c5670; font-weight: 400;">Unsecured loans are approved without the need for collateral. Lenders approve the loan, on the basis of financial statements of the business.</p>


            </div>
          </div>
          <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 5%;">
            <!-- hero-caption -->
            <div id="productsmob" class="card-hero-block">
              <p class="text" style="color:#38526d;font-size: 20px;font-weight: 500;">Secured Loans
              </p>
              <p class="text" style="color:#3c5670; font-weight: 400;">In secured loan, the borrower pledges the property as collateral for the loan, which then becomes a secured debt owed to the creditor.

              </p>



            </div>
          </div>
          <!-- /.hero-caption -->

          <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right"
            style="margin-top: 5%;">
            <div class="mt10" style="zoom:1;margin-top: -16%;">
              <img id="productsmob" src="../../../assets/images/securedloan.png" style="zoom:1;margin-right: 30%;"
                alt="smebazaar" class="img-fluid">
            </div>
          </div>

          <!-- /.hero-caption -->

          <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right"
            style="margin-top: 5%;">
            <div class="mt10" style="zoom:0.5;margin-top: -16%;">
              <img id="productsmob" src="../../../assets/images/trade.png" style="zoom:1.0;margin-right: 25%;" alt=""
                class="img-fluid">
            </div>
          </div>
          <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 5%;">
            <!-- hero-caption -->
            <div id="productsmob" class="card-hero-block">
              <p class="text" style="color:#38526d;font-size: 20px;font-weight: 500;">Export Finance
              </p>
              <p class="text" style="color:#3c5670; font-weight: 400;">Export finance signifies international trade transactions. It requires a seller of goods and services as well as buyer from abroad.</p>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="bg-white section-space80" style="overflow: hidden; background:white;background-image:url('../../../assets/images/b2.svg');
background-repeat: no-repeat; padding-top: 0px !important;
background-size: cover; background-position: 0px 0px;">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
          <div class="mb100 text-center section-title">
            <!-- section title start-->
            <h1>Step Up Your Business</h1>
            <p style="color: #3c5670; font-weight: 400;">Helping your business to reach its full potential.We will help you every step of your way.</p>
          </div>
          <!-- /.section title start-->
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:65px;height:65px" src="assets/images/business_loan.svg">
            <div><br>
              <p style="
      margin-top:10px;
      color: #38526d;
      font-size: 20px;
      font-weight: 500;
      
      line-height: 18px;"> Business Loans </p>
              <p style="
       font-weight: 400;
       color:#3c5670;
       ">
                Unsecured Business Loans offer you customized loans to suit your business plan. We assist to get
                quick and hassle free funding with flexible options to repay the loan to keep you ahead. With
                us, your future is secure.
                <br><br><span style="cursor:pointer;color: #6262f6;font-weight:500;margin-left:60%;text-decoration: underline;"
                  (click)="flag=1">Read More</span>

              </p>

            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:65px;height:65px" src="assets/images/montage_loan.svg">
            <div><br>
              <p style="
      margin-top:10px;
      color: #38526d;
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;"> Mortgage Loan </p>
              <p style="
            color:#3c5670;
       font-weight: 400;
       ">
                Mortgage Loan (LAP) is loan against the security of residential /industrial/commercial property. LAP is designed
                to
                meet the urgent needs of a person, who owns a asset  for personal or business use.
                <br><br><span style="cursor:pointer;color: #6262f6;font-weight:500;margin-left:60%;text-decoration: underline;"
                  (click)="flag=2">Read More</span>

              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:65px;height:65px" src="assets/images/working_capital.svg">
            <div>
              <br>
              <p style="
      margin-top:10px;
      color: #38526d;
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;"> Working Capital </p>
              <p style="
            color:#3c5670;
       font-weight: 400;
       ">
               A working capital facility will help the business to fund its day to day operations like purchase of raw materials, payment of labours etc.
                <br><br><br><br><span style="cursor:pointer;color: #6262f6;font-weight:500;margin-left:60%;text-decoration: underline;"
                  (click)="flag=3">Read More</span>

              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:65px;height:65px" src="assets/images/crediticon.svg">
            <br>
            <div>
              <p style="
          margin-top:10px;
          color: #38526d;
          font-size: 20px;
          font-weight: 500;
          line-height: 18px;"> Loan Against Card Sale</p>
              <p style="
            color:#3c5670;
           font-weight: 400;
           margin-top: -16px;
           ">
             Credit/Debit card is issued by banks to customers to facilitate the purchase of goods, booking of tickets, dining in restaurants.
             These cards are accepted worldwide in millions of places and stores.<br><br>
                <span style="cursor:pointer;color: #6262f6;font-weight:500;margin-left:60%;text-decoration: underline;"
                  (click)="flag=4">Read More</span>

              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:65px;height:65px" src="assets/images/bill_discount.svg">
            <br>
            <div>
              <p style="
              margin-top:10px;
              color: #38526d;
              font-size: 20px;
              font-weight: 500;
              line-height: 18px;"> Sales Bill Discounting </p>
              <p style="
            color:#3c5670;
               font-weight: 400;
               ">
                Sales bill discounting is the short term loan in which businesses or individuals borrow money from
                Banks/NBFC in advance payments due from customers.<br>
                <br><br><span style="cursor:pointer;color: #6262f6;font-weight:500;margin-left:60%;text-decoration: underline;"
                  (click)="flag=5">Read More</span>

              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:65px;height:65px" src="assets/images/bill_discount.svg">
            <br>
            <div>
              <p style="
              margin-top:10px;
              color: #38526d;
              font-size: 20px;
              font-weight: 500;
              line-height: 18px;"> Purchase Bill Discounting </p>
              <p style="
            color:#3c5670;
               font-weight: 400;
               ">
               This facility helps the business to fund the purchase of raw materials and to avail the cash discount wherever  it is available.<br><br><br>
                <br><span style="cursor:pointer;color: #6262f6;font-weight:500;margin-left:60%;text-decoration: underline;"
                  (click)="flag=5">Read More</span>

              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:65px;height:65px" src="assets/images/tradefinance.png">
            <br>
            <div>
              <p style="
                  margin-top:10px;
                  color: #38526d;
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 22px;"> Export Factoring </p>
              <p style="
            color:#3c5670;
                   font-weight: 400;
                   ">
               Export Factoring is one of the fastest and easiest ways to secure working capital if you want to grow your exports business without going through the hassle of securing a loan from a bank. Bank/NBFC provides upto 80% of your export invoice value upfront on the day of your shipment, while the remaining 20% minus the factoring charges is paid once the buyer makes full payment to Bank/NBFC when the credit period is over.<br><br>
                <br><br><span style="cursor:pointer;color: #6262f6;font-weight:500;margin-left:60%;text-decoration: underline;"
                  (click)="flag=6">Read More</span>

              </p>
            </div>
          </div>
        </div>


      </div>

      <div class="row" style="margin-bottom: -5%;">
        <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center">
          <!-- <a href="#" class="btn btn-default">Apply Now</a> </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white  "
    style="overflow: hidden; background-color: white !important; height: 1050px; overflow: hidden;"
    *ngIf="global.ismobile==0">
    <div class="container applyLoan " style="background-color: white !important; padding: 30px 0;">

      <div class="ayHead aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" data-aos-delay="500"
        data-aos-offset="200">
        <h1 style="text-align: center;">Easier to apply. Quicker to disburse</h1>
      </div>
      <div class="ayPara aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" data-aos-delay="100"
        data-aos-offset="200">


        <div class="expand-para aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" data-aos-delay="100"
          data-aos-once="true" data-aos-offset="200">
          <span style="color: #3c5670; font-weight: 400;">New business growth opportunities can come anytime. We want
            you to
            stay ready to grab them. No more waiting till you have enough funds.</span>

          <span class="complete">Our instant business loans are backed by fully online documentation. Just
            apply for a loan quickly, and get it disbursed in a snap. Get freedom and
            peace of mind to run your business the way you want, when you want.</span>

          <!-- <span class="expand-more">READ MORE</span> -->
        </div>
      </div>
      <div class="ayContainer" style="background-color: white; background:  url(/assets/doted.png) no-repeat ;">
        <div class="ay-firstHalf ">
          <div class="ay-box ay-one row aos-init aos-animate " data-aos="zoom-in" data-aos-delay="100"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
        border-radius: 20px;background: white;
        opacity: 1;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon1.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8 ">
              <h5 style="color: #3c4d6b;">
                Online Application</h5>
              <p style="font-weight: 400; color: #3c5670;">Apply anywhere, anytime for SME funding just by filing up
                basic details.</p>
            </div>

          </div>

          <div class="ay-box ay-two row aos-init aos-animate " data-aos="zoom-in" data-aos-delay="500"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
        border-radius: 20px;
        opacity: 1; background: white;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon2.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Compare and select</h5>
              <p style="font-weight: 400; color: #3c5670;">We help you compare and select from the widest range of
                loans.</p>
            </div>

          </div>


          <!-- <div class="ay-box ay-two" style="opacity: 1;">
          <img src="https://www.tribe3.com/wp-content/themes/tribe3/assets/images/temp.png" alt="temp">
          <h5>Are you eligible?</h5>
          <p>Next, check if you meet the criteria, by answering a few quick questions on
            the form.</p>
        </div> -->
        </div>

        <div class="ay-secHalf ">
          <div class="ay-box ay-three row  aos-init aos-animate " data-aos="zoom-in" data-aos-delay="900"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
        border-radius: 20px; background: white;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon3.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Get An Approval</h5>
              <p style="font-weight: 400; color: #3c5670;">Check your eligibility and know your loan. All it
                takes few hours!</p>
            </div>

          </div>
          <div class="ay-box ay-four row  aos-init aos-animate " data-aos="zoom-in" data-aos-delay="900"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
        border-radius: 20px; background: white;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 400px;;">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon4.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Sit Back and Relax</h5>
              <p style="font-weight: 400; color: #3c5670;">Our experts will handle the entire process for you. Get your
                loan worry free!</p>
            </div>

          </div>




        </div>
      </div>


    </div>
  </div>

  <div class="bg-white  "
    style=" overflow: hidden; background-color: white !important; height: 1050px; overflow: hidden;"
    *ngIf="global.ismobile==1">
    <div class="container applyLoan " style="background-color: white !important; padding: 30px 0; ">

      <div class="ayHead aos-init aos-animate col-12" data-aos="fade-up" data-aos-duration="400" data-aos-delay="200"
        data-aos-offset="200">
        <h1 style="text-align: center;">Easier to apply. Quicker to disburse</h1>
      </div>
      <div class="ayPara aos-init aos-animate col-12" data-aos="fade-up" data-aos-duration="400" data-aos-delay="100"
        data-aos-offset="200" style="padding-left: 0px; ">


        <div class="expand-para aos-init aos-animate " data-aos="fade-up" data-aos-duration="400" data-aos-delay="300"
          data-aos-once="true" data-aos-offset="200">
          <span style="font-weight: 400; color: #3c5670;">New business growth opportunities can come anytime. We want
            you to
            stay ready to grab them. No more waiting till you have enough funds.</span>

          <span class="complete">Our instant business loans are backed by fully online documentation. Just
            apply for a loan quickly, and get it disbursed in a snap. Get freedom and
            peace of mind to run your business the way you want, when you want.</span>

          <!-- <span class="expand-more">READ MORE</span> -->
        </div>
      </div>
      <div class="Container"
        style="background-color: white; background-color: white; background:  url(/assets/images/straightlinemob.svg) no-repeat ; background-position: center;">
        <div class="firstHalf ">
          <div class="ay-box ay-one row aos-init aos-animate " data-aos="zoom-in" data-aos-delay="100"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
        border-radius: 20px;background: white;
        opacity: 1;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%;  width: 350px;  margin-bottom: 30px; margin-left: 13px; ">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon1.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8 ">
              <h5 style="color: #3c4d6b;">
                Online Application</h5>
              <p style="font-weight: 400; color: #3c5670;">Apply anywhere, anytime for SME funding just by filing up
                basic details.</p>
            </div>

          </div>

          <div class="ay-box ay-two row aos-init aos-animate " data-aos="zoom-in" data-aos-delay="200"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
        border-radius: 20px;
        opacity: 1; background: white;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%;  width: 350px;  margin-bottom: 30px; margin-left: 13px; ">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon2.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Compare and select</h5>
              <p style="font-weight: 400; color: #3c5670;">We help you compare and select from the widest range of
                loans.</p>
            </div>

          </div>


          <!-- <div class="ay-box ay-two" style="opacity: 1;">
          <img src="https://www.tribe3.com/wp-content/themes/tribe3/assets/images/temp.png" alt="temp">
          <h5>Are you eligible?</h5>
          <p>Next, check if you meet the criteria, by answering a few quick questions on
            the form.</p>
        </div> -->
        </div>

        <div class="secHalf ">
          <div class="ay-box ay-three row  aos-init aos-animate " data-aos="zoom-in" data-aos-delay="200"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
        border-radius: 20px; background: white;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%;  width: 350px;  margin-bottom: 30px; margin-left: 13px; ">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon3.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Get An Approval</h5>
              <p style="font-weight: 400; color: #3c5670;">Check your eligibility and get instantly approved. All it
                takes few hours!</p>
            </div>

          </div>
          <div class="ay-box ay-four row  aos-init aos-animate " data-aos="zoom-in" data-aos-delay="200"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
        border-radius: 20px; background: white;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%;width: 350px;  margin-bottom: 30px; margin-left: 13px; ">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon4.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Sit Back and Relax</h5>
              <p style="font-weight: 400; color: #3c5670;">Our experts will handle the entire process for you. Get your
                loan worry free!</p>
            </div>

          </div>




        </div>
      </div>


    </div>
  </div>
  <div *ngIf="flag!='0' && global.ismobile!=true" class="Container noscroll" style="padding:10%;position: fixed;width:80%;height:80%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);">

    <div class="example-card" data-aos="zoom-in-up"
      style="  box-shadow: 0 0 80px 6px #eceff5;padding-left: 4%;padding-right: 4%; padding-bottom: 2% !important;overflow:scroll">


      <div class="row">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper ">
              <div class="compare-table">
                <div class="bg-white table-responsive" style=" overflow-x: visible;">
                  <div class='row'>

                    <a (click)="flag='0'" class="back btn closeOtpPopUp" style="font-size: 20px;margin-top: -3%;"><i
                        class="fa fa-arrow-left mr-1"></i> </a>
                    <!-- section title start-->
                    <h2 *ngIf="flag=='1'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Business Loans
                    </h2>
                    <h2 *ngIf="flag=='2'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Mortgage Loans
                    </h2>
                    <h2 *ngIf="flag=='3'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Working Capital
                    </h2>
                    <h2 *ngIf="flag=='4'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Loan Against
                       Card Sale</h2>
                    <h2 *ngIf="flag=='5'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Sales Bill
                      Discounting</h2>
                    <h2 *ngIf="flag=='6'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Purchase Bill
                      Discounting
                    </h2>
                    <h2 *ngIf="flag=='7'" style="margin-left:30%;text-align: center; margin-top: -2%;">Export Factoring
                    </h2>

                  </div>
                  <div style="overflow-x:visible; ">
                    <table class="table example-card" style="border: 1px solid #dee2e6;">

                      <thead style="background-color: #3c5670;">
                        <tr style="border-right: 2px solid #dee2e6;">

                          <th style="width:25%; color: #fff; text-align: center;" class="card-name">Terms</th>
                          <th style="width:30%; color: #fff;text-align: center; " class="anuual-fees">Eligibility</th>

                        </tr>

                      </thead>
                      <tbody *ngIf="flag=='1'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Loan from Rs 10 Lakhs to Rs 1 Crore.</li>
                              <li>&nbsp;&nbsp;No security or collateral required.</li>
                              <li>&nbsp;&nbsp;Tenor up to 4 years.</li>
                              <li>&nbsp;&nbsp;Repayment on Monthly EMI basis.</li>
                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Any Self Employed, Professionals/ Doctors, Retailers / Manufacturers and
                                Traders having following criteria.</li>
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1.00 Crore.</li>
                            </ul>
                          </td>

                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='2'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Borrowable from Rs 25 Lakhs to Rs 50 crore.</li>
                              <li>&nbsp;&nbsp;Funding available for Manufactures, Traders and Service
                                Providers.</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>
                              <li>&nbsp;&nbsp;Collateral security-Residential/ Commercial/ Industrial Property.</li>

                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Retailers/ Manufactures and Traders having following criteria.</li>
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1.00 Crore.</li>
                            </ul>
                          </td>

                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='3'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;CC/OD/BG/LC facility</li>
                              <li>&nbsp;&nbsp; Borrowable from Rs 25 Lakhs to Rs 50 crore.</li>
                              <li>&nbsp;&nbsp;Funding available for Manufactures, Traders and Service
                                Providers.</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>
                             
                              <li>&nbsp;&nbsp;Collateral security-Residential/ Commercial/ Industrial Property.</li>

                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Retailers/ Manufactures and Traders having following criteria.</li>
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1.00 Crore.</li>
                            </ul>
                          </td>

                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='4'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Loan from Rs 10 Lakhs to Rs 1 Crore.</li>
                              <li>&nbsp;&nbsp; Funding available Against card swipes.</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>

                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Retailers, Traders, Hotels, Restaurants having following criteria.</li>
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1.00 Crore.</li>
                            </ul>
                          </td>


                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='5'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Loan from Rs 25 Lakhs to Rs 10 crore.</li>
                              <li>&nbsp;&nbsp; Funding available for Manufactures, Traders and Service
                                Providers.</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>




                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1 Crore.</li>

                            </ul>
                          </td>





                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='6'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Loan from Rs 25 Lakhs to Rs 10 crore.</li>
                              <li>&nbsp;&nbsp; Funding available for Manufactures, and Service
                                Providers.</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>
                              <li>&nbsp;&nbsp;Loan period : 60-90 Days.</li>







                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1 Crore.</li>








                            </ul>
                          </td>





                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='7'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Loans from Rs 1 cr to Rs 10 Crores.</li>
                              <li>&nbsp;&nbsp; Funding available for Exporters ( Manufacturers, Traders and All leading
                                Service Providers who are in to exports).</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>
                              <li>&nbsp;&nbsp; No security or Collateral required.</li>







                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage with positive growth year on year.</li>
                              <li>&nbsp;&nbsp;Positive PAT for Last 2 Years.</li>
                              <li>&nbsp;&nbsp;Supplies made to leading Debtors with minimum 6 months good track record of seller-buyer relationship will qualify.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover of Rs. 5 Crores.</li>
                              <li>&nbsp;&nbsp;Preferable countries for Export Bill Discounting - U.S /UK Europe
                                Countries/ Middle East/ Singapore.</li>







                            </ul>
                          </td>





                        </tr>





                      </tbody>
                    </table>
                    <br>
                    <a class="btn btn-default"
                      style="background-color: #6262f6 !important; color: white; margin-left: 38%;"
                      (click)="popups.opensignup()">Apply Now</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="flag!='0'&& global.ismobile==true" class="Container" style="position: fixed;    width: 100%;
  height: 60%;
  top: 35%;
  left:50%;
  transform: translate(-50%, -50%);">

    <div class="example-card" data-aos="zoom-in-up"
      style="  box-shadow: 0 0 80px 6px #eceff5; padding-bottom: 2% !important;overflow:scroll">


      <div class="row">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper ">
              <div class="compare-table">
                <div class="bg-white table-responsive" style=" overflow-x: visible;">
                  <div class='row'>

                    <a (click)="flag='0'" class="back btn closeOtpPopUp" style="font-size: 20px;margin-top: -3%;"><i
                        class="fa fa-arrow-left mr-1"></i> </a>
                    <!-- section title start-->
                    <h2 *ngIf="flag=='1'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Business Loans
                    </h2>
                    <h2 *ngIf="flag=='2'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Machinery Loans
                    </h2>
                    <h2 *ngIf="flag=='3'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Working Capital
                    </h2>
                    <h2 *ngIf="flag=='4'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Loan Against
                      Credit Card Sale</h2>
                    <h2 *ngIf="flag=='5'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Sales Bill
                      Discounting </h2>
                    <h2 *ngIf="flag=='6'" style="margin-left:30%;text-align: center; margin-top: -2%;"> Export Finance
                    </h2>
                    <h2 *ngIf="flag=='7'" style="margin-left:30%;text-align: center; margin-top: -2%;">Export Finance
                    </h2>

                  </div>
                  <div style="overflow-x:visible;">
                    <table class="table example-card" style="border: 1px solid #dee2e6;">

                      <thead style="background-color: #3c5670;">
                        <tr style="border-right: 2px solid #dee2e6;">

                          <th style="width:25%; color: #fff; text-align: center;" class="card-name">Terms</th>
                          <th style="width:30%; color: #fff;text-align: center; " class="anuual-fees">Eligibility</th>

                        </tr>

                      </thead>
                      <tbody *ngIf="flag=='1'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Loan from Rs 10 Lakhs to Rs 1 Crore.</li>
                              <li>&nbsp;&nbsp;No security or collateral required.</li>
                              <li>&nbsp;&nbsp;Tenor up to 4 years.</li>
                              <li>&nbsp;&nbsp;Repayment on Monthly EMI basis.</li>
                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Any Self Employed, Professionals/ Doctors, Retailers / Manufacturers and
                                Traders having following criteria.</li>
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1.00 Crore.</li>
                            </ul>
                          </td>

                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='2'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Borrowable from Rs 25 Lakhs to Rs 50 crore.</li>
                              <li>&nbsp;&nbsp;Funding available for Manufactures, Traders and Service
                                Providers.</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>
                              <li>&nbsp;&nbsp;Tenor up to 15 years.</li>
                              <li>&nbsp;&nbsp;Collateral security-Residential/ Commercial/ Industrial Property.</li>

                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Retailers/ Manufactures and Traders having following criteria.</li>
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1.00 Crore.</li>
                            </ul>
                          </td>

                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='3'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Borrowable from Rs 25 Lakhs to Rs 50 crore.</li>
                              <li>&nbsp;&nbsp;Funding available for Manufactures, Traders and Service
                                Providers.</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>
                              <li>&nbsp;&nbsp;Tenor up to 15 years.</li>
                              <li>&nbsp;&nbsp;Collateral security-Residential/ Commercial/ Industrial Property.</li>

                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Retailers/ Manufactures and Traders having following criteria.</li>
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1.00 Crore.</li>
                            </ul>
                          </td>

                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='4'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Loan from Rs 10 Lakhs to Rs 1 Crore.</li>
                              <li>&nbsp;&nbsp; Funding available Against Credit card swipes.</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>

                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Retailers/ Manufactures and Traders having following criteria.</li>
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1.00 Crore.</li>
                            </ul>
                          </td>


                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='5'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Loan from Rs 25 Lakhs to Rs 10 crore.</li>
                              <li>&nbsp;&nbsp; Funding available for Manufactures, Traders and Service
                                Providers.</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>




                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp;Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage.</li>
                              <li>&nbsp;&nbsp;Positive PAT for the last two years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover should be more than Rs.1 Crore.</li>

                            </ul>
                          </td>





                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='6'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Loans from Rs 1 cr to Rs 10 Crores.</li>
                              <li>&nbsp;&nbsp; Funding available for Exporters ( Manufacturers, Traders and All leading
                                Service Providers who are in to exports).</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>
                              <li>&nbsp;&nbsp; No security or Collateral required.</li>







                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage with positive growth year on year.</li>
                              <li>&nbsp;&nbsp;Positive PAT for Last 2 Years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover of Rs. 20 Crores.</li>
                              <li>&nbsp;&nbsp;Preferable countries for Export Bill Discounting - U.S /UK Europe
                                Countries/ Middle East/ Singapore.</li>







                            </ul>
                          </td>





                        </tr>





                      </tbody>
                      <tbody *ngIf="flag=='7'">
                        <tr class="tablezoom">

                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Loans from Rs 1 cr to Rs 10 Crores.</li>
                              <li>&nbsp;&nbsp; Funding available for Exporters ( Manufacturers, Traders and All leading
                                Service Providers who are in to exports).</li>
                              <li>&nbsp;&nbsp;Simple & Flexible loan solutions.</li>
                              <li>&nbsp;&nbsp;Faster turn-around time.</li>
                              <li>&nbsp;&nbsp; No security or Collateral required.</li>







                            </ul>
                            <br>

                          </td>
                          <td class="text-dark text-bold">
                            <ul class="text" style="color:#3c5670">
                              <li>&nbsp;&nbsp; Three Years IT must have been filed.</li>
                              <li>&nbsp;&nbsp;3 Years Business vintage with positive growth year on year.</li>
                              <li>&nbsp;&nbsp;Positive PAT for Last 2 Years.</li>
                              <li>&nbsp;&nbsp;Minimum Turnover of Rs. 20 Crores.</li>
                              <li>&nbsp;&nbsp;Preferable countries for Export Bill Discounting - U.S /UK Europe
                                Countries/ Middle East/ Singapore.</li>







                            </ul>
                          </td>





                        </tr>





                      </tbody>
                    </table>
                    <br>
                  
                    <a class="btn btn-default"
                      style="background-color: #6262f6 !important; color: white; margin-left: 38%;"
                      (click)="popups.opensignup()">Apply Now</a>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>










  <script type="text/javascript">
    //jQuery to collapse the navbar on scroll
    $(window).scroll(function () {
      if ($(".header-transparent").offset().top > 50) {
        $(".navbar-fixed-top").addClass("top-nav-collapse");
      } else {
        $(".navbar-fixed-top").removeClass("top-nav-collapse");
      }
    });

    $(function () {
      var thumb = $('.thumb');
      thumb.click(function () {
        $(this).toggleClass('move');

      })
    })

    //aimate

    var $animation_elements = $('.animation-element');
    var $window = $(window);

    function check_if_in_view() {
      var window_height = $window.height();
      var window_top_position = $window.scrollTop();
      var window_bottom_position = (window_top_position + window_height);

      $.each($animation_elements, function () {
        var $element = $(this);
        var element_height = $element.outerHeight();
        var element_top_position = $element.offset().top;
        var element_bottom_position = (element_top_position + element_height);

        //check to see if this current container is within viewport
        if ((element_bottom_position >= window_top_position) &&
          (element_top_position <= window_bottom_position)) {
          $element.addClass('in-view');
        } else {
          $element.removeClass('in-view');
        }
      });
    }

    $window.on('scroll resize', check_if_in_view);
    $window.trigger('scroll', check_if_in_view);

  </script>


  <!-- Mirrored from jituchauhan.com/borrow/bootstrap-4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Jan 2020 07:41:25 GMT -->

  <style>
    .example-card {
      padding: 40px 30px;
      border-radius: 20px;
      box-shadow: 0 0 30px 6px #eceff5;
      margin-bottom: 0%;

      background-color: #fff;

    }

    @media (max-width: 600px) {
      .example-card {
        margin-bottom: 10%;
      }
    }

    .example-header-image {
      zoom: 1.5;
      position: absolute;
      top: -30px;


    }

  </style>

  <style>
    .chooseLoan .expand-para,
    .applyLoan .expand-para {
      margin: 0px auto;
      width: 100%;
      max-width: 575px;
      text-align: center;
      min-height: 135px;
    }

    .emi-calculator .expand-para {
      max-width: 650px;
      text-align: center;
      margin: 0px auto;
      padding-bottom: 10px;

    }


    .chooseLoan .expand-btn,
    .reachout .expand-btn {

      text-align: center;
      margin: 0px auto;
      width: 100%;
    }

    .chooseLoan .expand-btn a,
    .reachout .expand-btn a,
    .tribe-offer .expand-btn a {
      color: #55d32e;

    }

    .complete {
      display: none;
    }

    .complete1 {
      display: none;
    }

    .expand-more {
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      color: #55d32e;
      cursor: pointer;
      transition: 1s ease;
    }

    .expand-more1 {
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      color: #55d32e;
      cursor: pointer;
      transition: 1s ease;
    }

    .expand-morefaq {
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      color: #55d32e;
      cursor: pointer;
      transition: 1s ease;
    }

    .chooseLoan .loanAnima {
      position: relative;
      width: 100%;
      top: 10px
    }

    .chooseLoan .loanAnima .loanBox {
      position: relative;
      width: 33.33%;
      text-align: center;
      float: left;
    }

    .chooseLoan .loanAnima .loanBox.l-one {
      left: 0;
      margin-top: 130px;
    }

    .chooseLoan .loanAnima .loanBox.l-two {
      left: 0;
      margin-top: 62px;
    }

    .chooseLoan .loanAnima .loanBox.l-three {
      left: 0;
      margin-top: -50px;
    }

    .chooseLoan .loanAnima .loanBox img {
      display: block;
      max-width: 64px;
      margin: 0 auto;
    }

    .chooseLoan .loanAnima .loanBox .lt-type {
      font-size: 21px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin: 5px 0 20px 0;
      display: block;
    }

    .chooseLoan .loanAnima .loanBox .oval {
      width: 30px;
      height: 30px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border: solid 2.1px #ffffff;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }

    .chooseLoan .loanAnima .loanBox .oval span {
      width: 18px;
      height: 18px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      border-radius: 50%;
      display: inline-block;
      margin: 4px 0;
    }

    .chooseLoan .loanAnima .loanBox .lt-amt {
      font-size: 28px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      display: block;
      margin: 30px 0 0 0
    }

    .chooseLoan .loanAnima .loanBox .lt-amt span {
      font-weight: 300;
    }

    .chooseLoan .loanAnima .loanBox .lt-details {
      max-width: 202px;
      text-align: center;
      margin: 0 auto;
      display: block;
    }

    .chooseLoan .loanAnima .loanBox .lt-details p {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #4f4f4f;
      margin-bottom: 0;
      padding: 20px 0
    }

    .chooseLoan .loanAnima .loanBox .lt-details p:first-child {
      border-bottom: solid 1px rgba(151, 151, 151, 0.22);
    }

    .chooseLoan .loanAnima .loanBox a {
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      width: 130px;
      height: 45px;
      border-radius: 25px;
      background-color: #55d32e;
      display: block;
      margin: 15px auto 0 auto;
      text-transform: uppercase;
      line-height: 45px;
      position: relative;
      overflow: hidden;
    }




    .chooseLoan .loanAnima .loanBox a:hover span {
      position: relative;
      z-index: 999;
      color: #55d32e
    }

    .chooseLoan .loanAnima .loanBox a:hover {
      border: 1px solid #55d32e;
    }



    .chooseLoan .loanAnima .loanBox a:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      background: #fff;
      opacity: 0;
      z-index: 99;
    }

    .chooseLoan .loanAnima .loanBox a:hover:after {
      width: 100%;
      opacity: 1;
    }


    .path2 {
      stroke-dasharray: 3000;
      stroke-dashoffset: 3000;
      animation: dash3 4s linear;
      animation-iteration-count: infinite;
      ;
      animation-fill-mode: backwards;
      animation-delay: .4s;
    }

    @keyframes dash3 {
      from {
        stroke-dashoffset: 3000;
      }

      to {
        stroke-dashoffset: 0;
      }
    }




    .path-start1,
    .path-start2 .path-start3 {
      opacity: 0;
    }


    .path-start1.path3 {
      opacity: 1;
    }

    .path-start2.path3 {
      opacity: 1;
    }

    .path-start3.path3 {
      opacity: 1;
    }


    .path3 {
      stroke-dasharray: 3000;
      stroke-dashoffset: 3000;
      animation: dash3 12s linear;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-delay: 1s;

    }


    @keyframes dash3 {
      from {
        stroke-dashoffset: 3000;
      }

      to {
        stroke-dashoffset: 0;
      }
    }







    .applyLoan {
      display: block;
      position: relative;
      padding: 60px 0
    }



    .applyLoan .ayHead h3 {
      font-size: 36px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }


    .applyLoan .ayPara {
      max-width: 860px;
      margin: 0px auto;
      width: 100%;
    }

    .applyLoan .ayPara p {

      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: center;
      color: #393535;
    }


    .ay-firstHalf {
      float: left;
      width: 50%;
    }

    .ay-secHalf {
      float: left;
      width: 50%;
    }

    .applyLoan .ayContainer {
      position: relative;
      display: block;
      margin-top: 60px;
      float: left;
      width: 100%;
    }


    .applyLoan .ayContainer .ay-box {
      position: relative;
      float: left;
      width: 100%;
      transition: .5s ease all;
    }

    .applyLoan .ayContainer .ay-box img {
      margin-bottom: 30px;
    }

    .applyLoan .ayContainer .ay-box h5 {
      padding-left: 0px;
      max-width: 370px;
      font-size: 21px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }

    .applyLoan .ayContainer .ay-box p {
      padding-left: 0px;
      max-width: 370px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #000000;
    }

    .applyLoan .ayContainer .ay-box.ay-one {
      left: 188px;
      margin-bottom: 50px;
      top: -30px;
    }

    .applyLoan .ayContainer .ay-box.ay-two {
      left: 95px;
      top: -15px;
    }

    .applyLoan .ayContainer .ay-box.ay-three {
      margin-top: 250px;
      left: 30px
    }

    .applyLoan .ayContainer .ay-box.ay-four {
      margin-top: 60px;
      left: 107px;
    }


    .svg-path {
      position: absolute;
      z-index: -10;
      top: 312px;
    }

    .reachout {
      background-color: #15243a;
      color: #fff;
      padding: 60px 0;
    }

    .reachout .reachout-head {
      position: relative;
      width: 100%;
    }

    .reachout .reachout-head h3 {
      font-size: 28px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 10px;
      color: #ffffff;
    }

    .reachout .expand-para span {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.48;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      ;
    }

    .reachout .expand-para,
    .benft-tribe p {
      max-width: 570px;
      width: 100%;
      margin: 0px auto 60px auto;
      text-align: center;
    }


    .reachout .rea-box {
      text-align: center;
    }

    .reachout .rea-box img {
      margin-bottom: 40px;
      max-height: 80px;
    }

    .reachout .rea-box h4 {
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      max-width: 314px;
      margin: 0 auto;
    }

    .reachout .rea-box h4 span {
      font-size: 28px;
    }

    .reachout .rea-box.rea-wt h4 {
      line-height: 1.2;
    }

  </style>





  <script>
    function pathPrepare($el) {
      var lineLength = $el[0].getTotalLength();
      $el.css("stroke-dasharray", lineLength);
      $el.css("stroke-dashoffset", lineLength);
    }
    firstDraw();
    secondDraw();

    function firstDraw() {
      let duration = $('.applyLoan').height();
      var $word = $("path#word");

      // prepare SVG
      pathPrepare($word);
      // pathPrepare($dot);

      // init controller
      var controller = new ScrollMagic.Controller();

      // build tween
      var tween = new TimelineMax()
        .add(TweenMax.to($word, 0.9, {
          strokeDashoffset: 0,
          ease: Linear.easeNone
        })) // draw word for 0.9
        .add(TweenMax.to("path", 1, {
          ease: Linear.easeNone
        }), 0); // change color during the whole thing

      // build scene
      var scene = new ScrollMagic.Scene({
          triggerElement: "#trigger1",
          duration: duration,
          tweenChanges: true
        })
        .setTween(tween)
        //    .addIndicators() // add indicators (requires plugin)
        .addTo(controller);
    }

    function secondDraw() {
      if (!mobile) {
        let duration = $('.chooseLoan').height();
        var $word = $("path#word2");
        console.log(isMobile, 111);
        // prepare SVG
        pathPrepare($word);
        // pathPrepare($dot);

        // init controller
        var controller = new ScrollMagic.Controller();

        // build tween
        var tween = new TimelineMax()
          .add(TweenMax.to($word, 0.9, {
            strokeDashoffset: 0,
            ease: Linear.easeNone
          })) // draw word for 0.9
          .add(TweenMax.to("path", 1, {
            ease: Linear.easeNone
          }), 0); // change color during the whole thing

        // build scene
        var scene = new ScrollMagic.Scene({
            triggerElement: "#trigger",
            duration: duration - 200,
            tweenChanges: true
          })
          .setTween(tween)
          // .addIndicators() // add indicators (requires plugin)
          .addTo(controller);
      }

      function secondDraw() {
        if (!mobile) {
          let duration = $('.chooseLoan').height();
          var $word = $("path#word2");
          console.log(isMobile, 111);
          // prepare SVG
          pathPrepare($word);
          // pathPrepare($dot);

          // init controller
          var controller = new ScrollMagic.Controller();

          // build tween
          var tween = new TimelineMax()
            .add(TweenMax.to($word, 0.9, {
              strokeDashoffset: 0,
              ease: Linear.easeNone
            })) // draw word for 0.9
            .add(TweenMax.to("path", 1, {
              ease: Linear.easeNone
            }), 0); // change color during the whole thing

          // build scene
          var scene = new ScrollMagic.Scene({
              triggerElement: "#trigger1",
              duration: duration - 200,
              tweenChanges: true
            })
            .setTween(tween)
            // .addIndicators() // add indicators (requires plugin)
            .addTo(controller);
        }


      }
    }

  </script>


  <style>
    .example-card1 {
      background-color: #fff;
      padding: 20px 20px;
      border-radius: 20px;
      box-shadow: 0 0 30px 6px #eceff5;
      margin-bottom: 2%;

    }

    @media (max-width: 600px) {
      .example-card1 {
        margin-bottom: 10%;
      }
    }

    .example-header-image1 {
      zoom: 1.3;
      /* position: absolute;
            top: -30px; */


    }

  </style>
</ng-container>
