<ng-container  *ngIf="global.loaded"> 
<app-header *ngIf="!global.ismobile"></app-header>
<app-mobileheader *ngIf="global.ismobile" ></app-mobileheader>
<app-mobilehome *ngIf="global.ismobile" > </app-mobilehome>
<app-intro4 *ngIf="!global.ismobile"></app-intro4> 
<ng-container *ngIf="1" >
<!--smeloans-->
<div class="bg-white section-space80" style="
min-height: 100% !important;
overflow: hidden; background:white;
background-repeat: no-repeat;
background-size: cover; background-position: 0px 0px;" id="funding">
  <div class="container" >
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb100 text-center section-title">
          <!-- section title start-->
          <h1 >Funding</h1>
          <!-- <p>Providing right insurance cover by providing unbiased quotes and product comparison.</p> -->
        </div>
        <!-- /.section title start-->
      </div>
    </div>   
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

        <div class="example-card" data-aos="zoom-out-down" [routerLink]="['/funding']" >
          <img class="example-header-image" style="width:65px;height:65px" src="assets/images/loan_icon_2.png">
          <div><br>
           <p style=" margin-top:10px;
          color: #4d6f94;
          font-size: 20px;
          text-align: center;
          font-weight: 500;
          
          line-height: 16px;"> Unsecured Loans </p>
            <p style="
            font-weight: 400;
            color:#3c5670;
            text-align: center;
            ">
              Unsecured Business loans are approved without collateral. 
              Lenders approve the loan, on the basis of financial statements of the business.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;">

        <div class="example-card" data-aos="zoom-out-down" [routerLink]="['/funding']" >
          <img class="example-header-image" style="width:65px;height:65px" src="assets/images/loan_icon_3.png">
          <div><br>
            <p style=" margin-top:10px;
            color: #4d6f94;
            font-size: 20px;
            text-align: center;
            font-weight: 500;
            
            line-height: 16px;"> Secured Loans </p>
            <p  style="
            font-weight: 400;
            color:#3c5670;
            text-align: center;
            ">
             In secured loan, the borrower pledges the property as collateral for the loan, which then becomes a secured debt owed to the creditor.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;" >

        <div class="example-card" data-aos="zoom-out-down" [routerLink]="['/funding']" >
          <img class="example-header-image" style="width:65px;height:65px" src="assets/images/loan_icon_1.png">
          <div>
            <br>
            <p style=" margin-top:10px;
            color: #4d6f94;
            font-size: 20px;
            text-align: center;
            font-weight: 500;
            
            line-height: 16px;"> Export Finance </p>
            <p style="
            font-weight: 400;
            color:#3c5670;
            text-align: center;
            ">
              Export finance signifies international trade transactions. It requires a seller of goods and services as well as buyer from abroad. 
            </p>
          </div>
        </div>
      </div>
      


    </div>

    <div class="row" style="margin-bottom: -5%;">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center">
        <!-- <a href="#" class="btn btn-default">Apply Now</a> </div> -->
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="1">

<!--rating-->
<div  [routerLink]="['/rating']" class="section-space80" id="rating" style=" overflow: hidden; background-color: #fff;margin-top: -8%;background-image:url('../../../assets/images/rag9.svg');background-position: 0 0 -120px -200px;
background-repeat: no-repeat; 
      background-size: cover;">
<div class="whycontainer">
<div class="row">
<div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
<div class="mb60 text-center section-title">
<!-- section title start-->
<h1>Ratings</h1>
</div>
<!-- /.section title start-->
</div>
</div>
<div class="whysmeratingmob">
<div class="row">
<div class="col-xl-6 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">

<div class="example-card1" data-aos="fade-left"  >
<img class="example-header-image1" style="width:65px;height:65px" 
src="assets/images/corporate_rating.png">
<div><br>
<p style=" margin-top:10px; color: #38526d;  font-size: 16px;font-weight: 600;line-height: 18px;">
  Corporate Rating </p>
<p style="font-weight: 400; color: #3c5670;">
  A corporate  rating is an opinion of an independent agency regarding the likelihood that a corporation will fully meet its financial obligations as they come due. A company's  corporate rating indicates its relative ability to pay its creditors.</p>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">

<div class="example-card1" data-aos="fade-right" [routerLink]="['/rating']" >
<img class="example-header-image1" style="width:65px;height:65px" 
src="assets/images/finanacial_rating.png">
<div><br>
<p style=" margin-top:10px; color: #38526d;  font-size: 16px;font-weight: 600;line-height: 18px;">
  Financial Rating</p>
<p style="font-weight: 400; color: #3c5670;">
  Financial ratings are impartial third-party opinions of an issuer's ability and willingness to meet a specific financial obligation. Debt Rating: A debt rating is an assessment of an issuer's creditworthiness to meet a specific financial obligation.</p>
</div>
</div>
</div>

</div>
</div>
<div class="whysmerating">
<div class="row" style="margin-top:2%">


<div style="display: inline-block;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-3 justify-content-around  "
style="margin-right:0%; top: -30px; display: inline-block;">
<img class="example-header-image1" data-aos="fade-right"
style="width:100px;height:100px;padding:5%;  margin-right: 0%;" src="assets/images/corporate_rating.png">

</div>
<div data-aos="fade-left" class="example-card1   col-xl-8 col-lg-8 col-md-12 col-sm-9 col-9"
style="width:100%;  display: inline-block;  " >

<p style="color: #38526d;
       font-size: 16px;
       font-weight: 500;
       margin-bottom:5px"> Corporate Rating</p>
<p style="   font-size: 14px;
       font-weight: 400;
       color:#3c5670;">
  A corporate  rating is an opinion of an independent agency regarding the likelihood that a corporation will fully meet its financial obligations as they come due. A company's  corporate rating indicates its relative ability to pay its creditors.


</p>

</div>

</div>

</div>
<div class="row" style="margin-top:2%">
<div style="display: inline-block;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-3 justify-content-around  "
style="margin-right:0%; top: -30px; display: inline-block;">
<img class="example-header-image1" data-aos="fade-right"
style="width:100px;height:100px;padding:5%;  margin-right: 0%;" src="assets/images/finanacial_rating.png">

</div>
<div data-aos="fade-left" class="example-card1  col-xl-8 col-lg-8 col-md-12 col-sm-9 col-9"
style="width:100%;  display: inline-block;  ">

<p style="color: #38526d;
             font-size: 16px;
             font-weight: 500;
             margin-bottom:5px">Financial Rating</p>
<p style="   font-size: 14px;
             font-weight: 400;
             color:#3c5670;">
  Financial ratings are impartial third-party opinions of an issuer's ability and willingness to meet a specific financial obligation. Debt Rating: A debt rating is an assessment of an issuer's creditworthiness to meet a specific financial obligation.


</p>

</div>

</div>
</div>



<!---xtra-->

</div>

</div>
</div>
</ng-container>
<ng-container *ngIf="1">

<!--compliance-->
<div  [routerLink]="['/compliance']"  class="bg-white section-space80" id="Compliance" style="overflow: hidden; background:white;background-image:url('../../../assets/images/rag2.svg');background-position: 0 0 -120px -200px;
background-repeat: no-repeat;
background-size: cover;
z-index:1000;margin-top:-5%;text-align: center;">
  <div class="container" style="z-index:1000000;">
    <div class="row">
      <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
        <div class="mb100 text-center section-title">
          <!-- section title start-->
          <h1>Compliance </h1>

        </div>
        <!-- /.section title start-->
      </div>
    </div>
    <div class="row">
      

      <div data-aos="zoom-out-up"   data-aos-delay="500" class="col-xl-4 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card" style="background: white;">
          <img class="" style="width:90px;height:90px" src="assets/images/financialad.png">
          <div><br>
            <p style="
          margin-top:10px;
          color: #4d6f94;
          font-size: 20px;
          font-weight: 500;
          text-align: center;
          line-height: 16px;"> Financial Advisory </p>
            <p style="
           font-weight: 400;
           color:#3c5670;
           text-align: center;
           ">
We provide advisory services in Business Loans around M&A transactions, raising capital and multi-situational capabilities including business, Partnerships & valuations.         </p>
          </div>
        </div>
      </div>
      <div data-aos="zoom-out-up"  data-aos-delay="500" class="col-xl-4 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card" style="background: white;">
          <img class="" style="width:90px;height:90px" src="assets/images/risk.png">
          <div><br>
            <p style="
          margin-top:10px;
          color: #4d6f94;
          font-size: 20px;
          font-weight: 500;
          text-align: center;
          line-height: 16px;"> Risk </p>
            <p style="
           font-weight: 400;
           color:#3c5670;
           text-align: center;
           ">
We focus on areas of increased risk, address the entire spectrum of emerging risks, and pursue intelligent risk-taking as a means to value creation.            </p>
          </div>
        </div>
      </div>
      <div data-aos="zoom-out-up"   data-aos-delay="500" class="col-xl-4 col-lg-3 col-md-3 col-sm-3 col-12" style="margin-bottom: 5%;">

        <div class="example-card" style="background: white;">
          <img class="" style="width:90px;height:90px" src="assets/images/tax.png">
          <div><br>
            <p style="
          margin-top:10px;
          color: #4d6f94;
          font-size: 20px;
          font-weight: 500;
          text-align: center;
          line-height: 16px;"> Tax </p>
            <p style="
           font-weight: 400;
           color:#3c5670;
           text-align: center;
           ">
We offer clients a broad range of fully integrated tax services. Our approach combines insight and innovation from multiple disciplines to excel globally. 
<br>
<br>           </p>
          </div>
        </div>
      </div>


    </div>


  </div>
</div>
</ng-container>



<ng-container *ngIf="0">

<!--steps-->
<div class="bg-white  " style="overflow: hidden; background-color: white !important; height: 1050px; overflow: hidden;"  *ngIf="global.ismobile==1">
  <div class="container applyLoan " style="background-color: white !important; padding: 30px 0; ">

    <div class="ayHead aos-init aos-animate col-12" data-aos="fade-up" data-aos-duration="400" data-aos-delay="200"
      data-aos-offset="200">
      <h1 style="text-align: center;">Easier to apply. Quicker to disburse</h1>
    </div>
    <div class="ayPara aos-init aos-animate col-12" data-aos="fade-up" data-aos-duration="400" data-aos-delay="100"
      data-aos-offset="200" style="padding-left: 0px; ">


      <div class="expand-para aos-init aos-animate " data-aos="fade-up" data-aos-duration="400" data-aos-delay="300"
        data-aos-once="true" data-aos-offset="200">
        <span>New business growth opportunities can come anytime. We want you to
          stay ready to grab them. No more waiting till you have enough funds.</span>

        <span class="complete">Our instant business loans are backed by fully online documentation. Just
          apply for a loan quickly, and get it disbursed in a snap. Get freedom and
          peace of mind to run your business the way you want, when you want.</span>

        <!-- <span class="expand-more">READ MORE</span> -->
      </div>
    </div>
    <div class="Container" style="background-color: white; background-color: white; background:  url(/assets/images/straightlinemob.svg) no-repeat ; background-position: center;" >
      <div class="firstHalf " >
        <div class="ay-box ay-one row aos-init aos-animate "  data-aos="fade-left" data-aos-delay="100" data-aos-duration="400"  data-aos-offset="200"   style="   padding: 25px 10px;
        border-radius: 20px;background: white;
        opacity: 1;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%;  width: 333px;  margin-bottom: 30px; margin-left: 20px; ">
         <div class="col-4" style="   padding: 0px;">
          <img src="assets/images/crediticon1.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

         </div> <div class="col-8 " >
              <h5 style="color: #3c4d6b;">
            Online Application</h5>
          <p style="font-size: 14px; color: #3c5670;">Apply anywhere, anytime for SME funding just by filing up basic details.</p>
         </div>
       
        </div>

        <div class="ay-box ay-two row aos-init aos-animate "  data-aos="fade-right" data-aos-delay="200" data-aos-duration="400"  data-aos-offset="200"    style="   padding: 25px 10px;
        border-radius: 20px;
        opacity: 1; background: white;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%;  width: 333px;  margin-bottom: 30px; margin-left: 20px; ">
         <div class="col-4" style="   padding: 0px;">
          <img src="assets/images/crediticon2.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

         </div> <div class="col-8" >
              <h5 style="color: #3c4d6b;">
                Compare and select</h5>
          <p style="font-size: 14px; color: #3c5670;">We help you compare and select from the widest range of loans.</p>
         </div>
       
        </div>


        <!-- <div class="ay-box ay-two" style="opacity: 1;">
          <img src="https://www.tribe3.com/wp-content/themes/tribe3/assets/images/temp.png" alt="temp">
          <h5>Are you eligible?</h5>
          <p>Next, check if you meet the criteria, by answering a few quick questions on
            the form.</p>
        </div> -->
      </div>

      <div class="secHalf ">
              <div class="ay-box ay-three row  aos-init aos-animate "   data-aos="fade-left" data-aos-delay="200" data-aos-duration="400"  data-aos-offset="200"    style="   padding: 25px 10px;
        border-radius: 20px; background: white;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%;  width: 333px;  margin-bottom: 30px; margin-left: 20px; ">
         <div class="col-4" style="   padding: 0px;">
          <img src="assets/images/crediticon3.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

         </div> <div class="col-8" >
              <h5 style="color: #3c4d6b;">
                Get An Approval</h5>
          <p style="font-size: 14px; color: #3c5670;">Check your eligibility and get instantly approved. All it takes few hours!</p>
         </div>
       
        </div>
    <div class="ay-box ay-four row  aos-init aos-animate "   data-aos="fade-right" data-aos-delay="200" data-aos-duration="400"  data-aos-offset="200"    style="   padding: 25px 10px;
        border-radius: 20px; background: white;
        box-shadow: 0 0 30px 6px #eceff5;
        margin-bottom: 2%; width: 333px;  margin-bottom: 30px; margin-left: 20px; ">
         <div class="col-4" style="   padding: 0px;">
          <img src="assets/images/crediticon4.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

         </div> <div class="col-8" >
              <h5 style="color: #3c4d6b;">
                Sit Back and Relax</h5>
          <p style="font-size: 14px; color: #3c5670;">Our experts will handle the entire process for you. Get your loan worry free!</p>
         </div>
       
        </div>


      

      </div>
    </div>
  

  </div>
</div>
<br>

<br>
<br>
<br>
<br>
<br>
</ng-container>

<ng-container *ngIf="1" >  

<!--aboutus-->
<div id="about" *ngIf="!global.ismobile">
  <br>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


</div>
<div class="row" id="about"  style="margin-bottom: 15%;margin-top: -10%; width:100%">

  <!-- /.hero-caption -->
  <div  class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
    <div class="mb60 text-center section-title">
      <!-- section title start-->
      <h1>About Us </h1>

    </div>
    <!-- /.section title start-->
  </div>

  
  <!-- /.hero-caption -->
<div class="row" *ngIf="!global.ismobile">
  <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right"
    style="margin-top: 5%;">
    <div class="mt10" style="zoom:0.5;margin-top: -16%;">
      <img id="productsmob" src="../../../assets/images/comp.png" style="zoom:1.5;margin-right: 25%;" alt=""
        class="img-fluid">
    </div>
  </div>
  <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 2%;">
    <!-- hero-caption -->
    <div id="productsmob" class="card-hero-block">
      <p class="text" style="color:#38526d;font-size: 20px;font-weight: 500;">TEAM
      </p>
      <p class="text" style="color:#3c5670; font-weight: 400;">Partnering the growth of the Indian Economy. Bridge between the Entrepreneur and Lender. Customized solutions for your Business needs. Team headed by Guru Vijendran-Senior Banker, P.Sudhaker-Senior Professional from Capital Markets and R.Parthasarathy-Compliance Professional. </p>



    </div>
  </div>
</div>
</div>
<div class="example-card" *ngIf="global.ismobile" data-aos="zoom-in-up" style="margin-left: 5%; margin-right: 5%;">
    <p style="
    margin-top: -10px;
color: #38526d;
font-size: 18px;
font-weight: 500;

line-height: 20px;"> TEAM </p>
    <p style="
font-weight: 400;
color:#3c5670;
">
Partnering the growth of the Indian Economy. Bridge between the Entrepreneur and Lender.Customized solutions for your needs. Team headed by Guru Vijendran-Senior Banker, P.Sudhaker-Senior Professional from Capital Markets and R.Parthasarathy-Compliance Professional.    </p>
</div>
    <div *ngIf="global.ismobile">
      <img src="/assets/images/comp.png" alt="smebazaar">
    </div>


<div id="why" *ngIf="!global.ismobile">
  <br>
  <br>
<br>
<br>

</div>
<div class="wrapper" id="why" style="overflow: hidden; max-width: 100% !important;margin-top:1%; margin-bottom: 20px; ">
  <div class="row" style="margin-right: 0px; margin-left: 0px;">
    <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
      <div class="mb60 text-center section-title" >
        <!-- section title start-->
        <h1 class="footdiv">Why SME BAZAAR</h1>

      </div>
      <!-- /.section title start-->
    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12"  data-aos="fade-right" data-aos-duration="1500">

      <div class="profile-card js-profile-card" style="    padding-left: 0% !important;
      text-align: justify;
      padding-right: 20px;
  ">


        <div style="display: inline-block; ">
          <!-- <p style=" color: #3c4d6b; font-size: 20px; font-weight: 600;"> Our Mission</p> -->
        </div>
        <div style="display: inline-block; margin-left: 15px;  " class="footdiv">
         

          <p style="color:#3c5670;" class="footp">Small businesses are the backbone of the Indian economy and ignite the growth and innovation in our country. SMEs play a vital role in providing Business loans in channai at large employment opportunities and contribute enormously to the economic development of our country. In spite of their crucial role in the national building, SMEs in India are facing several challenges like shortage of Working capital, timely payment of their dues from big companies and proper bank support at the time of need and more importantly, the lack of proper knowledge of availability of bank finance which would have saved many SMEs going bankrupt.

            
            </p>
            <p style="color:#3c5670;" class="footp">SME bazaar seeks to play a role of the market place in which the Entrepreneurs selects the business loan facility which he needs and applies for the same sitting in his office. SME bazaar coordinates with the Entrepreneur and the Suitable lender for assessment, sanction and disbursement of the business loan. The team of SME bazaar keeps the applicant informed of the developments in the loan cycle till the disbursement. SME bazaar wants to bring in ease and agility into the business loan lending ecosystem and are committed to help small businesses flourish. Business Loans in chennai are made easier with us.</p>
        </div>

        <!-- <br>
        <br>
        <br>
        <br>
        <div style="display: inline-block;">
          <img src="assets/images/diamond.svg" alt="smebazaar" style=" width: 70px; height: 70px;  margin-top:-70px;">
        </div>
        <div style="display: inline-block; width: 70%; margin-left: 40px; " class="footdiv">
          <p style="color: #3c4d6b; font-size: 20px; font-weight: 600; margin-bottom: 0px;"> Our Values
          </p>

          <p style="color:#3c5670;" class="footp" >Agility is about being quick to respond to new ideas and situations, understanding change and
            rising to its challenges by remaining open and positive. </p>
        </div> -->






      </div>

    </div>

    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">

<div *ngIf="!global.ismobile"  data-aos="fade-left" class="footimg" data-aos-duration="1500"
style="margin-left:-30%;"> 

<img src="/assets/images/aboutus.jpg" alt="smebazaar" style="    zoom: 1.28;
margin-left: 31%;
border-radius: 5px;">
  <!-- <lottie-animation-view
[options]="manfly"
[width]="1125"
[height]="422.5  "
>
</lottie-animation-view>   -->
</div>
<div   *ngIf="global.ismobile"   data-aos="fade-left" data-aos-duration="1500"
style="padding-top:10%;margin-left: 6%;"> 
<img src="/assets/images/aboutus.jpg" alt="smebazaar" style="zoom:0.85;border-radius: 10px;" >
  <!-- <lottie-animation-view
[options]="manfly"
[width]="1125"
[height]="422.5  "
>
</lottie-animation-view>   -->
</div>



      <!-- <img src="assets/images/about1.png" data-aos="fade-left" class="footimg" data-aos-duration="1500"
        style="zoom:0.8;padding-left:15%;padding-top:10%"> -->
    </div>
  </div>


</div>
</ng-container>
<ng-container>
  <h3 style="text-align: center;">Our Partners</h3>
  <div style="text-align: center;">
    <img src="assets/patner.svg" style="width: 150px; height: 150px; " alt="Natural" />
    
  </div>
</ng-container>

<!-- <app-filter></app-filter> -->

<ng-container *ngIf="1">

<!--footer-->

<app-footer></app-footer>
</ng-container>


<!-- /.footer -->
<!-- <div class="tiny-footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
        <p>© Copyright 2016 | Borrow Loan Company</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-right">
        <p>Terms of use | Privacy Policy</p>

      </div>
    </div>
  </div>
</div> -->
<!-- back to top icon -->
<a href="#0" class="cd-top" title="Go to top">Top</a>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script type="text/javascript">
  //jQuery to collapse the navbar on scroll
  $(window).scroll(function () {
    if ($(".header-transparent").offset().top > 50) {
      $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
      $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
  });

  $(function () {
    var thumb = $('.thumb');
    thumb.click(function () {
      $(this).toggleClass('move');

    })
  })

  //aimate

  var $animation_elements = $('.animation-element');
  var $window = $(window);

  function check_if_in_view() {
    var window_height = $window.height();
    var window_top_position = $window.scrollTop();
    var window_bottom_position = (window_top_position + window_height);

    $.each($animation_elements, function () {
      var $element = $(this);
      var element_height = $element.outerHeight();
      var element_top_position = $element.offset().top;
      var element_bottom_position = (element_top_position + element_height);

      //check to see if this current container is within viewport
      if ((element_bottom_position >= window_top_position) &&
        (element_top_position <= window_bottom_position)) {
        $element.addClass('in-view');
      } else {
        $element.removeClass('in-view');
      }
    });
  }

  $window.on('scroll resize', check_if_in_view);
  $window.trigger('scroll', check_if_in_view);

</script>


<!-- Mirrored from jituchauhan.com/borrow/bootstrap-4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Jan 2020 07:41:25 GMT -->

<style>
  .example-card {
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px 6px #eceff5;
    margin-bottom: 2%;

  }
  .example-card1 {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px 6px #eceff5;
    margin-bottom: 2%;

  }

  @media (max-width: 600px) {
    .example-card {
      margin-bottom: 10%;
    }
  }

  .example-header-image {
    zoom: 1.5;
    position: absolute;
    top: -30px;


  }

</style>

<style>
  .chooseLoan .expand-para,
  .applyLoan .expand-para {
    margin: 0px auto;
    width: 100%;
    max-width: 575px;
    text-align: center;
    min-height: 135px;
  }

  .emi-calculator .expand-para {
    max-width: 650px;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 10px;

  }


  .chooseLoan .expand-btn,
  .reachout .expand-btn {

    text-align: center;
    margin: 0px auto;
    width: 100%;
  }

  .chooseLoan .expand-btn a,
  .reachout .expand-btn a,
  .tribe-offer .expand-btn a {
    color: #55d32e;

  }

  .complete {
    display: none;
  }

  .complete1 {
    display: none;
  }

  .expand-more {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #55d32e;
    cursor: pointer;
    transition: 1s ease;
  }

  .expand-more1 {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #55d32e;
    cursor: pointer;
    transition: 1s ease;
  }

  .expand-morefaq {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #55d32e;
    cursor: pointer;
    transition: 1s ease;
  }

  .chooseLoan .loanAnima {
    position: relative;
    width: 100%;
    top: 10px
  }

  .chooseLoan .loanAnima .loanBox {
    position: relative;
    width: 33.33%;
    text-align: center;
    float: left;
  }

  .chooseLoan .loanAnima .loanBox.l-one {
    left: 0;
    margin-top: 130px;
  }

  .chooseLoan .loanAnima .loanBox.l-two {
    left: 0;
    margin-top: 62px;
  }

  .chooseLoan .loanAnima .loanBox.l-three {
    left: 0;
    margin-top: -50px;
  }

  .chooseLoan .loanAnima .loanBox img {
    display: block;
    max-width: 64px;
    margin: 0 auto;
  }

  .chooseLoan .loanAnima .loanBox .lt-type {
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 5px 0 20px 0;
    display: block;
  }

  .chooseLoan .loanAnima .loanBox .oval {
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 2.1px #ffffff;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  .chooseLoan .loanAnima .loanBox .oval span {
    width: 18px;
    height: 18px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 4px 0;
  }

  .chooseLoan .loanAnima .loanBox .lt-amt {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    display: block;
    margin: 30px 0 0 0
  }

  .chooseLoan .loanAnima .loanBox .lt-amt span {
    font-weight: 300;
  }

  .chooseLoan .loanAnima .loanBox .lt-details {
    max-width: 202px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .chooseLoan .loanAnima .loanBox .lt-details p {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
    margin-bottom: 0;
    padding: 20px 0
  }

  .chooseLoan .loanAnima .loanBox .lt-details p:first-child {
    border-bottom: solid 1px rgba(151, 151, 151, 0.22);
  }

  .chooseLoan .loanAnima .loanBox a {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 130px;
    height: 45px;
    border-radius: 25px;
    background-color: #55d32e;
    display: block;
    margin: 15px auto 0 auto;
    text-transform: uppercase;
    line-height: 45px;
    position: relative;
    overflow: hidden;
  }




  .chooseLoan .loanAnima .loanBox a:hover span {
    position: relative;
    z-index: 999;
    color: #55d32e
  }

  .chooseLoan .loanAnima .loanBox a:hover {
    border: 1px solid #55d32e;
  }



  .chooseLoan .loanAnima .loanBox a:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    z-index: 99;
  }

  .chooseLoan .loanAnima .loanBox a:hover:after {
    width: 100%;
    opacity: 1;
  }


  .path2 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash3 4s linear;
    animation-iteration-count: infinite;
    ;
    animation-fill-mode: backwards;
    animation-delay: .4s;
  }

  @keyframes dash3 {
    from {
      stroke-dashoffset: 3000;
    }

    to {
      stroke-dashoffset: 0;
    }
  }




  .path-start1,
  .path-start2 .path-start3 {
    opacity: 0;
  }


  .path-start1.path3 {
    opacity: 1;
  }

  .path-start2.path3 {
    opacity: 1;
  }

  .path-start3.path3 {
    opacity: 1;
  }


  .path3 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash3 12s linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 1s;

  }


  @keyframes dash3 {
    from {
      stroke-dashoffset: 3000;
    }

    to {
      stroke-dashoffset: 0;
    }
  }







  .applyLoan {
    display: block;
    position: relative;
    padding: 60px 0
  }

  .applyLoan .ayHead {}

  .applyLoan .ayHead h3 {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }


  .applyLoan .ayPara {
    max-width: 860px;
    margin: 0px auto;
    width: 100%;
  }

  .applyLoan .ayPara p {

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #393535;
  }


  .ay-firstHalf {
    float: left;
    width: 50%;
  }

  .ay-secHalf {
    float: left;
    width: 50%;
  }

  .applyLoan .ayContainer {
    position: relative;
    display: block;
    margin-top: 60px;
    float: left;
    width: 100%;
  }


  .applyLoan .ayContainer .ay-box {
    position: relative;
    float: left;
    width: 100%;
    transition: .5s ease all;
    background-color: rgb(255, 255, 255);
  }

  .applyLoan .ayContainer .ay-box img {
    margin-bottom: 30px;
  }

  .applyLoan .ayContainer .ay-box h5 {
    padding-left: 0px;
    max-width: 370px;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .applyLoan .ayContainer .ay-box p {
    padding-left: 0px;
    max-width: 370px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000000;
  }

  .applyLoan .ayContainer .ay-box.ay-one {
    left: 188px;
    margin-bottom: 50px;
    top: -80px;
  }

  .applyLoan .ayContainer .ay-box.ay-two {
    left: 95px;
    top: -15px;
  }

  .applyLoan .ayContainer .ay-box.ay-three {
    margin-top: 250px;
    left: 30px
  }

  .applyLoan .ayContainer .ay-box.ay-four {
    margin-top: 60px;
    left: 107px;
  }


  .svg-path {
    position: absolute;
    z-index: -10;
    top: 312px;
  }

  .reachout {
    background-color: #15243a;
    color: #fff;
    padding: 60px 0;
  }

  .reachout .reachout-head {
    position: relative;
    width: 100%;
  }

  .reachout .reachout-head h3 {
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
  }

  .reachout .expand-para span {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    ;
  }

  .reachout .expand-para,
  .benft-tribe p {
    max-width: 570px;
    width: 100%;
    margin: 0px auto 60px auto;
    text-align: center;
  }


  .reachout .rea-box {
    text-align: center;
  }

  .reachout .rea-box img {
    margin-bottom: 40px;
    max-height: 80px;
  }

  .reachout .rea-box h4 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    max-width: 314px;
    margin: 0 auto;
  }

  .reachout .rea-box h4 span {
    font-size: 28px;
  }

  .reachout .rea-box.rea-wt h4 {
    line-height: 1.2;
  }

</style>





<script>
  function pathPrepare($el) {
    var lineLength = $el[0].getTotalLength();
    $el.css("stroke-dasharray", lineLength);
    $el.css("stroke-dashoffset", lineLength);
  }
  firstDraw();
  secondDraw();

  function firstDraw() {
    let duration = $('.applyLoan').height();
    var $word = $("path#word");

    // prepare SVG
    pathPrepare($word);
    // pathPrepare($dot);

    // init controller
    var controller = new ScrollMagic.Controller();

    // build tween
    var tween = new TimelineMax()
      .add(TweenMax.to($word, 0.9, {
        strokeDashoffset: 0,
        ease: Linear.easeNone
      })) // draw word for 0.9
      .add(TweenMax.to("path", 1, {
        ease: Linear.easeNone
      }), 0); // change color during the whole thing

    // build scene
    var scene = new ScrollMagic.Scene({
        triggerElement: "#trigger1",
        duration: duration,
        tweenChanges: true
      })
      .setTween(tween)
      //    .addIndicators() // add indicators (requires plugin)
      .addTo(controller);
  }

  function secondDraw() {
    if (!mobile) {
      let duration = $('.chooseLoan').height();
      var $word = $("path#word2");
      console.log(isMobile, 111);
      // prepare SVG
      pathPrepare($word);
      // pathPrepare($dot);

      // init controller
      var controller = new ScrollMagic.Controller();

      // build tween
      var tween = new TimelineMax()
        .add(TweenMax.to($word, 0.9, {
          strokeDashoffset: 0,
          ease: Linear.easeNone
        })) // draw word for 0.9
        .add(TweenMax.to("path", 1, {
          ease: Linear.easeNone
        }), 0); // change color during the whole thing

      // build scene
      var scene = new ScrollMagic.Scene({
          triggerElement: "#trigger",
          duration: duration - 200,
          tweenChanges: true
        })
        .setTween(tween)
        // .addIndicators() // add indicators (requires plugin)
        .addTo(controller);
    }

    function secondDraw() {
      if (!mobile) {
        let duration = $('.chooseLoan').height();
        var $word = $("path#word2");
        console.log(isMobile, 111);
        // prepare SVG
        pathPrepare($word);
        // pathPrepare($dot);

        // init controller
        var controller = new ScrollMagic.Controller();

        // build tween
        var tween = new TimelineMax()
          .add(TweenMax.to($word, 0.9, {
            strokeDashoffset: 0,
            ease: Linear.easeNone
          })) // draw word for 0.9
          .add(TweenMax.to("path", 1, {
            ease: Linear.easeNone
          }), 0); // change color during the whole thing

        // build scene
        var scene = new ScrollMagic.Scene({
            triggerElement: "#trigger1",
            duration: duration - 200,
            tweenChanges: true
          })
          .setTween(tween)
          // .addIndicators() // add indicators (requires plugin)
          .addTo(controller);
      }


  }}
    

</script>
<style>
  .applyLoan {
    display: block;
    position: relative;
    padding: 60px 0;
  }

</style>
<style>
  body {
    overflow-x: hidden;
  }

</style>
</ng-container>