<ng-container *ngIf="global.loaded==1">
  <app-header *ngIf="!global.ismobile"></app-header>
<app-mobileheader *ngIf="global.ismobile" ></app-mobileheader>
<div class="card-hero-section" style="overflow: hidden; background:white;background-image:url('../../../assets/images/headerbg.svg');background-position: 300px 0;
             background-repeat: no-repeat;
                 background-size: cover;
                 padding-bottom: 0px !important;">
  <div class="container">
    <div class="row" style="margin-top:10%;">
      <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
        <!-- hero-caption -->
        <div class="card-hero-block">
          <h1 class="text" style="color:#3c5670;font-size: 32px;font-weight: 600;letter-spacing: 0.1em;">Give Wings To your Business</h1>
          <p class="text" style="color:#3c5670; font-weight: 400;">Leverage the power of technology to grow your business to 10X times.</p>
          <ul class="text" style="color:#3c5670; font-weight: 400;">
            <li>&nbsp;&nbsp;CRM Tools</li>
            <li>&nbsp;&nbsp;Server Space</li>
            <li>&nbsp;&nbsp;Web & Mobile App Development</li>
            
          </ul>


          <!-- <a class="btn btn-default" style="background-color: #6262f6 !important; color: white; margin-left: 19px;" (click)="popups.opensignup()">Apply Now</a> -->


        </div>
      </div>
      <!-- /.hero-caption -->

      <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right">
        <div class="mt10" style="zoom:0.6;margin-top: -32%;">
          <img src="../../../assets/images/technology.png" style="zoom:1.5;margin-top: 16%;" alt="smebazaar" class="img-fluid" width="40%">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-hero-section" style="overflow: hidden; background:white;background-image:url('../../../assets/images/rag9.svg');background-position: 300px 0;
             background-repeat: no-repeat;
                 background-size: cover;">
  <div class="container">
    

    <h1 style="text-align: center; ">What we offer</h1>
    <p style="text-align: center; color: #3c5670;font-weight: 400;"> Grow Your Business With Us.We focus only on customer needs.</p>  
      <div class="whysmeratingmob">
      <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">
      
        <div class="example-card1" data-aos="fade-left">
        <!-- <img class="example-header-image1" style="width:65px;height:65px" 
        src="assets/images/account.svg"> -->
        <!-- <div><br> -->
      <p style=" margin-top:10px; color: #38526d;  font-size: 20px;font-weight: 500;line-height: 18px;">
        CRM Tools
</p>
      <p style="font-weight: 400; color: #3c5670;">
        Gain an insight into the behavior of your customers and modify your business operations to ensure that customers are served in the best possible way. </p>
      <!-- </div> -->
      </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">
      
      <div class="example-card1" data-aos="fade-right">
      <!-- <img class="example-header-image1" style="width:65px;height:65px" 
      src="assets/images/customer.svg">
      <div><br> -->
      <p style=" margin-top:10px; color: #38526d;  font-size: 20px;font-weight: 500;line-height: 18px;">
       Digital Transformation
</p>
      <p style="font-weight: 400; color: #3c5670;">
        Transform your SME to a corporate with the power of internet. End to End solutions for digital transformation from SME BAZAAR.  </p>
      <!-- </div> -->
      </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">
      
      <div class="example-card1" data-aos="fade-left">
      <!-- <img class="example-header-image1" style="width:65px;height:65px" 
      src="assets/images/innovation.png">
      <div><br> -->
      <p style=" margin-top:10px; color: #38526d;  font-size: 20px;font-weight: 500;line-height: 18px;">
        Web & App Development 
 </p>
      <p style="font-weight: 400; color: #3c5670;">
        Have a disruptive idea? Give life to your idea with a prototype in 24 hours. We convert your dream into reality.         </p>
      </div>
      <!-- </div> -->
      </div>
      </div>
      </div>
    <div class=whysmerating>
    <div class="row" style="margin-top:102px;">

      <!-- /.hero-caption -->

      <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right">
        <div class="mt10"  style="margin-top: -10%;">
          <img id="productsmob" src="../../../assets/images/crm1.png" style="zoom:0.5;margin-right: 66px;margin-top: 5%;" alt="smebazaar" class="img-fluid">
        </div>
      </div>
      <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 5%;">
        <!-- hero-caption -->
        <div id="productsmob" class="card-hero-block">
          <h1 class="text" style="color:#3c5670;font-size: 20px;font-weight: 500;letter-spacing: 0.1em;">CRM Tools
          </h1>
          <p class="text" style="color:#3c5670; font-weight: 400;"> Gain an insight into the behavior of your customers and modify your business operations to ensure that customers are served in the best possible way. </p>
           


        </div>
      </div>
      <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 5%;">
        <!-- hero-caption -->
        <div id="productsmob" class="card-hero-block">
          <h1 class="text" style="color:#3c5670;font-size: 20px;font-weight: 500;letter-spacing: 0.1em;"> Digital Transformation
          </h1>
          <p class="text" style="color:#3c5670; font-weight: 400;">  Transform your SME to a corporate with the power of internet. End to End solutions for digital transformation from SME BAZAAR.  </p>
      



        </div>
      </div>
      <!-- /.hero-caption -->

      <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right" style="margin-top: 5%;">
        <div class="mt10" style="zoom:2;margin-top: -16%;">
          <img id="productsmob" src="../../../assets/images/web.png" style="zoom:0.3;margin-right: 30%;" alt="smebazaar" class="img-fluid">
        </div>
      </div>

      <!-- /.hero-caption -->

      <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right" style="margin-top: 5%;">
        <div class="mt10" style="zoom:0.5;margin-top: -16%;">
          <img id="productsmob" src="../../../assets/images/app.png" style="zoom:1.2;margin-right: 25%;" alt="smebazaar" class="img-fluid">
        </div>
      </div>
      <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" style="margin-top: 5%;">
        <!-- hero-caption -->
        <div id="productsmob" class="card-hero-block">
          <h1 class="text" style="color:#3c5670;font-size: 20px;font-weight: 500;letter-spacing: 0.1em;">  Web & App Development 
          </h1>
          <p class="text" style="color:#3c5670; font-weight: 400;">Have a disruptive idea? Give life to your idea with a prototype in 24 hours. We convert your dream into reality.</p>



        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<div class="section-space80" style="overflow: hidden; background-color: #fff;margin-top: -8%;background-image:url('../../../assets/images/rag9.svg');background-position: 0 0 -120px -200px;
background-repeat: no-repeat; 
      background-size: cover;">
<div class="whycontainer">
<div class="row">
<div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
<div class="mb60 text-center section-title">
<!-- section title start-->
<h1>Why SME BAZAAR</h1>
<p style="color:#3c5670; font-weight: 400;"> We listen to your needs and build highly scalable solutions</p>
</div>
<!-- /.section title start-->
</div>
</div>
<div class="whysmeratingmob">
<div class="row">
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">

<div class="example-card1" data-aos="fade-left">
<img class="example-header-image1" style="width:65px;height:65px" 
src="assets/images/account.svg">
<div><br>
<p style=" margin-top:10px; color: #38526d;  font-size: 20px;font-weight: 500;line-height: 18px;">
  Scalable </p>
<p style="font-weight: 400; color: #3c5670;">
Our solutions are highly scalable which are build with only goal of impacting your business.
</p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">

<div class="example-card1" data-aos="fade-right">
<img class="example-header-image1" style="width:65px;height:65px" 
src="assets/images/customer.svg">
<div><br>
<p style=" margin-top:10px; color: #38526d;  font-size: 20px;font-weight: 500;line-height: 18px;">
  Customer Satisfaction</p>
<p style="font-weight: 400; color: #3c5670;">
  All our actions need to have a post impact on the customer. We care for your
  convenience.
</p>
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">

<div class="example-card1" data-aos="fade-left">
<img class="example-header-image1" style="width:65px;height:65px" 
src="assets/images/innovation.png">
<div><br>
<p style=" margin-top:10px; color: #38526d;  font-size: 20px;font-weight: 500;line-height: 18px;">
  Innovation </p>
<p style="font-weight: 400; color: #3c5670;">
  We are a new-age SME services company and innovation is in our DNA.

</p>
</div>
</div>
</div>
</div>
</div>
<div class="whysmerating">
<div class="row" style="margin-top:2%">


<div style="display: inline-block;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-3 justify-content-around  "
style="margin-right:0%; top: -30px; display: inline-block;">
<img class="example-header-image1" data-aos="fade-right"
style="width:100px;height:100px;padding:5%;  margin-right: 0%;" src="assets/images/account.svg">

</div>
<div data-aos="fade-left" class="example-card1   col-xl-8 col-lg-8 col-md-12 col-sm-9 col-9"
style="width:100%;  display: inline-block;  ">

<p style="color: #38526d;
       font-size: 20px;
       font-weight: 500;
       margin-bottom:5px"> Scalable</p>
<p style="  
       font-weight: 400;
       color:#3c5670;">
Our solutions are highly scalable which are build with only goal of impacting your business.


</p>

</div>

</div>

</div>
<div class="row" style="margin-top:2%">
<div style="display: inline-block;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-3 justify-content-around  "
style="margin-right:0%; top: -30px; display: inline-block;">
<img class="example-header-image1" data-aos="fade-right"
style="width:100px;height:100px;padding:5%;  margin-right: 0%;" src="assets/images/customer.svg">

</div>
<div data-aos="fade-left" class="example-card1  col-xl-8 col-lg-8 col-md-12 col-sm-9 col-9"
style="width:100%;  display: inline-block;  ">

<p style="color: #38526d;
             font-size: 20px;
             font-weight: 500;
             margin-bottom:5px"> Customer Satisfaction </p>
<p style="  
             font-weight: 400;
             color:#3c5670;">
All our actions need to have a post impact on the customer. We care for your
convenience.


</p>

</div>

</div>
</div>
<div class="row" style="margin-top:2%">
<div style="display: inline-block;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-3 justify-content-around  "
style="margin-right:0%; top: -30px; display: inline-block;">
<img class="example-header-image1" data-aos="fade-right"
style="width:100px;height:100px;padding:5%;  margin-right: 0%;" src="assets/images/innovation.png">

</div>
<div data-aos="fade-left" class="example-card1  col-xl-8 col-lg-8 col-md-12 col-sm-9 col-9"
style="width:100%; display: inline-block;  ">

<p style="color: #38526d;
             font-size: 20px;
             font-weight: 500;
             margin-bottom:5px"> Innovation </p>
<p style="   
             font-weight: 400;
             color:#3c5670;">
  We are a new-age SME services company and innovation is in our DNA.
  <br>



</p>

</div>

</div>
</div>


<!---xtra-->

</div>

</div>
</div>



<app-footer></app-footer>










<script type="text/javascript">
  //jQuery to collapse the navbar on scroll
  $(window).scroll(function () {
    if ($(".header-transparent").offset().top > 50) {
      $(".navbar-fixed-top").addClass("top-nav-collapse");
    } else {
      $(".navbar-fixed-top").removeClass("top-nav-collapse");
    }
  });

  $(function () {
    var thumb = $('.thumb');
    thumb.click(function () {
      $(this).toggleClass('move');

    })
  })

  //aimate

  var $animation_elements = $('.animation-element');
  var $window = $(window);

  function check_if_in_view() {
    var window_height = $window.height();
    var window_top_position = $window.scrollTop();
    var window_bottom_position = (window_top_position + window_height);

    $.each($animation_elements, function () {
      var $element = $(this);
      var element_height = $element.outerHeight();
      var element_top_position = $element.offset().top;
      var element_bottom_position = (element_top_position + element_height);

      //check to see if this current container is within viewport
      if ((element_bottom_position >= window_top_position) &&
        (element_top_position <= window_bottom_position)) {
        $element.addClass('in-view');
      } else {
        $element.removeClass('in-view');
      }
    });
  }

  $window.on('scroll resize', check_if_in_view);
  $window.trigger('scroll', check_if_in_view);

</script>


<!-- Mirrored from jituchauhan.com/borrow/bootstrap-4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Jan 2020 07:41:25 GMT -->

<style>
  .example-card {
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 0 30px 6px #eceff5;
    margin-bottom: 2%;

    background-color: #fff;

  }

  @media (max-width: 600px) {
    .example-card {
      margin-bottom: 10%;
    }
  }

  .example-header-image {
    zoom: 1.5;
    position: absolute;
    top: -30px;


  }

</style>

<style>
  .chooseLoan .expand-para,
  .applyLoan .expand-para {
    margin: 0px auto;
    width: 100%;
    max-width: 575px;
    text-align: center;
    min-height: 135px;
  }

  .emi-calculator .expand-para {
    max-width: 650px;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 10px;

  }


  .chooseLoan .expand-btn,
  .reachout .expand-btn {

    text-align: center;
    margin: 0px auto;
    width: 100%;
  }

  .chooseLoan .expand-btn a,
  .reachout .expand-btn a,
  .tribe-offer .expand-btn a {
    color: #55d32e;

  }

  .complete {
    display: none;
  }

  .complete1 {
    display: none;
  }

  .expand-more {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #55d32e;
    cursor: pointer;
    transition: 1s ease;
  }

  .expand-more1 {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #55d32e;
    cursor: pointer;
    transition: 1s ease;
  }

  .expand-morefaq {
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
    color: #55d32e;
    cursor: pointer;
    transition: 1s ease;
  }

  .chooseLoan .loanAnima {
    position: relative;
    width: 100%;
    top: 10px
  }

  .chooseLoan .loanAnima .loanBox {
    position: relative;
    width: 33.33%;
    text-align: center;
    float: left;
  }

  .chooseLoan .loanAnima .loanBox.l-one {
    left: 0;
    margin-top: 130px;
  }

  .chooseLoan .loanAnima .loanBox.l-two {
    left: 0;
    margin-top: 62px;
  }

  .chooseLoan .loanAnima .loanBox.l-three {
    left: 0;
    margin-top: -50px;
  }

  .chooseLoan .loanAnima .loanBox img {
    display: block;
    max-width: 64px;
    margin: 0 auto;
  }

  .chooseLoan .loanAnima .loanBox .lt-type {
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 5px 0 20px 0;
    display: block;
  }

  .chooseLoan .loanAnima .loanBox .oval {
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 2.1px #ffffff;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  .chooseLoan .loanAnima .loanBox .oval span {
    width: 18px;
    height: 18px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin: 4px 0;
  }

  .chooseLoan .loanAnima .loanBox .lt-amt {
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    display: block;
    margin: 30px 0 0 0
  }

  .chooseLoan .loanAnima .loanBox .lt-amt span {
    font-weight: 300;
  }

  .chooseLoan .loanAnima .loanBox .lt-details {
    max-width: 202px;
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  .chooseLoan .loanAnima .loanBox .lt-details p {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #4f4f4f;
    margin-bottom: 0;
    padding: 20px 0
  }

  .chooseLoan .loanAnima .loanBox .lt-details p:first-child {
    border-bottom: solid 1px rgba(151, 151, 151, 0.22);
  }

  .chooseLoan .loanAnima .loanBox a {
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    width: 130px;
    height: 45px;
    border-radius: 25px;
    background-color: #55d32e;
    display: block;
    margin: 15px auto 0 auto;
    text-transform: uppercase;
    line-height: 45px;
    position: relative;
    overflow: hidden;
  }




  .chooseLoan .loanAnima .loanBox a:hover span {
    position: relative;
    z-index: 999;
    color: #55d32e
  }

  .chooseLoan .loanAnima .loanBox a:hover {
    border: 1px solid #55d32e;
  }



  .chooseLoan .loanAnima .loanBox a:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    z-index: 99;
  }

  .chooseLoan .loanAnima .loanBox a:hover:after {
    width: 100%;
    opacity: 1;
  }


  .path2 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash3 4s linear;
    animation-iteration-count: infinite;
    ;
    animation-fill-mode: backwards;
    animation-delay: .4s;
  }

  @keyframes dash3 {
    from {
      stroke-dashoffset: 3000;
    }

    to {
      stroke-dashoffset: 0;
    }
  }




  .path-start1,
  .path-start2 .path-start3 {
    opacity: 0;
  }


  .path-start1.path3 {
    opacity: 1;
  }

  .path-start2.path3 {
    opacity: 1;
  }

  .path-start3.path3 {
    opacity: 1;
  }


  .path3 {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: dash3 12s linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 1s;

  }


  @keyframes dash3 {
    from {
      stroke-dashoffset: 3000;
    }

    to {
      stroke-dashoffset: 0;
    }
  }







  .applyLoan {
    display: block;
    position: relative;
    padding: 60px 0
  }



  .applyLoan .ayHead h3 {
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }


  .applyLoan .ayPara {
    max-width: 860px;
    margin: 0px auto;
    width: 100%;
  }

  .applyLoan .ayPara p {

    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: center;
    color: #393535;
  }


  .ay-firstHalf {
    float: left;
    width: 50%;
  }

  .ay-secHalf {
    float: left;
    width: 50%;
  }

  .applyLoan .ayContainer {
    position: relative;
    display: block;
    margin-top: 60px;
    float: left;
    width: 100%;
  }


  .applyLoan .ayContainer .ay-box {
    position: relative;
    float: left;
    width: 100%;
    transition: .5s ease all;
  }

  .applyLoan .ayContainer .ay-box img {
    margin-bottom: 30px;
  }

  .applyLoan .ayContainer .ay-box h5 {
    padding-left: 0px;
    max-width: 370px;
    font-size: 21px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }

  .applyLoan .ayContainer .ay-box p {
    padding-left: 0px;
    max-width: 370px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #000000;
  }

  .applyLoan .ayContainer .ay-box.ay-one {
    left: 188px;
    margin-bottom: 50px;
    top: -30px;
  }

  .applyLoan .ayContainer .ay-box.ay-two {
    left: 95px;
    top: -15px;
  }

  .applyLoan .ayContainer .ay-box.ay-three {
    margin-top: 250px;
    left: 30px
  }

  .applyLoan .ayContainer .ay-box.ay-four {
    margin-top: 60px;
    left: 107px;
  }


  .svg-path {
    position: absolute;
    z-index: -10;
    top: 312px;
  }

  .reachout {
    background-color: #15243a;
    color: #fff;
    padding: 60px 0;
  }

  .reachout .reachout-head {
    position: relative;
    width: 100%;
  }

  .reachout .reachout-head h3 {
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 10px;
    color: #ffffff;
  }

  .reachout .expand-para span {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    ;
  }

  .reachout .expand-para,
  .benft-tribe p {
    max-width: 570px;
    width: 100%;
    margin: 0px auto 60px auto;
    text-align: center;
  }


  .reachout .rea-box {
    text-align: center;
  }

  .reachout .rea-box img {
    margin-bottom: 40px;
    max-height: 80px;
  }

  .reachout .rea-box h4 {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    max-width: 314px;
    margin: 0 auto;
  }

  .reachout .rea-box h4 span {
    font-size: 28px;
  }

  .reachout .rea-box.rea-wt h4 {
    line-height: 1.2;
  }

</style>





<script>
  function pathPrepare($el) {
    var lineLength = $el[0].getTotalLength();
    $el.css("stroke-dasharray", lineLength);
    $el.css("stroke-dashoffset", lineLength);
  }
  firstDraw();
  secondDraw();

  function firstDraw() {
    let duration = $('.applyLoan').height();
    var $word = $("path#word");

    // prepare SVG
    pathPrepare($word);
    // pathPrepare($dot);

    // init controller
    var controller = new ScrollMagic.Controller();

    // build tween
    var tween = new TimelineMax()
      .add(TweenMax.to($word, 0.9, {
        strokeDashoffset: 0,
        ease: Linear.easeNone
      })) // draw word for 0.9
      .add(TweenMax.to("path", 1, {
        ease: Linear.easeNone
      }), 0); // change color during the whole thing

    // build scene
    var scene = new ScrollMagic.Scene({
        triggerElement: "#trigger1",
        duration: duration,
        tweenChanges: true
      })
      .setTween(tween)
      //    .addIndicators() // add indicators (requires plugin)
      .addTo(controller);
  }

  function secondDraw() {
    if (!mobile) {
      let duration = $('.chooseLoan').height();
      var $word = $("path#word2");
      console.log(isMobile, 111);
      // prepare SVG
      pathPrepare($word);
      // pathPrepare($dot);

      // init controller
      var controller = new ScrollMagic.Controller();

      // build tween
      var tween = new TimelineMax()
        .add(TweenMax.to($word, 0.9, {
          strokeDashoffset: 0,
          ease: Linear.easeNone
        })) // draw word for 0.9
        .add(TweenMax.to("path", 1, {
          ease: Linear.easeNone
        }), 0); // change color during the whole thing

      // build scene
      var scene = new ScrollMagic.Scene({
          triggerElement: "#trigger",
          duration: duration - 200,
          tweenChanges: true
        })
        .setTween(tween)
        // .addIndicators() // add indicators (requires plugin)
        .addTo(controller);
    }

    function secondDraw() {
      if (!mobile) {
        let duration = $('.chooseLoan').height();
        var $word = $("path#word2");
        console.log(isMobile, 111);
        // prepare SVG
        pathPrepare($word);
        // pathPrepare($dot);

        // init controller
        var controller = new ScrollMagic.Controller();

        // build tween
        var tween = new TimelineMax()
          .add(TweenMax.to($word, 0.9, {
            strokeDashoffset: 0,
            ease: Linear.easeNone
          })) // draw word for 0.9
          .add(TweenMax.to("path", 1, {
            ease: Linear.easeNone
          }), 0); // change color during the whole thing

        // build scene
        var scene = new ScrollMagic.Scene({
            triggerElement: "#trigger1",
            duration: duration - 200,
            tweenChanges: true
          })
          .setTween(tween)
          // .addIndicators() // add indicators (requires plugin)
          .addTo(controller);
      }


    }
  }

</script>


<style>
  .example-card1 {
    background-color: #fff;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px 6px #eceff5;
    margin-bottom: 2%;

  }

  @media (max-width: 600px) {
    .example-card1 {
      margin-bottom: 10%;
    }
  }

  .example-header-image1 {
    zoom: 1.3;
    /* position: absolute;
            top: -30px; */


  }

</style>
</ng-container>
