
  
          <app-filter [data]='name'></app-filter>
  
  <div class="listing" style="background-color: #fff;" >
  <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt40">
                <div class="section-space20" style="display: inline-block; width: 100%;  ">
       
                    <div class="bg-white pinside30" style=" padding: 10px;  border-radius: 20px;box-shadow: 0 0 30px 6px #eceff5;">
                       

                        <table>
                            <thead  > 
                                <tr>
                                   

                                    <th style="width:20%;  color: #3c4d6b; " class="card-tag">Name</th>
                                    <th style="width:10%; color: #3c4d6b;"  class="card-name">Age</th>
                                    <th style="width:35%; color: #3c4d6b;"  class="anuual-fees">Employment</th>
                                    <th style="width:21%; color: #3c4d6b;" class="reward-rate">Location</th>
                                </tr>

                            </thead>
                            <tbody > 
                                <tr style="color: #3c4d6b;" >
                                    <td>
                                     <p>balaji</p>
                                    </td>
                                    <td>
                                        <p>21</p>
                                       </td>
                                       <td>
                                          <p>Tata consultancy Service</p>
                                         </td>
                                         <td>
                                            <p>Chennai</p>
                                           </td>
                                    <a href="#" class="button" >Apply Now</a>
                                          
                                    </tr>

                                    </tbody>
                                    <!-- <a href="#" class="button" >Apply Now</a> -->

                                    </table>

                        <!-- <h1 class="text-bold" style="font-weight: 500; ">Name</h1>
                        
                        <p class="col-xl-6 col-lg-4 col-md-12 col-sm-12 col-12 mt40" style="margin-bottom: 10px; font-size: 21px; display: inline-block;">Mobile-Number:9999999 </p>
                        <p class="col-xl-6 col-lg-4 col-md-12 col-sm-12 col-12 mt40" style="display: inline-block; font-size: 21px; ">Company Name:Tata consultancy Service </p> 
                        <p class="col-xl-6 col-lg-4 col-md-12 col-sm-12 col-12 mt40" style="margin-bottom: 10px; font-size: 21px; display: inline-block;">Mobile-Number:9999999 </p>
                        <p class="col-xl-6 col-lg-4 col-md-12 col-sm-12 col-12 mt40" style="display: inline-block; font-size: 21px; ">Company Name:Tata consultancy Service </p> -->
                        <!-- <p>Aenean auctor orci nec nunc tristique ornare. Integer bibendum nisl sed metus pharetra hendrerit. Suspendisse rhoncus facilisis enim, vel cursus felis euismod in.</p>
                        <p>Compare options to build your credit below.<a href="#" class="btn-link ml20">Advertiser Disclosure</a></p> -->
                    </div>
                </div>
              </div>
            </div>
        </div>
    <div class="container">
      <div class="row">
          <!-- <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
    <div class="section-space20" style="display: inline-block; padding-top: 0px; ">
       
               
                    <div class="bg-white pinside30" style=" border-radius: 20px;box-shadow: 0 0 30px 6px #eceff5;">
                        <h1 class="text-bold" style="font-weight: 400;">Loans</h1>
                        <p  class="lead" style="font-size: 13px;">Avail home loans up to Rs.10 crore with interest rates starting at 7.91% p.a. with additional benefits such as extended loan terms and flexible repayment options. Simple documentation, quick processing, and an excellent customer service with a response time of 30 – 45 minutes makes BankBazaar a go-to place for all your housing loan needs. </p>
                        <!-- <p>Aenean auctor orci nec nunc tristique ornare. Integer bibendum nisl sed metus pharetra hendrerit. Suspendisse rhoncus facilisis enim, vel cursus felis euismod in.</p>
                        <p>Compare options to build your credit below.<a href="#" class="btn-link ml20">Advertiser Disclosure</a></p> 
                    </div>
                </div>
            </div> -->
            <div class="col-xl-12 col-lg-9 col-md-12 col-sm-12 col-12">
     
    <div class="pdb40 compare-table" style="display: inline-block;">
       
                    <div class="bg-white table-responsive" style=" border-radius: 20px;box-shadow: 0 0 30px 6px #eceff5;">
                        <table class="table" >
                            <thead  >
                                <tr>
                                    <th style="width:21%;" class="card-tag">Bank</th>
                                    <th style="width:18%;" class="card-name">Interest Rate Range</th>
                                    <th style="width:18%;" class="anuual-fees">Processing Fee Range</th>
                                    <th style="width:11%;" class="reward-rate">Loan Amount</th>
                                    <th  style="width:11%;" class="action">Action</th>
                                </tr>
                            </thead>
                            <tbody > 
                                <tr *ngFor="let x of list ; let i=index">
                                  
                                    <td><img src="http://13.126.161.129/smebackend{{x.image}}" alt=""  class="img-fluid" >
                                        <!-- <div class="icon rate-done mb10"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star "></i></div> -->
                                    
                                    </td>

                                    <td>
                                        <span class="text-dark compare-card-title">
                                            {{x.interestrange}}</span>
                                        <br>
                                    </td>
                                <td class="text-dark text-bold">{{x.feerange}}</td>
                                    <td class="text-dark text-bold">{{x.loanamount}}</td>
                                    <td class="text-center">
                                        <a href="#" class="btn btn-default btn-sm mb5">Apply Now</a>
                                        <!-- <br><small>on bank's secure application</small> -->
                                    <!-- <div class="mt10"><a class="btn-link" id="example-one" data-text-swap="Hide Details" data-text-original="Expand Details" data-toggle="collapse" href="#collapseExample{{i}}}" aria-expanded="false" aria-controls="collapseExample"> Expand Details </a></div> -->
                                    </td>
                                </tr>
                                <tr >
                                    <td  colspan="12" class="expandable-info">
                                    <div class="collapse expandable-collapse" id="collapseExample">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="mb20">Card Information</h4>
                                                            <ul class="bullet bullet-check-circle list-unstyled">
                                                                <li>$150 credit for spending $500 in first 3 months</li>
                                                                <li>3% back at gas stations</li>
                                                                <li>2% back at grocery stores</li>
                                                                <li>1% back on regular purchases</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="mb20">What We Like</h4>
                                                            <ul class="bullet bullet-check-circle list-unstyled">
                                                                <li>1% APR on regular purchases for first 12 months</li>
                                                                <li>1% APR on balance transfers for first 12 months</li>
                                                                <li>11% bonus when redeeming rewards into a Bank of Borrow checking or savings account</li>
                                                                <li>No annual fee</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="mb20">What to Consider</h4>
                                                            <ul class="bullet bullet-check-circle list-unstyled">
                                                                <li>Regular APR: 13.99% - 23.99%, variable</li>
                                                                <li>Balance Transfer APR: 13.99% - 23.99%, variable</li>
                                                                <li>Cash Advance APR: 16.99% - 25.99%, variable</li>
                                                                <li>Penalty APR: 29.99%, variable</li>
                                                                <li>3% foreign transaction fee</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="mt30">
                                                        <h4 class="mb5">Related Information</h4>
                                                        <p>See additional details for <a href="#">BankBorrow</a> Cash Rewards for Borrow Moneyback</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                           
                        </table>
                    </div>
                </div>
           
      
    </div>
  </div>
    </div>
  </div>
  <!-- <app-tracking ></app-tracking> -->
<!-- <app-footer></app-footer> -->
    
 


