<script type="text/javascript">
  window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/demo.oceanthemes.net\/borrow\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.3.2"}};
  !function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
</script><script src="./Compare Credit Card - Borrow_files/wp-emoji-release.min.js.download" type="text/javascript" defer=""></script>
<style type="text/css">
img.wp-smiley,
img.emoji {
display: inline !important;
border: none !important;
box-shadow: none !important;
height: 1em !important;
width: 1em !important;
margin: 0 .07em !important;
vertical-align: -0.1em !important;
background: none !important;
padding: 0 !important;
}
</style>
  
<style type="text/css">    	
/* 01 MAIN STYLES
****************************************************************************************************/
::selection {
  color: #fff;
  background: #f51f8a;
}
::-moz-selection {
  color: #fff;
  background: #f51f8a;
}
/* default color: #00cb8b */

      /* Preload Colors */
  .royal_preloader, html {background-color: #ffffff;}			
  #royal_preloader.royal_preloader_progress .royal_preloader_meter {background-color:#f51f8a;}
  #royal_preloader.royal_preloader_progress .royal_preloader_percentage {color:#111111;}

a,	
#navigation > ul > li:hover > a, #navigation ul ul li:hover > a, #navigation ul ul li a:hover,
.btn-link:hover, .meta-date, .icon-default, .text-big, .widget-footer ul li a:hover, .highlight,
.sub-nav>.nav li a:hover, .rate-number, .designation, .widget_categories li a:hover, .widget_archive li a:hover,
.name, .prev-link:hover, .next-link:hover, .testimonial-title, .msg, 
div.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active>a,
div.vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a:hover, .page-breadcrumb .breadcrumb a span:hover,
.widget-social ul li a:hover, #navigation li.current-menu-parent > a, #navigation li.current-menu-item > a,
.st-tabs .nav-tabs.nav-justified>.active>a, .st-tabs .nav-tabs.nav-justified>.active>a:focus, 
.st-tabs .nav-tabs.nav-justified>.active>a:hover, .procwss-v2 .circle, .btn-default-link, .pink-circle.circle,
#navigation.small-screen #menu-button, #sub-nav.small-screen #menu-button, .text-pink
{color:#f51f8a;}

a.expand:hover {color: #fff;}
.btn-default, .cd-top, #service .owl-next:hover, #service .owl-prev:hover, #to-the-top,
.slide-ranger .ui-widget-header, .widget_tag_cloud a:hover, .st-pagination .pagination>li:first-child>span,
.st-pagination .pagination>li>a:focus, .st-pagination .pagination>li>a:hover, .st-pagination .pagination>li>span:focus,
.st-pagination .pagination>li>span:hover, .slider > .dragger, #navigation.small-screen #menu-button:before,
 #sub-nav.small-screen #menu-button:before, .customer-quote-circle

{background-color:#f51f8a;}

#service .owl-next:hover, #service .owl-prev:hover, 
div.vc_tta.vc_tta-accordion .vc_tta-panel.vc_active .vc_tta-controls-icon-position-left .vc_tta-controls-icon:before,
.slide-ranger .ui-slider .ui-slider-handle, .slide-ranger .ui-widget.ui-widget-content, .widget_tag_cloud a:hover,
.st-pagination .pagination>li:first-child>span, .st-pagination .pagination>li>a:focus, .st-pagination .pagination>li>a:hover,
.st-pagination .pagination>li>span:focus, .st-pagination .pagination>li>span:hover, .slider > .dragger,
#navigation.small-screen #menu-button:after, #sub-nav.small-screen #menu-button:after, .procwss-v2 .circle,
.pink-circle.circle
{border-color:#f51f8a;}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a 
{border-left-color:#f51f8a;}
  
.border-top-default 
{border-top-color:#f51f8a;}

.btn-link:hover 
{border-bottom-color:#f51f8a;}

.slider > .dragger{
background-image: -webkit-linear-gradient(top, #f51f8a, #f51f8a);
}
.btn-default:hover {
  background-color:#ff389c;
}
.btn-default:hover {
  border-color:#ff389c;
}
/* main color 2: #15549a */
a:focus, a:hover, 
.btn-link, .circle, .icon-primary,.testimonial-name-1, .big-title,
.post-block .meta-comments a:hover, .post-related-content a:hover,
.feature-left .feature-icon, .testimonial-name-inverse,
div.vc_tta-color-white.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a:hover,
.page-breadcrumb .breadcrumb a span, .page-breadcrumb .breadcrumb, .meta-author a:hover

{color:#15549a;}

.bg-custom, .top-bar, .btn-primary

{background-color:#15549a;}

.circle 
  {border-color:#15549a;}

.btn-primary, .btn-link
{border-bottom-color:#15549a;}

.mail-text
{border-right-color:#15549a;}

.btn-primary:hover {
  background-color:#2573cb;
}
.btn-primary:hover {
  border-color:#2573cb;
}
/* background color top header */

div.top-bar

{background-color:#15549a;}


/* color text top header */

.top-text a, .top-bar

{color:#f1f1f1;}

/* bg color header static */

.header, .header-2

{background-color:rgba(255,255,255,1);}

/* text color header static */

#navigation > ul > li > a 

{color:rgba(102,112,127,1);}


/* bg color header sticky */

.is-sticky .header, .is-sticky .header-2

{background-color:rgba(255,255,255,1);}

/* text color header sticky */

.is-sticky #navigation > ul > li > a 
{color:rgba(102,112,127,1);}

/** Customize css code **/
.is-sticky .header.header-tabbed {
background-color: #15549a;
}
.hide-over {
overflow: hidden;
}    </style>
<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1530678185533{padding-top: 20px !important;padding-bottom: 20px !important;}.vc_custom_1530765217788{padding-bottom: 40px !important;}.vc_custom_1530677974263{margin-bottom: 0px !important;}</style><noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript><script type="text/javascript" charset="UTF-8" src="./Compare Credit Card - Borrow_files/common.js.download"></script><script type="text/javascript" charset="UTF-8" src="./Compare Credit Card - Borrow_files/util.js.download"></script>

<ng-container *ngIf="global.loaded==1"> 
  <app-header *ngIf="!global.ismobile"></app-header>
  <app-mobileheader *ngIf="global.ismobile"></app-mobileheader>
  <div class="card-hero-section" style="overflow: hidden; background:white;background-image:url('../../../assets/images/headerbg.svg');background-position: 300px 0;
background-repeat: no-repeat;
background-size: cover;">
    <div class="container">
      <div class="row" style="margin-top:10%;margin-bottom:6%;">
        <div data-aos="fade-right" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          <!-- hero-caption -->
          <div class="card-hero-block">
            <h1 class="text" style="color:#3c5670;font-size: 32px;font-weight: 600;letter-spacing: 0.1em;">SME Rating
            </h1>
            <p class="text" style="color:#3c5670; font-weight: 400;">SME rating refers to a rating which the company assigns to an entire
              range of debt instruments and financial entities.</p>
              <ul class="text" style="color:#3c5670">
                <li>&nbsp;&nbsp;Corporate Rating</li>
                <li>&nbsp;&nbsp;Financial Rating</li>
              </ul>
            <div class="mt30">



              <a class="btn btn-default" style="background-color: #6262f6 !important; color: white; margin-left: 19px;"  (click)="popups.opensignup()">Apply Now</a>


            </div>
          </div>
          <!-- /.hero-caption -->
        </div>
        <div id="ratimg" data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-right">
          <div class="mt10" style="zoom:0.6;margin-top: -30%;margin-right:-8%">
            <img src="../../../assets/images/ratin.png" style="zoom:1.8" alt="smebazaar" class="img-fluid">
          </div>
        </div>




      </div>

    </div>

  </div>

  <section *ngIf="0" class="wpb_row vc_row-fluid vc_custom_1481776272392 vc_row-has-fill" style="margin-top: -10%;"><div class="container"><div class="row"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner "><div class="wpb_wrapper "> 
     <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6" style="zoom: 0.14;"><img src="assets/images/ICRA.png" alt="logo-2" class="img-responsive"></div>
    <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/carerating.png" alt="logo-1" class="img-responsive"></div>
                       
    <div class="col-md-2 col-sm-4 col-xs-6" style="zoom: 0.9;"><img src="assets/images/crisil.png" alt="logo-5" class="img-responsive"></div>
                       
   
                       
    <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/brick.png" alt="logo-3" class="img-responsive"></div>
                       
    <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/infomerics.png" alt="logo-4" class="img-responsive"></div>
                       
    <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/indiarating.png" alt="logo-1" class="img-responsive"></div>
        </div>
</div></div></div></div></div></section > 
    
    <a id="to-the-top" style="display: none;"><i class="fa fa-angle-up"></i></a> 
    
    <script type="text/javascript">
    (function($) {"use strict";
        $(document).on('ready', function() {
          $("#slider-range-min").slider({
              range: "min",
              value: 3000,
              min: 1000,
              max: 5000,
              slide: function(event, ui) {
                  $("#amount").val("$" + ui.value);
              }
          });
          $("#amount").val("$" + $("#slider-range-min").slider("value"));
          $("#slider-range-max").slider({
              range: "max",
              min: 1,
              max: 10,
              value: 2,
              slide: function(event, ui) {
                  $("#j").val(ui.value);
              }
          });
          $("#j").val($("#slider-range-max").slider("value")); 
        });     
                  Royal_Preloader.config({
                            mode           : 'logo',
                logo           : 'http://demo.oceanthemes.net/borrow/wp-content/themes/borrow/images/logo.png',
                logo_size      : [160, 60],
                showProgress   : true,
                showPercentage : true,
                        text_colour: '#111111',
            background:  '#ffffff'
          });
            })(jQuery);
    </script>
    
    <script type="text/html" id="wpb-modifications"></script>
    
    
    
    
    <style type="text/css">
    .theme_panel {
    direction: ltr;
    position: fixed;
    z-index: 11000;
    font-weight: 600;
    font-size: 11px;
    width: 350px;
    height: 100%;
    left: 100%;
    top: 0;
    max-width: 85vw;
    -webkit-transition: -webkit-transform .6s;
    -moz-transition: -moz-transform .6s;
    -o-transition: -o-transform .6s;
    -ms-transition: -ms-transform .6s;
    transition: transform .6s
    }
    @media (max-width:570px) {
    .theme_panel {
      display: none
    }
    .theme_panel_container {
      display: none
    }
    }
    .panel_buttons {
    background-color: white!important;
    position: absolute;
    top: 135px;
    top: 12.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    z-index: 10002;
    -webkit-box-shadow: -11px 0 25px -1px rgba(0, 0, 0, .05);
    -moz-box-shadow: -11px 0 25px -1px rgba(0, 0, 0, .05);
    box-shadow: -11px 0 25px -1px rgba(0, 0, 0, .05);
    -webkit-animation-name: slide-panel;
    animation-name: slide-panel;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-transition: -webkit-opacity .2s;
    -moz-transition: -moz-opacity .2s;
    -o-transition: -o-opacity .2s;
    -ms-transition: -ms-opacity .2s;
    transition: opacity .2s
    }
    .panel_open,
    .panel_docs,
    .panel_video,
    .panel_showcase,
    .panel_chat,
    .panel_buy,
    .panel_support,
    .panel_portfolio {
    width: 34px;
    height: 31px;
    position: relative
    }
    .panel_open:hover {
    opacity: 1
    }
    .theme_panel.opened .panel_open {
    opacity: 1
    }
    @-webkit-keyframes slide-panel {
    from {
      left: 0
    }
    to {
      left: -34px
    }
    }
    @keyframes slide-panel {
    from {
      left: 0
    }
    to {
      left: -34px
    }
    }
    .panel_buttons i {
    position: relative;
    top: 6px;
    left: 9px;
    color: #f51f8a;
    font-size: 18px
    }
    .panel_buttons>div:hover {
    opacity: 1
    }
    .panel_buttons>div:hover i {
    color: #9E9E9E
    }
    .panel_buttons>div:hover span {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
    }
    .panel_buttons span {
    font-size: 13px;
    padding: 6px 14px 6px 14px;
    position: absolute;
    margin-right: 12px;
    color: #777;
    background-color: #fff;
    display: inline-block;
    right: 100%;
    top: 0;
    border-radius: 3px;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    -webkit-transform-origin: 100% 50%;
    -moz-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    -o-transform-origin: 100% 50%;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
    -ms-transform: scale(.5);
    transform: scale(.5);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
    -webkit-box-shadow: -10px 0 25px -1px rgba(0, 0, 0, .05);
    -moz-box-shadow: -10px 0 25px -1px rgba(0, 0, 0, .05);
    box-shadow: -10px 0 25px -1px rgba(0, 0, 0, .05);
    white-space: nowrap;
    }
    .panel_buttons span:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    right: -4px;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #fff;
    color: #fff
    }
    </style>
    
    



  <div class="section-space80" style="overflow: hidden; background-color: #fff;background-image:url('../../../assets/images/rag9.svg');background-position: 0 0 -120px -200px;
background-repeat: no-repeat; 
      background-size: cover;">
    <div class="whycontainer">
      <div class="row">
        <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
          <div class="mb60 text-center section-title">
            <!-- section title start-->
            <h1>About Rating Agencies</h1>
          </div>
          <!-- /.section title start-->
        </div>
      </div>
      <div class="whysmeratingmob">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">

            <div class="example-card1" data-aos="fade-left">
              <img class="example-header-image1" style="width:65px;height:65px" src="assets/images/ratingicon1.png">
              <div><br>
                <p style=" margin-top:10px; color: #38526d;  font-size: 20px;font-weight: 500;line-height: 18px;">
                  credit rating agency </p>
                <p style="font-weight: 400; color: #3c5670;">
                  A credit rating agency (CRA) evaluates and assesses an individual’s or a company’s creditworthiness.
                  That is, these agencies consider a debtor’s income and credit lines to analyse the debtor’s ability to
                  repay the debt or if there is any credit risk associated.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">

            <div class="example-card1" data-aos="fade-right">
              <img class="example-header-image1" style="width:65px;height:65px" src="assets/images/ratingicon2.png">
              <div><br>
                <p style=" margin-top:10px; color: #38526d;  font-size: 20px;font-weight: 500;line-height: 18px;">
                  Who regulates credit rating agencies?</p>
                <p style="font-weight: 400; color: #3c5670;">
                  All the credit rating agencies in India are regulated by Securities and Exchanges Board of India (SEBI).
                The credit rating agencies are monitored and reviewed by SEBI.
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">

            <div class="example-card1" data-aos="fade-left">
              <img class="example-header-image1" style="width:65px;height:65px" src="assets/images/ratingicon3.png">
              <div><br>
                <p style=" margin-top:10px; color: #38526d;  font-size: 20px;font-weight: 500;line-height: 18px;">
                  How do credit rating agencies work?  </p>
                <p style="font-weight: 400; color: #3c5670;">
                  Credit rating agencies analyse an organisation, individual, or entity and assign ratings to it. These
                  agencies have the authority to rate companies, state governments, etc.
  

                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="whysmerating">
        <div class="row" style="margin-top:2%">


          <div style="display: inline-block;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-3 justify-content-around  "
              style="margin-right:0%; top: -30px; display: inline-block;">
              <img class="example-header-image1" data-aos="fade-right"
                style="width:100px;height:100px;padding:5%;  margin-right: 0%;" src="assets/images/ratingicon1.png">

            </div>
            <div data-aos="fade-left" class="example-card1   col-xl-8 col-lg-8 col-md-12 col-sm-9 col-9"
              style="width:100%;  display: inline-block;  ">

              <p style="color: #38526d;
       font-size: 20px;
       font-weight: 500;
       margin-bottom:5px"> Credit Rating Agency</p>
              <p style="  
       font-weight: 400;
       color:#3c5670;">
                CRA evaluates an individual’s or a company’s creditworthiness. These agencies consider a debtor’s income
                and credit lines to analyse the debtor’s ability to repay the debt.


              </p>

            </div>

          </div>

        </div>
        <div class="row" style="margin-top:2%">
          <div style="display: inline-block;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-3 justify-content-around  "
              style="margin-right:0%; top: -30px; display: inline-block;">
              <img class="example-header-image1" data-aos="fade-right"
                style="width:100px;height:100px;padding:5%;  margin-right: 0%;" src="assets/images/ratingicon2.png">

            </div>
            <div data-aos="fade-left" class="example-card1  col-xl-8 col-lg-8 col-md-12 col-sm-9 col-9"
              style="width:100%;  display: inline-block;  ">

              <p style="color: #38526d;
             font-size: 20px;
             font-weight: 500;
             margin-bottom:5px">Who regulates credit rating agencies?</p>
              <p style="   
             font-weight: 400;
             color:#3c5670;">
                All the credit rating agencies in India are regulated by Securities and Exchanges Board of India (SEBI).
                The credit rating agencies are monitored and reviewed by SEBI.


              </p>

            </div>

          </div>
        </div>
        <div class="row" style="margin-top:2%">
          <div style="display: inline-block;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-3 col-3 justify-content-around  "
              style="margin-right:0%; top: -30px; display: inline-block;">
              <img class="example-header-image1" data-aos="fade-right"
                style="width:100px;height:100px;padding:5%;  margin-right: 0%;" src="assets/images/ratingicon3.png">

            </div>
            <div data-aos="fade-left" class="example-card1  col-xl-8 col-lg-8 col-md-12 col-sm-9 col-9"
              style="width:100%; display: inline-block;  ">

              <p style="color: #38526d;
             font-size: 20px;
             font-weight: 500;
             margin-bottom:5px"> How do credit rating agencies work? </p>
              <p style="  
             font-weight: 400;
             color:#3c5670;">
                Credit rating agencies analyse an organisation, individual, or entity and assign ratings to it. These
                agencies have the authority to rate companies, state governments, etc.


              </p>

            </div>

          </div>
        </div>


        <!---xtra-->

      </div>

    </div>
  </div>
  <div class="bg-white section-space80" style="overflow: hidden; background:white;background-image:url('../../../assets/images/b2.svg');
background-repeat: no-repeat; padding-top: 0px !important;
background-size: cover; background-position: 0px 0px;">
    <div class="container">
      <div class="row">
        <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
          <div class="mb100 text-center section-title">
            <!-- section title start-->
            <h1>Credit Rating Agency</h1>
          </div>
          <!-- /.section title start-->
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;" id="marb">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:59%;height:28%" src="assets/images/Crisilcolor.png">
            <div><br>
              <p style="
      margin-top:10px;
      color: #38526d;
      font-size: 20px;
      font-weight: 500;
      
      line-height: 18px;"> CRISIL Limited </p>
              <p style="
       font-weight: 400;
       color:#3c5670;
       ">
                Credit Rating Information Services of India Limited (CRISIL), one of the oldest credit rating agencies, was
                set up in 1987. The agency stepped on to infrastructure rating in 2016. CRISIL has been operational in
                countries such as USA, UK, Poland, Hong Kong, China, and Argentina in addition to India
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;" id="marb">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:59%;height:28%" src="assets/images/care.png">
            <br>
            <div>
              <p style="
          margin-top:10px;
          color: #38526d;
          font-size: 20px;
          font-weight: 500;
          line-height: 18px;"> CARE </p>
              <p style="
            color:#3c5670;
           font-weight: 400;
           ">
                Credit Analysis and Research Limited (CARE) is a credit rating agency that is operational from April
                1993. The agency provides credit rating that helps corporates to raise funds for their investment
                requirements. Investors can make decisions based on credit risk and risk-return expectations.
              </p>
            </div>
          </div>
        </div>
        
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;" id="marb">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:59%;height:28%" src="assets/images/ICRA.png">
            <div>
              <br>
              <p style="
      margin-top:10px;
      color: #38526d;
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;"> ICRA Limited </p>
              <p style="
            color:#3c5670;
       font-weight: 400;
       ">
                The Investment Information and Credit Rating Agency (ICRA), a joint venture of Moody’s and Indian
                Financial and Banking Service Organisation was established in 1991. The organisation assigning corporate
                governance rating, performance rating, mutual funds ranking.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;" id="marb">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:59%;height:28%" src="assets/images/irr.png">
            <div><br>
              <p style="
      margin-top:10px;
      color: #38526d;
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;"> India Ratings and Research Pvt Ltd</p>
              <p style="
            color:#3c5670;
       font-weight: 400;
       ">
                India Ratings and Research, a wholly-owned subsidiary of Fitch Group, provides accurate credit opinions
                on the country’s credit market. The firm covers corporate issuers, financial institutions, urban local
                bodies and structured finance companies.
                <br>
                <br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;" id="marb">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="width:59%;height:28%" src="assets/images/brick.png">
            <br>
            <div>
              <p style="
              margin-top:10px;
              color: #38526d;
              font-size: 20px;
              font-weight: 500;
              line-height: 18px;"> Brickwork Ratings India Pvt Ltd </p>
              <p style="
            color:#3c5670;
               font-weight: 400;
               ">
                Brickwork Ratings (BWR) is accredited by RBI and empanelled by NSIC, NCD, MSME ratings and grading
                services. Brickwork is also authorised to grade companies seeking credit facilities from IREDA,
                Renewable Energy Service Providing Companies and System Integrators. Canara Bank was the leading
                promoter for Brickwork.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;" id="marb">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="height: 28%; width: 59%;" src="assets/images/acuite.png">
            <br>
            <div>
              <p style="
                  margin-top:10px;
                  color: #38526d;
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 18px;">Acuite Rating and Research </p>
              <p style="
            color:#3c5670;
                   font-weight: 400;
                   ">
                Acuite Rating and Research  was incorporated in 2005 as an initiative of Ministry of Finance (GOI) and Reserve Bank of India (RBI), to facilitate credit rating of bank borrowers. We call ourselves Rating Agency which later rechristened to SMERA Ratings Limited as our products & services portfolio expanded organically over the period and included Bond Ratings, SME Ratings and various grading services.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%;" id="marb">

          <div class="example-card" data-aos="zoom-in-up">
            <img class="example-header-image" style="height: 28%; width: 59%;" src="assets/images/ivrpl.png">
            <br>
            <div>
              <p style="
                  margin-top:10px;
                  color: #38526d;
                  font-size: 20px;
                  font-weight: 500;
                  line-height: 18px;">Infometrics Valuation and Rating Pvt Ltd </p>
              <p style="
            color:#3c5670;
                   font-weight: 400;
                   ">
                This SEBI-registered, RBI-accredited credit rating agency was founded by finance professionals, former
                bankers, and administrative services personnel. It evaluates entities such as banks, non-banking
                financial companies, large corporates, and small and medium scale units (SMUs).
              </p>
            </div>
          </div>
        </div>
        


      </div>

      <div class="row" style="margin-bottom: -5%;">
        <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center">
          <!-- <a href="#" class="btn btn-default">Apply Now</a> </div> -->
        </div>
      </div>
    </div>
  </div>
  

<!-- table-1 starts -->
<section  class="wpb_row vc_row-fluid vc_custom_1530765217788" id="ratingtable" style=" padding-bottom: 6%; ">
  <div class="container">
    <div class="row">
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper ">
            <div class="compare-table">
              <div class="bg-white table-responsive" style=" overflow-x: visible;">
                <div class="mb60 text-center section-title" id="ratingheading">
                  <!-- section title start-->
                  <h2> Outlook Vs  Watch </h2>
                </div>
                <div style="overflow-x:visible;" >
                <table class="table example-card" style="border: 1px solid #dee2e6;"  >

                  <thead style="background-color: #3c5670;">
                    <tr style="border-right: 2px solid #dee2e6;">
                      <th style="width:5%;" class="card-tag"></th>
                      <th style="width:25%; color: #fff; " class="card-name">Rating Outlook</th>
                      <th style="width:30%; color: #fff; " class="anuual-fees">Rating Watch</th>
                      
                    </tr>
                    
                  </thead>
                  <tbody>
                    <tr class="tablezoom">
                      <td style="text-align: center;">
                        <span class="text-dark compare-card-title" style="text-align: center;">Meaning</span>
                      </td>
                      <td>
                        <span class="text-dark text-bold">Indicates possible direction of movement in rating over the medium term,based on CRISIL's assessment of key rating sensitivity factors</span>
                        <br>
                        
                      </td>
                      <td class="text-dark text-bold">Indicates uncertainty in rating due to occurrence/possible occurrence of specific events,the impact of which cannot be evaluated without additional information</td>
                     
                    </tr>
                    
                    <tr class="tablezoom" style="background-color: #3c567054;">
                      <td style="text-align: center;">              
                        <span class="text-dark compare-card-title">Types</span>
                      </td>
                      <td>
                        <span class="text-dark text-bold">Outlooks may be positive, stable, or negative</span>
                        <br>
                      </td>
                      <td class="text-dark text-bold">Rating watch listings can be positive, negative, or developing</td>
                      
                    </tr>
                    
                    <tr class="tablezoom">
                      <td style="text-align: center;">
                        <span class="text-dark compare-card-title">Time Horizon</span>
                      </td>
                      <td>
                        <span class="text-dark text-bold">Covers a duration of six months to two years</span>
                        <br>
                      </td>
                      <td class="text-dark text-bold">A rating watch is typically resolved in a short time frame of about 90 days</td>
                      
                    </tr>
                    
                    <tr class="tablezoom" style="background-color: #3c567054;">
                      <td style="text-align: center;">
                        <span class="text-dark compare-card-title">Instruments</span>
                      </td>
                      <td>
                        <span class="text-dark text-bold">Applicable to ratings assigned on the long-term, credit enhanced long-term and fixed-deposit scales</span>
                        <br>
                      </td>
                      <td class="text-dark text-bold">Applicable to all instruments including short-term instruments</td>
                      
                    </tr>
                    
                    
                    
                  </tbody>
                </table>
              </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- table-1 ends -->


<!-- table-2 starts -->

<section  class="wpb_row vc_row-fluid vc_custom_1530765217788" id="ratingtable" style=" padding-bottom: 4%; padding-top: 5%;">
<div class="container">
  <div class="row">
    <div class="wpb_column vc_column_container vc_col-sm-12">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper ">
          <div class="compare-table">
            <div class="bg-white table-responsive" style=" overflow-x: visible;">
              <div class="mb60 text-center section-title"  id="ratingheading">
                <!-- section title start-->
                <h2>Rating Scale Table </h2>
              </div>
              <div style="overflow-x:visible;">
              <table class="table example-card" style="border: 1px solid #dee2e6; overflow: visible;"   >

                <thead >
                  <tr >
                    <th>Long-Term Rating scale</th>
                    <th>Short-Term Rating scale</th>
                    <th colspan="2">Structured Finance rating scale</th>
                    <th colspan="2">Credit Enhancement rating scale</th>
                    <th>Corporate Credit Ratings scale</th>
                    <th>Fixed Deposit Rating Scale</th>
                    <th>Financial Strength Rating scale</th>
                    
                  </tr>
                  
                </thead>
                <thead>
                  <tr>
                    <th>Symbol(Rating category)</th>
                    <th>Symbol(Rating category)</th>
                    <th>Long-Term SO Instruments (Rating category)</th>
                    <th>Short-Term SO Instruments (Rating category)</th>
                    <th>Long-Term CE Instruments (Rating category)</th>
                    <th>Short-Term CE Instruments (Rating category)</th>
                    <th>Symbol (Rating category)</th>
                    <th>Symbol (Rating category)</th>
                    <th>Symbol (Rating category)</th>
                    
                  </tr>
                  
                </thead>
                <tbody>
                  <tr class="tablezoom" style="text-align: center;">
                    <td>
                      <span class="text-dark text-bold">AAA</span>
                    </td>
                    <td>
                      <span class="text-dark text-bold">A1</span>
                      <br>
                      
                    </td>
                    <td class="text-dark text-bold">AAA (SO)</td>
                    <td class="text-dark text-bold"> A1 (SO)</td>
                    <td class="text-dark text-bold"> AAA (CE)</td>
                    <td class="text-dark text-bold"> A1 (CE)</td>
                    <td class="text-dark text-bold"> AAA</td>
                    <td class="text-dark text-bold">AAA</td>
                    <td class="text-dark text-bold">AAA</td>
                  </tr>
                  
                  <tr class="tablezoom" style="text-align: center; background-color: #3c567054;">
                    <td >              
                      <span class="text-dark text-bold"> AA</span>
                    </td>
                    <td>
                      <span class="text-dark text-bold"> A2</span>
                      <br>
                    </td>
                    <td class="text-dark text-bold">AA (SO)</td>
                    <td class="text-dark text-bold"> A2 (SO)</td>
                    <td class="text-dark text-bold"> AA (CE)</td>
                    <td class="text-dark text-bold"> A2 (CE)</td>
                    <td class="text-dark text-bold"> AA</td>
                    <td class="text-dark text-bold">AA</td>
                    <td class="text-dark text-bold">AA</td>
                  </tr>
                  
                  <tr class="tablezoom" style="text-align: center;">
                    <td >              
                      <span class="text-dark text-bold"> A</span>
                    </td>
                    <td>
                      <span class="text-dark text-bold"> A3</span>
                      <br>
                    </td>
                    <td class="text-dark text-bold">A (SO)</td>
                    <td class="text-dark text-bold"> A3 (SO)</td>
                    <td class="text-dark text-bold"> A (CE)</td>
                    <td class="text-dark text-bold"> A3 (CE)</td>
                    <td class="text-dark text-bold"> A</td>
                    <td class="text-dark text-bold">A</td>
                    <td class="text-dark text-bold">A</td>
                    
                  </tr>
                  
                  <tr class="tablezoom" style="text-align: center; background-color: #3c567054;">
                    <td >              
                      <span class="text-dark text-bold"> BBB</span>
                    </td>
                    <td>
                      <span class="text-dark text-bold"> A4</span>
                      <br>
                    </td>
                    <td class="text-dark text-bold">BBB (SO)</td>
                    <td class="text-dark text-bold"> A4 (SO)</td>
                    <td class="text-dark text-bold"> BBB (CE)</td>
                    <td class="text-dark text-bold"> A4 (CE)</td>
                    <td class="text-dark text-bold"> BBB</td>
                    <td class="text-dark text-bold">BBB</td>
                    <td class="text-dark text-bold">BBB</td>
                    
                  </tr>
                  
                  <tr class="tablezoom"  style="text-align: center;">
                    <td >              
                      <span class="text-dark text-bold"> BB</span>
                    </td>
                    <td>
                      <span class="text-dark text-bold"> D</span>
                      <br>
                    </td>
                    <td class="text-dark text-bold"> BB (SO)</td>
                    <td class="text-dark text-bold"> D (SO)</td>
                    <td class="text-dark text-bold"> BB (CE)</td>
                    <td class="text-dark text-bold"> D (CE)</td>
                    <td class="text-dark text-bold"> BB</td>
                    <td class="text-dark text-bold">C</td>
                    <td class="text-dark text-bold">BB</td>
                    
                  </tr>

                  <tr class="tablezoom" style="text-align: center; background-color: #3c567054;">
                    <td >              
                      <span class="text-dark text-bold"> B</span>
                    </td>
                    <td>
                      <span class="text-dark text-bold"></span>
                      <br>
                    </td>
                    <td class="text-dark text-bold">B (SO)</td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"> B (CE)</td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"> B</td>
                    <td class="text-dark text-bold">D</td>
                    <td class="text-dark text-bold">B</td>
                    
                  </tr>

                  <tr class="tablezoom" style="text-align: center;">
                    <td >              
                      <span class="text-dark text-bold">C</span>
                    </td>
                    <td>
                      <span class="text-dark text-bold"></span>
                      <br>
                    </td>
                    <td class="text-dark text-bold">C (SO)</td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"> C (CE)</td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"> C</td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold">C</td>
                  </tr>

                  <tr class="tablezoom" style="text-align: center; background-color: #3c567054;">
                    <td >              
                      <span class="text-dark text-bold"> D</span>
                    </td>
                    <td>
                      <span class="text-dark text-bold"></span>
                      <br>
                    </td>
                    <td class="text-dark text-bold">D (SO)</td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"> D (CE)</td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"> D</td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold">D</td>
                    
                  </tr>

                  <tr class="tablezoom" style="text-align: center;">
                    <td >              
                      <span class="text-dark text-bold"></span>
                    </td>
                    <td>
                      <span class="text-dark text-bold"></span>
                      <br>
                    </td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"> SD</td>
                    <td class="text-dark text-bold"></td>
                    <td class="text-dark text-bold"></td>
                    
                  </tr>
                  
                  
                </tbody>
              </table>
            </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- table-2 ends -->  

  
  
      
   
  
  
  
  <!-- /.type of rating -->

  <div class="section-space80" style="overflow: hidden; background-color: #fff;margin-top: -8%;background-image:url('../../../assets/images/rag9.svg');background-position: 0 0 -120px -200px;
background-repeat: no-repeat; 
      background-size: cover;">
<div class="whycontainer">
<div class="row">
<div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
<div class="mb60 text-center section-title">
<!-- section title start-->
<h1></h1>
</div>
<!-- /.section title start-->
</div>
</div>
<!-- <div class="whysmeratingmob">
<div class="row">
<div class="col-xl-6 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">

<div class="example-card1" data-aos="fade-left">
<img class="example-header-image1" style="width:65px;height:65px" 
src="assets/images/corporate_rating.png">
<div><br>
<p style=" margin-top:10px; color: #38526d;  font-size: 16px;font-weight: 600;line-height: 18px;">
  Corporate Rating </p>
<p style="font-weight: 400; color: #3c5670;">
  A corporate  rating is an opinion of an independent agency regarding the likelihood that a corporation will fully meet its financial obligations as they come due. A company's  corporate rating indicates its relative ability to pay its creditors.</p>
</div>
</div>
</div>
<div class="col-xl-6 col-lg-4 col-md-4 col-sm-4 col-12" style="margin-bottom: 5%; text-align: center;">

<div class="example-card1" data-aos="fade-right">
<img class="example-header-image1" style="width:65px;height:65px" 
src="assets/images/finanacial_rating.png">
<div><br>
<p style=" margin-top:10px; color: #38526d;  font-size: 16px;font-weight: 600;line-height: 18px;">
  Financial Rating</p>
<p style="font-weight: 400; color: #3c5670;">
  Financial ratings are impartial third-party opinions of an issuer's ability and willingness to meet a specific financial obligation. ... Debt Rating: A debt rating is an assessment of an issuer's creditworthiness to meet a specific financial obligation.</p>
</div>
</div>
</div>

</div>
</div> -->


</div>
</div>

  <div class="bg-white  "
    style="overflow: hidden; background-color: white !important; height: 1050px; overflow: hidden;"
    *ngIf="global.ismobile==0">
    <div class="container applyLoan " style="background-color: white !important; padding: 30px 0;">

      <div class="ayHead aos-init aos-animate" data-aos="fade-up" data-aos-duration="400" data-aos-delay="500"
        data-aos-offset="200">
        <h1 style="text-align: center;">Easier to apply<br></h1>
      </div>

      <div class="ayContainer" style="background-color: white; background:  url(/assets/doted.png) no-repeat ;">
        <div class="ay-firstHalf ">
          <div class="ay-box ay-one row aos-init aos-animate " data-aos="zoom-in" data-aos-delay="100"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
                border-radius: 20px;background: white;
                opacity: 1;
                box-shadow: 0 0 30px 6px #eceff5;
                margin-bottom: 2%; width: 400px;;">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon1.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8 ">
              <h5 style="color: #38526d;">
                Request Rating</h5>
              <p style="font-weight: 400; color: #3c5670;">Request for rating by submitting your details through the
                form.</p>
            </div>

          </div>

          <div class="ay-box ay-two row aos-init aos-animate " data-aos="zoom-in" data-aos-delay="500"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
                border-radius: 20px;
                opacity: 1; background: white;
                box-shadow: 0 0 30px 6px #eceff5;
                margin-bottom: 2%; width: 400px;;">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon2.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Review </h5>
              <p style="font-weight: 400; color: #3c5670;">All your information will be collected and reviewed by us.</p>
            </div>

          </div>


          <!-- <div class="ay-box ay-two" style="opacity: 1;">
                  <img src="https://www.tribe3.com/wp-content/themes/tribe3/assets/images/temp.png" alt="temp">
                  <h5>Are you eligible?</h5>
                  <p>Next, check if you meet the criteria, by answering a few quick questions on
                    the form.</p>
                </div> -->
        </div>

        <div class="ay-secHalf " >
          <div class="ay-box ay-three row  aos-init aos-animate " data-aos="zoom-in" data-aos-delay="900"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
                border-radius: 20px; background: white;
                box-shadow: 0 0 30px 6px #eceff5;
                margin-bottom: 2%; width: 400px;;">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon3.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Facility Visit and Analysis</h5>
              <p style="font-weight: 400; color: #3c5670;">Facility visit and audit will be done by the concerned persons from CRA
                to make the analysis.</p>
            </div>

          </div>
          <div class="ay-box ay-four row  aos-init aos-animate " data-aos="zoom-in" data-aos-delay="900"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
                border-radius: 20px; background: white;
                box-shadow: 0 0 30px 6px #eceff5;
                margin-bottom: 2%; width: 400px;;">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon4.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Sit Back and Relax</h5>
              <p style="font-weight: 400; color: #3c5670;">We will co-ordinate the whole process with the rating
                agency and get your business rated.</p>
            </div>

          </div>




        </div>
      </div>


    </div>
  </div>

  <div class="bg-white  "
    style="overflow: hidden; background-color: white !important; height: 1050px; overflow: hidden;"
    *ngIf="global.ismobile==1">
    <div class="container applyLoan " style="background-color: white !important; padding: 30px 0; ">

      <div class="ayHead aos-init aos-animate col-12" data-aos="fade-up" data-aos-duration="400" data-aos-delay="200"
        data-aos-offset="200">
        <h1 style="text-align: center;">Easier to apply. Quicker to disburse</h1>
      </div>
      <div class="ayPara aos-init aos-animate col-12" data-aos="fade-up" data-aos-duration="400" data-aos-delay="100"
        data-aos-offset="200" style="padding-left: 0px; ">


        <div class="expand-para aos-init aos-animate " data-aos="fade-up" data-aos-duration="400" data-aos-delay="300"
          data-aos-once="true" data-aos-offset="200">
          <span>New business growth opportunities can come anytime. We want you to
            stay ready to grab them. No more waiting till you have enough funds.</span>

          <span class="complete">Our instant business loans are backed by fully online documentation. Just
            apply for a loan quickly, and get it disbursed in a snap. Get freedom and
            peace of mind to run your business the way you want, when you want.</span>

          <!-- <span class="expand-more">READ MORE</span> -->
        </div>
      </div>
      <div class="Container"
        style="background-color: white; background-color: white; background:  url(/assets/images/straightlinemob.svg) no-repeat ; background-position: center;">
        <div class="firstHalf " style="margin-left: 18px;">
          <div class="ay-box ay-one row aos-init aos-animate " data-aos="zoom-in" data-aos-delay="100"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
                border-radius: 20px;background: white;
                opacity: 1;
                box-shadow: 0 0 30px 6px #eceff5;
                margin-bottom: 2%;  width: 333px;  margin-bottom: 30px; margin-left: 4px; ">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon1.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8 ">
              <h5 style="color: #3c4d6b;">
                Request Rating</h5>
              <p style="font-weight: 400; color: #3c5670;">Request for rating by submitting your details through the form.</p>
            </div>

          </div>

          <div class="ay-box ay-two row aos-init aos-animate " data-aos="zoom-in" data-aos-delay="200"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
                border-radius: 20px;
                opacity: 1; background: white;
                box-shadow: 0 0 30px 6px #eceff5;
                margin-bottom: 2%;  width: 333px;  margin-bottom: 30px; margin-left: 4px; ">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon2.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Review</h5>
              <p style="font-weight: 400; color: #3c5670;">All your information will be collected and reviewed by us.
              </p>
            </div>

          </div>


          <!-- <div class="ay-box ay-two" style="opacity: 1;">
                  <img src="https://www.tribe3.com/wp-content/themes/tribe3/assets/images/temp.png" alt="temp">
                  <h5>Are you eligible?</h5>
                  <p>Next, check if you meet the criteria, by answering a few quick questions on
                    the form.</p>
                </div> -->
        </div>

        <div class="secHalf " style="margin-left: 18px;">
          <div class="ay-box ay-three row  aos-init aos-animate " data-aos="zoom-in" data-aos-delay="200"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
                border-radius: 20px; background: white;
                box-shadow: 0 0 30px 6px #eceff5;
                margin-bottom: 2%;  width: 333px;  margin-bottom: 30px; margin-left: 4px; ">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon3.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Facility Visit and Analysis</h5>
              <p style="font-weight: 400; color: #3c5670;">Facility visit and audit will be done by the concerned persons from CRA to make the analysis.</p>
            </div>

          </div>
          <div class="ay-box ay-four row  aos-init aos-animate " data-aos="zoom-in" data-aos-delay="200"
            data-aos-duration="400" data-aos-offset="200" style="   padding: 25px 10px;
                border-radius: 20px; background: white;
                box-shadow: 0 0 30px 6px #eceff5;
                margin-bottom: 2%; width: 333px;  margin-bottom: 30px; margin-left: 4px; ">
            <div class="col-4" style="   padding: 0px;">
              <img src="assets/images/crediticon4.svg" style="height: 70px; margin-left: 25px;" alt="smebazaar">

            </div>
            <div class="col-8">
              <h5 style="color: #3c4d6b;">
                Sit Back and Relax</h5>
              <p style="font-weight: 400; color: #3c5670;">We will co-ordinate the whole process with the rating agency and get your business rated.</p>
            </div>

          </div>




        </div>
      </div>


    </div>
  </div>
  <app-footer></app-footer>


  <script type="text/javascript">
    //jQuery to collapse the navbar on scroll
    $(window).scroll(function () {
      if ($(".header-transparent").offset().top > 50) {
        $(".navbar-fixed-top").addClass("top-nav-collapse");
      } else {
        $(".navbar-fixed-top").removeClass("top-nav-collapse");
      }
    });

    $(function () {
      var thumb = $('.thumb');
      thumb.click(function () {
        $(this).toggleClass('move');

      })
    })

    //aimate

    var $animation_elements = $('.animation-element');
    var $window = $(window);

    function check_if_in_view() {
      var window_height = $window.height();
      var window_top_position = $window.scrollTop();
      var window_bottom_position = (window_top_position + window_height);

      $.each($animation_elements, function () {
        var $element = $(this);
        var element_height = $element.outerHeight();
        var element_top_position = $element.offset().top;
        var element_bottom_position = (element_top_position + element_height);

        //check to see if this current container is within viewport
        if ((element_bottom_position >= window_top_position) &&
          (element_top_position <= window_bottom_position)) {
          $element.addClass('in-view');
        } else {
          $element.removeClass('in-view');
        }
      });
    }

    $window.on('scroll resize', check_if_in_view);
    $window.trigger('scroll', check_if_in_view);

  </script>

  <script type="text/javascript">
    (function ($) {
      $(document).ready(function () {
        $("#example-one, #example-two, #example-three, #example-four, #example-five ").on("click", function () {
          var el = $(this);
          el.text() == el.data("text-swap") ?
            el.text(el.data("text-original")) :
            el.text(el.data("text-swap"));
        });
      });
    })(jQuery);

  </script>
  <!-- Mirrored from jituchauhan.com/borrow/bootstrap-4/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 05 Jan 2020 07:41:25 GMT -->

  <style>
 th{
   border-right: 2px solid #dee2e6;
   text-align: center !important;
 }
  td{
   border-right: 2px solid #dee2e6;
   text-align: center;
   border-bottom: 2px solid #dee2e6;

 }
.table>tbody>tr>td{
  padding: 10px !important;
}
.compare-table .table>thead>tr>th{
  padding: 10px 5px 10px 5px !important;
  background-color: #3c5670;
  color: #ffffff;
}

.tablezoom{
  position: relative;
}
.tablezoom:hover{
 
  transform: scale(1.15);
  z-index:9999999999;
  background-color: #ddd !important;
  border-radius: 20px !important;
  border: solid 1px #000 !important;
}
    .example-card {
      padding: 40px 30px;
      border-radius: 20px;
      box-shadow: 0 0 30px 6px #eceff5;
      margin-bottom: 2%;

      background-color: #fff;

    }

    @media (max-width: 600px) {
      .example-card {
        margin-bottom: 10%;
      }
    }

    .example-header-image {
      zoom: 1.5;
     


    }

  </style>

  <style>
    .chooseLoan .expand-para,
    .applyLoan .expand-para {
      margin: 0px auto;
      width: 100%;
      max-width: 575px;
      text-align: center;
      min-height: 135px;
    }

    .emi-calculator .expand-para {
      max-width: 650px;
      text-align: center;
      margin: 0px auto;
      padding-bottom: 10px;

    }


    .chooseLoan .expand-btn,
    .reachout .expand-btn {

      text-align: center;
      margin: 0px auto;
      width: 100%;
    }

    .chooseLoan .expand-btn a,
    .reachout .expand-btn a,
    .tribe-offer .expand-btn a {
      color: #55d32e;

    }

    .complete {
      display: none;
    }

    .complete1 {
      display: none;
    }

    .expand-more {
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      color: #55d32e;
      cursor: pointer;
      transition: 1s ease;
    }

    .expand-more1 {
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      color: #55d32e;
      cursor: pointer;
      transition: 1s ease;
    }

    .expand-morefaq {
      font-size: 15px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      text-transform: uppercase;
      color: #55d32e;
      cursor: pointer;
      transition: 1s ease;
    }

    .chooseLoan .loanAnima {
      position: relative;
      width: 100%;
      top: 10px
    }

    .chooseLoan .loanAnima .loanBox {
      position: relative;
      width: 33.33%;
      text-align: center;
      float: left;
    }

    .chooseLoan .loanAnima .loanBox.l-one {
      left: 0;
      margin-top: 130px;
    }

    .chooseLoan .loanAnima .loanBox.l-two {
      left: 0;
      margin-top: 62px;
    }

    .chooseLoan .loanAnima .loanBox.l-three {
      left: 0;
      margin-top: -50px;
    }

    .chooseLoan .loanAnima .loanBox img {
      display: block;
      max-width: 64px;
      margin: 0 auto;
    }

    .chooseLoan .loanAnima .loanBox .lt-type {
      font-size: 21px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      margin: 5px 0 20px 0;
      display: block;
    }

    .chooseLoan .loanAnima .loanBox .oval {
      width: 30px;
      height: 30px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border: solid 2.1px #ffffff;
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }

    .chooseLoan .loanAnima .loanBox .oval span {
      width: 18px;
      height: 18px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #ffffff;
      border-radius: 50%;
      display: inline-block;
      margin: 4px 0;
    }

    .chooseLoan .loanAnima .loanBox .lt-amt {
      font-size: 28px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
      display: block;
      margin: 30px 0 0 0
    }

    .chooseLoan .loanAnima .loanBox .lt-amt span {
      font-weight: 300;
    }

    .chooseLoan .loanAnima .loanBox .lt-details {
      max-width: 202px;
      text-align: center;
      margin: 0 auto;
      display: block;
    }

    .chooseLoan .loanAnima .loanBox .lt-details p {
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #4f4f4f;
      margin-bottom: 0;
      padding: 20px 0
    }

    .chooseLoan .loanAnima .loanBox .lt-details p:first-child {
      border-bottom: solid 1px rgba(151, 151, 151, 0.22);
    }

    .chooseLoan .loanAnima .loanBox a {
      font-size: 15px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      width: 130px;
      height: 45px;
      border-radius: 25px;
      background-color: #55d32e;
      display: block;
      margin: 15px auto 0 auto;
      text-transform: uppercase;
      line-height: 45px;
      position: relative;
      overflow: hidden;
    }




    .chooseLoan .loanAnima .loanBox a:hover span {
      position: relative;
      z-index: 999;
      color: #55d32e
    }

    .chooseLoan .loanAnima .loanBox a:hover {
      border: 1px solid #55d32e;
    }



    .chooseLoan .loanAnima .loanBox a:after {
      content: '';
      position: absolute;
      z-index: -1;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      width: 0%;
      height: 100%;
      top: 0;
      left: 0;
      background: #fff;
      opacity: 0;
      z-index: 99;
    }

    .chooseLoan .loanAnima .loanBox a:hover:after {
      width: 100%;
      opacity: 1;
    }


    .path2 {
      stroke-dasharray: 3000;
      stroke-dashoffset: 3000;
      animation: dash3 4s linear;
      animation-iteration-count: infinite;
      ;
      animation-fill-mode: backwards;
      animation-delay: .4s;
    }

    @keyframes dash3 {
      from {
        stroke-dashoffset: 3000;
      }

      to {
        stroke-dashoffset: 0;
      }
    }




    .path-start1,
    .path-start2 .path-start3 {
      opacity: 0;
    }


    .path-start1.path3 {
      opacity: 1;
    }

    .path-start2.path3 {
      opacity: 1;
    }

    .path-start3.path3 {
      opacity: 1;
    }


    .path3 {
      stroke-dasharray: 3000;
      stroke-dashoffset: 3000;
      animation: dash3 12s linear;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      animation-delay: 1s;

    }


    @keyframes dash3 {
      from {
        stroke-dashoffset: 3000;
      }

      to {
        stroke-dashoffset: 0;
      }
    }







    .applyLoan {
      display: block;
      position: relative;
      padding: 60px 0
    }

    .applyLoan .ayHead {}

    .applyLoan .ayHead h3 {
      font-size: 36px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #000000;
    }


    .applyLoan .ayPara {
      max-width: 860px;
      margin: 0px auto;
      width: 100%;
    }

    .applyLoan .ayPara p {

      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      text-align: center;
      color: #393535;
    }


    .ay-firstHalf {
      float: left;
      width: 50%;
    }

    .ay-secHalf {
      float: left;
      width: 50%;
    }

    .applyLoan .ayContainer {
      position: relative;
      display: block;
      margin-top: 60px;
      float: left;
      width: 100%;
    }


    .applyLoan .ayContainer .ay-box {
      position: relative;
      float: left;
      width: 100%;
      transition: .5s ease all;
    }

    .applyLoan .ayContainer .ay-box img {
      margin-bottom: 30px;
    }

    .applyLoan .ayContainer .ay-box h5 {
      padding-left: 0px;
      max-width: 370px;
      font-size: 21px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }

    .applyLoan .ayContainer .ay-box p {
      padding-left: 0px;
      max-width: 370px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.63;
      letter-spacing: normal;
      color: #000000;
    }

    .applyLoan .ayContainer .ay-box.ay-one {
      left: 188px;
      margin-bottom: 50px;
      top: -30px;
    }

    .applyLoan .ayContainer .ay-box.ay-two {
      left: 95px;
      top: -15px;
    }

    .applyLoan .ayContainer .ay-box.ay-three {
      margin-top: 250px;
      left: 30px
    }

    .applyLoan .ayContainer .ay-box.ay-four {
      margin-top: 60px;
      left: 107px;
    }


    .svg-path {
      position: absolute;
      z-index: -10;
      top: 312px;
    }

    .reachout {
      background-color: #15243a;
      color: #fff;
      padding: 60px 0;
    }

    .reachout .reachout-head {
      position: relative;
      width: 100%;
    }

    .reachout .reachout-head h3 {
      font-size: 28px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      margin-bottom: 10px;
      color: #ffffff;
    }

    .reachout .expand-para span {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.48;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      ;
    }

    .reachout .expand-para,
    .benft-tribe p {
      max-width: 570px;
      width: 100%;
      margin: 0px auto 60px auto;
      text-align: center;
    }


    .reachout .rea-box {
      text-align: center;
    }

    .reachout .rea-box img {
      margin-bottom: 40px;
      max-height: 80px;
    }

    .reachout .rea-box h4 {
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      max-width: 314px;
      margin: 0 auto;
    }

    .reachout .rea-box h4 span {
      font-size: 28px;
    }

    .reachout .rea-box.rea-wt h4 {
      line-height: 1.2;
    }

  </style>





  <script>
    function pathPrepare($el) {
      var lineLength = $el[0].getTotalLength();
      $el.css("stroke-dasharray", lineLength);
      $el.css("stroke-dashoffset", lineLength);
    }
    firstDraw();
    secondDraw();

    function firstDraw() {
      let duration = $('.applyLoan').height();
      var $word = $("path#word");

      // prepare SVG
      pathPrepare($word);
      // pathPrepare($dot);

      // init controller
      var controller = new ScrollMagic.Controller();

      // build tween
      var tween = new TimelineMax()
        .add(TweenMax.to($word, 0.9, {
          strokeDashoffset: 0,
          ease: Linear.easeNone
        })) // draw word for 0.9
        .add(TweenMax.to("path", 1, {
          ease: Linear.easeNone
        }), 0); // change color during the whole thing

      // build scene
      var scene = new ScrollMagic.Scene({
          triggerElement: "#trigger1",
          duration: duration,
          tweenChanges: true
        })
        .setTween(tween)
        //    .addIndicators() // add indicators (requires plugin)
        .addTo(controller);
    }

    function secondDraw() {
      if (!mobile) {
        let duration = $('.chooseLoan').height();
        var $word = $("path#word2");
        console.log(isMobile, 111);
        // prepare SVG
        pathPrepare($word);
        // pathPrepare($dot);

        // init controller
        var controller = new ScrollMagic.Controller();

        // build tween
        var tween = new TimelineMax()
          .add(TweenMax.to($word, 0.9, {
            strokeDashoffset: 0,
            ease: Linear.easeNone
          })) // draw word for 0.9
          .add(TweenMax.to("path", 1, {
            ease: Linear.easeNone
          }), 0); // change color during the whole thing

        // build scene
        var scene = new ScrollMagic.Scene({
            triggerElement: "#trigger",
            duration: duration - 200,
            tweenChanges: true
          })
          .setTween(tween)
          // .addIndicators() // add indicators (requires plugin)
          .addTo(controller);
      }

      function secondDraw() {
        if (!mobile) {
          let duration = $('.chooseLoan').height();
          var $word = $("path#word2");
          console.log(isMobile, 111);
          // prepare SVG
          pathPrepare($word);
          // pathPrepare($dot);

          // init controller
          var controller = new ScrollMagic.Controller();

          // build tween
          var tween = new TimelineMax()
            .add(TweenMax.to($word, 0.9, {
              strokeDashoffset: 0,
              ease: Linear.easeNone
            })) // draw word for 0.9
            .add(TweenMax.to("path", 1, {
              ease: Linear.easeNone
            }), 0); // change color during the whole thing

          // build scene
          var scene = new ScrollMagic.Scene({
              triggerElement: "#trigger1",
              duration: duration - 200,
              tweenChanges: true
            })
            .setTween(tween)
            // .addIndicators() // add indicators (requires plugin)
            .addTo(controller);
        }


      }

  </script>

  <style>
    body {
      overflow-x: hidden;
    }
    

  </style>
  <style>
    .example-card {
      padding: 40px 30px;
      border-radius: 20px;
      box-shadow: 0 0 30px 6px #eceff5;
      margin-bottom: 2%;

      background-color: #fff;

    }

    .example-card1 {
      background-color: #fff;
      padding: 20px 20px;
      border-radius: 20px;
      box-shadow: 0 0 30px 6px #eceff5;
      margin-bottom: 2%;

    }

    @media (max-width: 600px) {
      .example-card1 {
        margin-bottom: 10%;
      }
    }

    .example-header-image1 {
      zoom: 1.3;
      /* position: absolute;
            top: -30px; */


    }

  </style>
</ng-container>
