
<mat-sidenav-container class="example-container" >
    <mat-sidenav class="menu" mode="side" opened style="   min-width: 230px; max-width: 230px;" *ngIf="menu==1">
    
        <div class="col leftSection py-4">
            <a href="/"><img src="http://13.126.161.129/smefinal/images/logo-white.png" class="compLogo mb-4" alt="smebazaar"></a>
            <ul class="nav flex-column nav-pills" id="myTab" role="tablist" aria-orientation="vertical">
              <li class="nav-item">
                <a class="dashboard nav-link active show" id="dashboard-tab" data-toggle="tab"  (click)="swap('1')" role="tab" aria-controls="dashboard" aria-selected="true" style="cursor: pointer;">Dashboard
                  <!-- <span class="blueCircle ml-2 d-none" id="showDashboardCount1">0</span>
                  <p>Your Account Overview</p> -->
                </a>
              </li>
              <!--li class="nav-item">
                <a class="conversations nav-link" id="conversations-tab" data-toggle="tab" href="#conversations" role="tab" aria-controls="conversations" aria-selected="false">Conversations
                  <p>This your support section.</p>
                </a>
              </li-->
              <li class="nav-item">
                <a class="vehicles vehiclesClick nav-link"  data-toggle="tab"  (click)="swap('2')" role="tab" aria-controls="compare" aria-selected="true" style="cursor: pointer;">Compare Loans
                  <!-- <p>We will remind you before expiry of policy.</p> -->
                </a>
              </li>
              <li class="nav-item">
                <a class="vehicles vehiclesClick nav-link" id="vehicles-tab" data-toggle="tab"  (click)="swap('3')" role="tab" aria-controls="vehicles" aria-selected="false" style="cursor: pointer;">Calculator
                  <!-- <p>We will remind you before expiry of policy.</p> -->
                </a>
              </li>
              <li class="nav-item">
                <a class="vehicles vehiclesClick nav-link" id="vehicles-tab" data-toggle="tab"  (click)="swap('4')" role="tab" aria-controls="vehicles" aria-selected="false" style="cursor: pointer;">ifsc
                  <!-- <p>We will remind you before expiry of policy.</p> -->
                </a>
              </li>
              <li class="nav-item">
                <a class="favourites nav-link" id="favourites-tab" data-toggle="tab" href="#favourites" (click)="swap('5')" role="tab" aria-controls="favourites" aria-selected="false">Tracking
                  <span class="redCircle ml-2"></span>
                  <!-- <p>Here are the plans tha you liked.</p> -->
                </a>
              </li>
              <!--li class="nav-item">
                <a class="payment nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Quick Pay
                  <p>Manage your payment methods e.g. Debit Card, Credit Card.</p>
                </a>
              </li-->
              <li class="nav-item">
                <!-- <a class="feedback nav-link" id="feedback-tab" data-toggle="tab" (click)="swap('4')" role="tab" aria-controls="feedback" aria-selected="false" style="cursor: pointer;">Rating -->
                  <!-- <p>Share your experience with us.</p> -->
                <!-- </a> -->
              </li>
            </ul>
          </div>
        
        </mat-sidenav>
    <mat-sidenav-content  [ngClass]=" {blurr: menu == 1}"> 
      <style>
      .blur{
        filter: blur(3px) 
      }
      </style>
        <nav class="navbar fixed-top" style="width: 100%">
            <div class="container-fluid">
              <div class="row">
                <div class="col-2">
                  <h4 class="mb-0 mt-2 text-uppercase"></h4>
                </div>
                <div class="col-4" *ngIf="0">
                  <h4 class="mb-0 mt-2 text-uppercase">My Account</h4>
                </div>
                <div class="col-10 text-right">
                  <a class="userLogin text-capitalize" (click)="menu=!menu">
                    <p id="showCustomerName">Onstep Technologies </p>
                    <span><img class="profileLogo" src="https://qbstatic.com/desktop/images/profile-icon.svg" height="32px" alt="smebazaar"></span>
                  </a>
                </div>
              </div>
            </div>
          </nav>
          <app-filter > </app-filter>
          <app-mobileloanlisting *ngIf="id==7"> </app-mobileloanlisting>
          <!-- <app-loancompare *ngIf="id==2"  > </app-loancompare> -->
             
              <app-calculator *ngIf="id==3" > </app-calculator>
              <app-ifsc *ngIf="id==4"></app-ifsc>
              <app-tracking *ngIf="id==5"></app-tracking>
             
              <!-- <app-footer ></app-footer> -->
    
    </mat-sidenav-content>
    
  
  </mat-sidenav-container> 
