
<app-header>

</app-header>
<div style="margin-top: 200px;  position: relative; height: 100px; " class="text-center"> 

    <lottie-animation-view
  [options]="notfound"
  [width]="620"
  [height]="250"
  >
  </lottie-animation-view> 
  
  <h1>Page Not Found </h1>
  </div>
  
