<ng-container>
  <style>
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;

  }

</style>
<div class="container" style="width: 100% !important;">
  <div class="row" style="width: 100%;">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt40">
      <div class="section-space20" >
        
        <mat-accordion >
          <mat-expansion-panel  [expanded]="filterstate === 1" (opened)="filterstate = 1" (closed)="filterstate = 0" [hideToggle]="true"
          >
            <mat-expansion-panel-header >
        <div style="width:100%">

          <!-- <p  style="width:20%;  color: #3c4d6b; display: inline-block; " class="card-tag" (click)="flag='1'" style="cursor: pointer;">BANK</p>
          <p  style="width:20%;  color: #3c4d6b;display: inline-block;" class="card-tag" (click)="flag='1'" style="cursor: pointer;">BANK</p>
          <p  style="width:20%;  color: #3c4d6b;display: inline-block; " class="card-tag" (click)="flag='1'" style="cursor: pointer;">BANK</p> -->

          <th style="color: #3c4d6b; cursor: pointer; float:left; position: relative;" class="card-tag" ><span
              style="padding-right: 10px;color: #000;"><i class="fa fa-filter"></i></span>FILTER &nbsp;
              <i *ngIf="filterstate === 1" style="margin-top: -15px;" class="fa fa-sort-up"></i>
              <i *ngIf="filterstate != 1" class="fa fa-sort-down"></i>
            
            </th>

          <!-- <th style="color: #3c4d6b;cursor: pointer; padding-left: 20px; " class="card-tag" (click)="filtertype='bank'"><span
              style="padding-right: 10px;color: #000;"><i class="fa fa-university"></i></span>BANK <i
              style="padding-left: 5px;" class="fa fa-sort-down"></i></th>
          <th style="padding-left: 30px;">|</th>
          <th style="color: #3c4d6b;cursor: pointer; padding-left: 20px;" class="card-name" (click)="filtertype='range'" ><span
              style="padding-right: 10px;color: #000;"><i class="fa fa-percent"></i></span>INTEREST RATE <i
              style="padding-left: 5px;" class="fa fa-sort-down"></i></th> -->
          <th style="color: #3c4d6b; cursor: pointer; float: right; position: relative;" class="card-name" (click)="clearfilter()">
            <span style="padding-right: 5px;color: #000;"><i class="fa fa-eraser"></i></span> Clear Filter</th>

        </div>

      </mat-expansion-panel-header>

<ng-container > 
        <label *ngFor="let x of name " class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
          <input (click)="selectit(x.id)" [(ngModel)]="bankname[x.id]" type="checkbox" name="favorite1"
            value="hdfc" style="padding: 30px;" />
          {{x.name}} </label>
<div class="row"> 
          <!-- <ion-range mode="md" color="dark"   class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-5 " [(ngModel)]="newrange" dualKnobs="true" min="10" max="40" pin="true" step="1" >
            <ion-note color="dark"  slot="start"> 10 %</ion-note>
            <ion-note color="dark"  slot="end"> 40 %</ion-note>
    
            </ion-range>
            <a class="btn btn-default" 
            style="background-color: #6262f6 !important; color: white; height:30px;"
            (click)="geting()">Apply Now</a>
            {{str(newrange)}} -->
                <ion-range mode="md" color="dark"  style="margin-left:15%;" class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-5 " [(ngModel)]="newrange" dualKnobs="true" min="10" max="40" pin="true" step="1" >
                    <ion-note color="dark"  slot="start"> 10 %</ion-note>
                    <ion-note color="dark"  slot="end"> 40 %</ion-note>
            
                    </ion-range>
                   
              <a class="btn btn-default btn-sm mb5" style="height: 35px; padding-top:13px; margin-top: 30px; color:white;" (click)="geting()">Apply Now</a>
              <br>
                  <span class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-5 "  style="margin-left:15%;" > Show offers with interest rate range upto : {{newrange.lower}} % - {{newrange.upper}} % </span>
              </div>

        </ng-container>

<ng-container *ngIf="filtertype=='range'" > 
       

      <!-- <ion-range id="dual-range" dual-knobs pin color="dark">
        <ion-icon slot="start" size="small" name="brush"></ion-icon>
        <ion-icon slot="end" name="brush"></ion-icon>
      </ion-range> -->

        <ion-range mode="md" color="dark"   class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-5 " [(ngModel)]="newrange" dualKnobs="true" min="10" max="40" pin="true" step="1" >
        <ion-note color="dark"  slot="start"> 10 %</ion-note>
        <ion-note color="dark"  slot="end"> 40 %</ion-note>

        </ion-range>
        <a class="btn btn-default" 
        style="background-color: #6262f6 !important; color: white; margin-left: 28%;padding:10px"
        (click)="geting()">Apply Now</a>
        {{str(newrange)}}

      
        <!-- <style>
      .range-pin{
        background-color: yellow;
      }
        </style> -->
      </ng-container>


    </mat-expansion-panel>
    
  </mat-accordion>
      </div>
    </div>
  </div>
</div>


<!-- <div class="row">
        <div data-aos="fade-left" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
          <ul class="text" style="color:#3c5670">
            <li (click)="flag='1'" style="cursor: pointer;">&nbsp;&nbsp;Business Loan</li>
            </ul>
            </div>
    </div> -->
<div *ngIf="flag=='1'" class="Container noscroll" style="padding:10%;position: fixed;width:50%;height:80%;
/* background-color:white; */
    top: 42%;
    left: 48%;
    transform: translate(-50%, -50%); z-index: 9999999999999;">

  <div class="example-card" data-aos="zoom-in-up" style="  box-shadow: 0 6px 6px 6px #8d9097;
   padding-left: 4%; background-color:white; ">


    <div class="row" >
      <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper ">
            <div class="compare-table">
              <div class="bg-white table-responsive" style=" overflow-x: visible;">
                <div class='row'>

                  <a (click)="flag='0'" class="back btn closeOtpPopUp" style="font-size: 20px;"><i
                      class="fa fa-arrow-left mr-1"></i> </a>
                  <!-- section title start-->
                  <h2 *ngIf="flag=='1' && loanapply!='yes'" style="margin-left:18%;text-align: center;margin-top: 2%; " > Apply now </h2>


                </div>
                <div style="overflow-x:visible; background-color: #fff;"
                  class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 ">


                  <div *ngIf="flag=='1'" style="color:#3c5670;font-size: 14px;background-color: #fff;">
                      <!-- <a (click)="flag='0'" class="back btn closeOtpPopUp" style="font-size: 20px;"><i
                        class="fa fa-arrow-left mr-1"></i> </a> -->
                        <form  >
                                    <div>
                                      <h3  *ngIf="loanapply=='yes'"> Your request recived. We will contact you soon </h3>
                                    </div>                                     
                            <div class="row" *ngIf="loanapply!='yes'">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="sr-only control-label" for="name">PAN</label><span class="wpcf7-form-control-wrap names"><input type="text" name="names" [(ngModel)]="formdata.pan" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control input-md" id="name" aria-required="true" aria-invalid="false" placeholder="PAN" /></span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="sr-only control-label" for="email">Email</label><span class="wpcf7-form-control-wrap email"><input type="email" name="email" [(ngModel)]="formdata.turnover"  value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control input-md" id="email" aria-required="true" aria-invalid="false" placeholder="Yearly Turnover (In lakh)" /></span>
                                    </div>
                                </div>
                               
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        Financial statements (Past 3 years)
                                        <label class="sr-only control-label" for="email">Financial statements</label><span class="wpcf7-form-control-wrap email"><input type="file" name="file"  (change)="fileChange($event)" [(ngModel)]="uploadedFiles[0]" value="" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control input-md" id="email" aria-required="true" aria-invalid="false" placeholder="" /></span>
                                    </div>
                                </div>
                               
                                <div class="col-md-4 col-xs-4">
                                </div>
                                <div class="col-md-8 col-xs-8">
                                    <input type="submit" (click)="applyit()" value="Submit" class="wpcf7-form-control wpcf7-submit btn btn-default" />
                                </div>
                            </div>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                        

                  </div>
                  <br>





                  <br>
                  <!-- <a class="btn btn-default" *ngIf="flag=='1'"
                    style="background-color: #6262f6 !important; color: white; margin-left: 38%;"
                    (click)="popups.opensignup()">Apply Now</a> -->
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div *ngIf="0" class="Container noscroll" style="padding:10%; z-index: 9999999999999; position: fixed;width:90%;height:80%;
    top: 42%;
    left: 54%;
    transform: translate(-50%, -50%);">

  <div class="example-card" data-aos="zoom-in-up" style="  box-shadow: 0 0 80px 6px #eceff5;padding-left: 4%; ">



    <div class="bg-white table-responsive" style=" overflow-x: visible;">
      <div class='row'>
        <a (click)="flag='0'" class="back btn closeOtpPopUp" style="font-size: 20px;"><i
            class="fa fa-arrow-left mr-1"></i> </a>
        <!-- section title start-->
        <h2 *ngIf="flag=='2'" style="margin-left:30%;text-align: center;margin-top: 2%; "> INTEREST RATE
        </h2>


      </div>
      <div *ngIf="flag=='2'" style="overflow-x:visible; background-color: #fff;"
        class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12 ">

        14% <mat-slider *ngIf="flag=='2'" thumbLabel [displayWith]="formatLabel" tickInterval="3" min="14" max="40"
          (input)="onInputChange($event)"></mat-slider> 40%
        <a class="btn btn-default" *ngIf="flag=='2'"
          style="background-color: #6262f6 !important; color: white; margin-left: 38%;padding:10px"
          (click)="rangefilter()">Submit</a>

      </div>
    </div>
  </div>
</div>



<div *ngIf="list=='1' || global.filter=='1'  " class="col-xl-12 col-lg-9 col-md-12 col-sm-12 col-12">

  <div class="pdb40 compare-table" style="display: inline-block;">

    <div class="bg-white table-responsive" style=" border-radius: 20px;box-shadow: 0 0 30px 6px #eceff5;">
      <table class="table">
        <thead>
          <tr>
            <th style="width:21%;" class="card-tag">Bank</th>
            <th style="width:18%;" class="card-name">Interest Rate Range</th>
            <th style="width:18%;" class="anuual-fees">Processing Fee Range</th>
            <th style="width:11%;" class="reward-rate">Loan Amount</th>
            <th style="width:11%;" class="action">Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let x of banklist; let i = index;"> 
          <tr >

            <td><img src="http://13.126.161.129/smebackend{{x.image}}" alt="" style="max-height:40px;" class="img-fluid">
              <!-- <div class="icon rate-done mb10"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star "></i></div> -->

            </td>

            <td>
              <span class="text-dark compare-card-title">
                {{x.from}} % - {{x.to}} %</span>
              <br>
            </td>
            <td class="text-dark text-bold">{{x.feerange}}</td>
            <td class="text-dark text-bold">{{x.loanamount}}</td>
            <td class="text-center" >
              <a class="btn btn-default btn-sm mb5" style="color: white;"(click)="flag=1" > Apply Now</a>
              <!-- <br><small>on bank's secure application</small> -->
              <!-- <div class="mt10"><a class="btn-link" id="example-one" data-text-swap="Hide Details"
                  data-text-original="Expand Details" data-toggle="collapse" href="#collapseExample{{i}}"
                  aria-expanded="false" aria-controls="collapseExample"> More Details </a></div> -->
            </td>
          </tr>
          <tr >
                                    <td  colspan="12" class="expandable-info">
                                    <div class="collapse expandable-collapse" id="collapseExample{{i}}">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="mb20">Loan Information</h4>
                                                            <ul class="bullet bullet-check-circle list-unstyled">
                                                                <li>3% back at gas stations</li>
                                                                <li>2% back at grocery stores</li>
                                                                <li>1% back on regular purchases</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="mb20">What We Like</h4>
                                                            <ul class="bullet bullet-check-circle list-unstyled">
                                                                <li>1% APR on regular purchases for first 12 months</li>
                                                                <li>1% APR on balance transfers for first 12 months</li>
                                                                <li>11% bonus when redeeming rewards into a Bank of Borrow checking or savings account</li>
                                                                <li>No annual fee</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                                    <div class="card border-0">
                                                        <div class="card-body">
                                                            <h4 class="mb20">What to Consider</h4>
                                                            <ul class="bullet bullet-check-circle list-unstyled">
                                                                <li>Regular APR: 13.99% - 23.99%, variable</li>
                                                                <li>Balance Transfer APR: 13.99% - 23.99%, variable</li>
                                                                <li>Cash Advance APR: 16.99% - 25.99%, variable</li>
                                                                <li>Penalty APR: 29.99%, variable</li>
                                                                <li>3% foreign transaction fee</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12">
                                                    <div class="mt30">
                                                        <h4 class="mb5">Related Information</h4>
                                                        <p>See additional details for <a href="">Smebazaar</a> policy</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                              </ng-container>

        </tbody>
      </table>
    </div>
  </div>
</div>
</ng-container> 

